{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div class="container-xl shadow-lg rounded mt-5">
  
  <div>
    <img src="https://static.igem.wiki/teams/4422/wiki/attributions/attributions-table-mesa-de-trabajo-1.png" alt="attributions-table-mesa-de-trabajo-1" class="img-fluid">
  </div>
  <div>
    <img src="https://static.igem.wiki/teams/4422/wiki/attributions/attributions-table-2.png" alt="attributions-table-02" class="img-fluid">
  </div>
  <div class="info mb-5 pb-5 mt-3">

    
    <p>Every person involved in this project has given a unique perspective to our team and has helped in the development of this incredible project that once seemed like just a dream. Thanks to the sum of all the effort of team members, advisors, mentors, instructors, collaborators, and the society that supported us through our journey in the competition, now we can present to you all the people behind Spidicide.
    </p>
    <p>UAM is divided in two main sections, Human Practices and  Biological Engineering, that are  subdivided as:</p>
    <ul>
      <p class="fw-bold">Human Practices</p>
      <li>Integrated Human Practices: This part of the team is in charge of connecting the scientific project according to society's needs. One of the main goals was to identify and engage with stakeholders related to the problem and consider the feedback for the improvement of Spidicide. </li>
      <li>Education: It is in charge of organizing educational and
        collaborative activities for scientific dissemination with the objective of making science more approachable for everyone.</li>
        <li>Bioentrepeneurship. This subsection aims to create a real start-up based on business strategies for our biopesticide.</li>
        <li>Communication & Design. This part of the team is in charge of all the visual material for communicating the ideas we have in our project. This section is also responsible for social media and the image we give to the world.
        </li>
        <li>Fundraising. Responsible for organizing activities and strategies for raising money.
        </li>
        <p class="fw-bold mt-3">Biological Engineering
        </p>
        <li> Biosafety & Biosecurity: Responsible for reviewing the laws and regulations related to synthetic biology in our country and others for having a project that follows the safety protocols. This part of the team was also responsible for performing bioessays.team to write a manual to ensure the good practices at our project.</li>
        <li>Molecular biology: This team was in charge of the selection of the genetic parts. In addition, its assembly and analysis.</li>
        <li>Protein Modeling: This team researched and defined the spider venom peptides used, based on the information provided by the other areas. They used bioinformatic tools to model the interaction peptides-ion channels from insects and humans.</li>
        <li> Math modeling: This section performed the interaction mechanism between the circuit elements, inducer, and our fusion proteins over time. We also tried to make predictions of the production of the protein based on certain relevant parameters.
        </li>
        <li>Wet Lab. Experimental lab work such as bacterial transformations, PCRs and mainly producing the peptides in the chassis.</li>


    </ul>
  </div>


</div>


{% endblock %}
