{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/attribution.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg rounded mt-5">
  
  <div>
    <img src="https://static.igem.wiki/teams/4422/wiki/attributions/attributions-table-mesa-de-trabajo-1.png" alt="attributions-table-mesa-de-trabajo-1" class="img-fluid">
  </div>
  <div>
    <img src="https://static.igem.wiki/teams/4422/wiki/attributions/attributions-table-2.png" alt="attributions-table-02" class="img-fluid">
  </div>
  <div class="info mb-5 pb-5 mt-3">

    
    <p>Every person involved in this project has given a unique perspective to our team and has helped in the development of this incredible project that once seemed like just a dream. Thanks to the sum of all the effort of team members, advisors, mentors, instructors, collaborators, and the society that supported us through our journey in the competition, now we can present to you all the people behind Spidicide.
    </p>
    <p>UAM is divided in two main sections, Human Practices and  Biological Engineering, that are  subdivided as:</p>
    <ul>
      <p class="fw-bold">Human Practices</p>
      <li>Integrated Human Practices: This part of the team is in charge of connecting the scientific project according to society's needs. One of the main goals was to identify and engage with stakeholders related to the problem and consider the feedback for the improvement of Spidicide. </li>
      <li>Education: It is in charge of organizing educational and
        collaborative activities for scientific dissemination with the objective of making science more approachable for everyone.</li>
        <li>Bioentrepeneurship. This subsection aims to create a real start-up based on business strategies for our biopesticide.</li>
        <li>Communication. This part of the team is in charge of all the visual material for communicating the ideas we have in our project. This section is also responsible for social media and the image we give to the world.
        </li>
        <li>Fundraising. Responsible for organizing activities and strategies for raising money.
        </li>
        <li>Wiki Design. In charge of designing the team webpage.
        </li>
        <p class="fw-bold mt-3">Biological Engineering
        </p>
        <li> Biosafety & Biosecurity: Responsible for reviewing the laws and regulations related to synthetic biology in our country and others for having a project that follows the safety protocols. This part of the team was also responsible for performing bioessays.team to write a manual to ensure the good practices at our project.</li>
        <li>Molecular biology: This team was in charge of the selection of the genetic parts. In addition, its assembly and analysis.</li>
        <li>Protein Modeling: This team researched and defined the spider venom peptides used, based on the information provided by the other areas. They used bioinformatic tools to model the interaction peptides-ion channels from insects and humans.</li>
        <li> Math modeling: This section performed the interaction mechanism between the circuit elements, inducer, and our fusion proteins over time. We also tried to make predictions of the production of the protein based on certain relevant parameters.
        </li>
        <li>Wet Lab. Experimental lab work such as bacterial transformations, PCRs and mainly producing the peptides in the chassis.</li>

        <h2 class="blog-subtitle">Our Instructors</h2>
        <h2 class="blog-title-line"></h2>

        <div class="row justify-content-center align-items-center">
          <!--Start  member1-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo1"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dra-yenizey.jpeg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dra. Yenizey</p>

                </a>
                <div class="collapse" id="colapsainfo1">
                  <div class="card-body">
                    <p class="card-text"><span class="fs-5">Rol:</span>Principal Investigator (PI)</p>
                    <p class="card-text">
                      <span class="fs-5">About me:</span>I love neuroscience and all the wonders and mysticism of the mind. 
                      <br>
                      <span class="fs-5">Hobbies: </span> I like to read about science, play piano and guitar, and practice every kind of sport that makes me fall and feel the adrenaline.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member1-->

          <!--Start  member2-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo2"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dr-barrios.jpeg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dr. Javier Barrios</p>

                </a>
                <div class="collapse" id="colapsainfo2">
                  <div class="card-body">
                    <p class="card-text"><span class="fs-5">Rol:</span>Research group leader and professor in the Department of Biotechnology of the UAM-I</p>
                    <p class="card-text">
                      <span class="fs-5">About me:</span>“I aim to understand life, and science is one of the important paths to do so.<br>

                      Besides, applying the scientific method to clarify certain biological processes, that interest me, is very exciting. It is like being able to snatch pieces of knowledge from Nature. It is even better when doing it together with my students, as part of their academic formation”
                      
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member2-->


          
          

        </div>
        <div class="row justify-content-center align-items-center">
          <!--Start  member3-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo3"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dr-olivares-1.jpg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dr. Roberto Olivares Hernández
                  </p>

                </a>
                <div class="collapse" id="colapsainfo3">
                  <div class="card-body">
                    <p class="card-text"><span class="fs-5">Dr. Olivares is a researcher of excellence, introduced us to mathematical modeling and helped us to have a broader perspective of our modeling. With that feedback we knew what we could add but also what we could take away to make it clearer what we wanted to demonstrate in our mathematical model. He also helped us with the fundamentals.</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member3-->


          <!--Start  member4-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo4"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dr-lara.jpg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dr. Álvaro Lara
                  </p>

                </a>
                <div class="collapse" id="colapsainfo4">
                  <div class="card-body">
                    <p class="card-text">Dr. Lara helped us to resolve doubts regarding the parameters that we had in mind to measure. Despite the complications that this implied, he gave us a solution to avoid that obstacle.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member4-->


          <!--Start  member5-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo5"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dr-vigueras.jpg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dr. Juan Gabriel Vigueras
                  </p>

                </a>
                <div class="collapse" id="colapsainfo5">
                  <div class="card-body">
                    <p class="card-text">Dr Vigueras helped us in the hardware area, as he became familiar with this experimental part and the design. In addition to the fact that he sponsored the materials that we required for the construction of our measurement system.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member5-->
        </div>


        <div class="row justify-content-center align-items-center">

          <!--Start  member6-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo6"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dr-carlos.jpg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dr. Carlos Jiménez
                  </p>

                </a>
                <div class="collapse" id="colapsainfo6">
                  <div class="card-body">
                    <p class="card-text"><span class="fs-5">advisor in protein modeling, molecular docking, and molecular dynamics.
                    </p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member3-->


          <!--Start  member7-->
          <div class="col-md-3 mt-5" data-aos="fade-down">
            <div class="tarjeta">
              <div class="cuerpo-card">
                <a
                  class="text-decoration-none text-dark"
                  data-bs-toggle="collapse"
                  href="#colapsainfo7"
                  role="button"
                  aria-expanded="false"
                >
                  <img
                    src="https://static.igem.wiki/teams/4422/wiki/attributions/dra-tarrag.jpg"
                    alt=""
                    class="img-fluid member-img"
                  />
                  <p class="text-center fw-bold">Dra. María del Rosario Tarragó.
                  </p>

                </a>
                <div class="collapse" id="colapsainfo7">
                  <div class="card-body">
                    <p class="card-text">Normatives, ethics and bioessays.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--fin de tarjeta-->
          </div>
          <!--End of member4-->
        </div>

    </ul>
  </div>


</div>


{% endblock %}
