{% extends "layout.html" %} {% block page_content %}
<div class="mt-5">
    <img src="https://static.igem.wiki/teams/4422/wiki/banners/basicparts.png" alt="" class="img-fluid">
</div>
<div class="container-xl mt-5">
    <div class="blog-table">
        <table class="table " border="1" cellspacing="0" cellpadding="0"  > 
            <tbody>
                <tr>
                <td><p>Code</p></td>
                <td><p>Type</p></td>
                <td><p>Name</p></td>
                <td><p>Description</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422000" class="text-decoration-none text-dark "> BBa_K4422000</a></p></td>
                <td><p>Tag</p></td>
                <td><p>Internal c-Myc (Pichia pastoris codon optimized)</p></td>
                <td><p>Polypeptide tag, which can be fused to either the C- or N- terminus of a protein. <strong class="text-success">It is used for protein quantification through western blot.</strong></p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422001" class="text-decoration-none text-dark ">BBa_K4422001</a></p></td>
                <td><p>Coding</p></td>
                <td><p>U1-theraphotoxin Sp1a / OAIP-1 (Pichia pastoris codon optimized)</p></td>
                <td><p>34 amino acid peptide, which forms an inhibitory knot with <strong class="text-success">insecticidal activity</strong> by interacting with target insects' ion channels.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422002" class="text-decoration-none text-dark ">BBa_K4422002</a></p></td>
                <td><p>Coding</p></td>
                <td><p>GNA Lectin (Pichia pastoris codon optimized)</p></td>
                <td><p>Peptide carrier used in insecticidal proteins to <strong class="text-success">cross the insect gut </strong>after oral ingestion. It will carry the peptide toxins to the insects' hemolymph.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422003" class="text-decoration-none text-dark ">BBa_K4422003</a></p></td>
                <td><p>Other</p></td>
                <td><p>T2A Self Cleaving Peptide (Pichia pastoris codon optimized)</p></td>
                <td><p>Used for <strong class="text-success">polycistronic expression</strong> by cleavage during translation in eukaryotic cells due to a ribosomal skip.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422004" class="text-decoration-none text-dark ">BBa_K4422004</a></p></td>
                <td><p>Other</p></td>
                <td><p>Xa Factor Cleavage Site (Pichia pastoris codon optimized)</p></td>
                <td><p><strong class="text-success">Cleaving site target of the Factor Xa Protease</strong>. Allows the processing of recombinant proteins such as the cleavage and removal of His-tags.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422005" class="text-decoration-none text-dark ">BBa_K4422005</a></p></td>
                <td><p>Protein Domain</p></td>
                <td><p>Short Flexible Linker Gly-Gly-Ser-Gly (Pichia pastoris codon optimized)</p></td>
                <td><p>Linker, which <strong class="text-success">connects two parts</strong>, adding additional space in between. This linker allows the movement of the parts.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422006" class="text-decoration-none text-dark ">BBa_K4422006</a></p></td>
                <td><p>Coding</p></td>
                <td><p>Omega-hexatoxin-Hv2a / AcTx-Hv2a (Pichia pastoris codon optimized)</p></td>
                <td><p>45 amino acid peptide, which contains a target="_blank" hydrophobic C-terminal tail that interacts with insect ion channels. Thus, this peptide has <strong class="text-success" >insecticidal activity</strong>.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422007" class="text-decoration-none text-dark ">BBa_K4422007</a></p></td>
                <td><p>Tag</p></td>
                <td><p>8X His-tag </p></td>
                <td><p>Polyhistidine tag that can be placed on either the N or C terminus to <strong class="text-success" >purify recombinant proteins</strong> using affinity chromatography.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2" ><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422008" class="text-decoration-none text-dark ">BBa_K4422008</a></p></td>
                <td><p>Protein Domain</p></td>
                <td><p>3X Ala Linker (Pichia pastoris codon optimized)</p></td>
                <td valign="bottom" ><p>Linker, which <strong class="text-success" >connects two parts</strong>, adding 3 alanines in between. This linker is flexible, allowing the movements of the parts.</p></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
