{% extends "layout.html" %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/collaborations.png" alt="" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row">
    <div class="col-md-2">
      Index
    </div>
    <div class="col-md-9">
      <div class="blog-section">
        <p class="mt-5">As a team, we know that collaborations are a fundamental core in the iGEM Competition; they help not just with networking but also with having different points of view from people with different geographical backgrounds and cultures. These interactions help enrich every iGEM project and unify science against geographic boundaries. We are happy to present to you all the collaborations in which we participated throughout the season.
        </p>
      </div>

      <div class="blog-section">
        <h2 class="blog-title">iGEM LATAM meetup</h2>
        <h2 class="blog-title-line mb-2"></h2>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure1.jpg" class="img-fluid col-md-7">
        </div>
        <p class="text-center mt-2">Figure 1. Promotional cover for LATAM meet-up in social media</p>
        <p>The first collaboration we did was in the organization of a Latin American online meet-up that involved teams from different countries such as:</p>
        <div class="row justify-content-center">
          <ul class="col-md-5">
            <li>UFMG_UFV</li>
            <li>Tec CCM</li>
            <li>Unicamp</li>
            <li>ITESO_Guadalajara</li>
            <li>Tec CEM</li>
            <li>USP-EEL</li>
            <li>Chassei	</li>
            <li>Biotech EC</li>
            <li>UAM</li>
          </ul>
          <ul class="col-md-5">
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Costa Rica</li>
            <li style="list-style-type:none">from Ecuador</li>
            <li style="list-style-type:none">from Mexico</li>

          </ul>
        </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
