{% extends "layout.html" %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/collaborations.png" alt="" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row">
    <div class="col-md-2">
      Index
    </div>
    <div class="col-md-9">
      <div class="blog-section">
        <p class="mt-5">As a team, we know that collaborations are a fundamental core in the iGEM Competition; they help not just with networking but also with having different points of view from people with different geographical backgrounds and cultures. These interactions help enrich every iGEM project and unify science against geographic boundaries. We are happy to present to you all the collaborations in which we participated throughout the season.
        </p>
        
      </div>

    </div>
  </div>
</div>

{% endblock %}
