{% extends "layout.html" %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/collaborations.png" alt="" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row">
    <div class="col-md-2">
      index
    </div>
    <div class="col-md-9">
      <div class="blog-section">
        <p class="mt-5">As a team, we know that collaborations are a fundamental core in the iGEM Competition; they help not just with networking but also with having different points of view from people with different geographical backgrounds and cultures. These interactions help enrich every iGEM project and unify science against geographic boundaries. We are happy to present to you all the collaborations in which we participated throughout the season.
        </p>
      </div>
      <div class="blog-section" id="igem-latam-meetup">
        <h2 class="blog-title">iGEM LATAM meetup</h2>
        <h2 class="blog-title-line mb-2"></h2>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure1.jpg" class="img-fluid col-md-7">
        </div>
        <p class="text-center mt-2">Figure 1. Promotional cover for LATAM meet-up in social media</p>
        <p>The first collaboration we did was in the organization of a Latin American online meet-up that involved teams from different countries such as:</p>
        <div class="row justify-content-center">
          <ul class="col-md-5">
            <li>UFMG_UFV</li>
            <li>Tec CCM</li>
            <li>Unicamp</li>
            <li>ITESO_Guadalajara</li>
            <li>Tec CEM</li>
            <li>USP-EEL</li>
            <li>Chassei	</li>
            <li>Biotech EC</li>
            <li>UAM</li>
          </ul>
          <ul class="col-md-5">
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Costa Rica</li>
            <li style="list-style-type:none">from Ecuador</li>
            <li style="list-style-type:none">from Mexico</li>

          </ul>
        </div>
        <p class="mt-2">This LATAM meet-up took place over two days. On the first day, we learned about other team perspectives, strategies, and possible project ideas they were going to implement in the competition. We had the opportunity to see different points of view and how other teams brainstormed to solve local problems with synthetic biology.  On the second day, we had a conversatory with other LATAM teams. The main focus was to discuss general problems surrounding an iGEM project. We concluded that we had similar problems such as organization, fundraising, and even sometimes lack of team motivation. It was a great way to share advice and provide guidance between the LATAM teams. These helped us generate ideas for our projects and to plan possible collaborations with the synbio LATAM community.</p>


      </div>
      <div class="blog-section" id="tec-cem-meetup">
        <h2>TEC-CEM meetup</h2>
        <h2 class="blog-title-line"></h2>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure2.jpg" class="col-md-8">
        </div>
        <p class="text-center mt-2">Figure 2. Teams involved in the Hispanic meet-up of TEC CEM</p>
        <p class="mt-3">We love to help to collaborate and support fellow teammates from our country. For that reason, we participated in the Hispanic meet-up from TEC CEM. It was an incredible way to earn knowledge mutually with other teams. These project presentations were different because they worked as a Jamboree simulation, to prepare us on the road to Paris and change aspects of the project depending on the feedback. The teams that participated were:</p>
        <div class="row justify-content-center">
          <ul class="col-md-5">
            <li>TEC CEM organizers</li>
            <li>Navarra 	</li>
            <li>TEC Chihuahua 	</li>
            <li>UFMG_UFV	</li>
            <li>UAM</li>
          </ul>
          <ul class="col-md-5">
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Spain</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Mexico</li>
          </ul>
        </div>
        <p class="mt-3">The feedback we gained from this collaboration was helpful regarding the ideas we gained about how to proceed with the formulation process of the peptide. Additionally, we changed how we communicate some words about the specificity of our biopesticide. This feedback from the judges helped us redirection aspects of our project and we are glad we were invited to this experience</p> 
      </div>
      <div class="blog-section" id="igem-world-map">
        <h2 class="blog-subtitle">iGEM world map organized by NTHU-Taiwan</h2>
        <h2 class="blog-title-line"></h2>
        <p>In this collaboration, 31 teams joined in creating a graphic map that showed the location of the teams and a brief resume about the projects. It helped connect the iGEM community all around the world and to learn what other teams are doing and plan other possible collaborations. To observe the interactive map organized by NTHU_Taiwan go to their wiki at:</p>
        <a href="https://video.igem.org/w/dzZFHGQfSVD3GgzXyUQQYC" class="text-decoration-none btn btn-outline-dark">NTHU-Taiwan</a>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure7.jpg" class="img-fluid col-md-8">
        </div>
        <p class="text-center mt-2">Figure 5.iGEM World map teams</p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure8.jpg" class="img-fluid col-md-6">
        </div>
        <p class="text-center mt-2">Figure 6. Representative icon of the iGEM UAM team project </p>



      </div>
      <div class="blog-section" id="translations-blog-the-transcriptome">
        <h2 class="blog-subtitle">Translations blog The transcriptome</h2>
        <h2 class="blog-title-line"></h2>
        <h3 class="mt-2">The Transcriptome blog</h3>
        <p class="mt-2">We helped translate the blog, The Transcriptome, from the teams iGEM Chalmers Gothenburg and iGEM UNIL. It offers a variety of posts about scientific news and controversial topics. It aims to inspire people to learn science regardless of their background. It is important to make science understandable and inclusive in many languages. We were happy to participate in expanding the accessibility and availability for more people all over the world. About ten different teams participated in the translations to different languages, we were responsible for translating four articles enlisted below.
        </p>
        <ul>
          <li><span class="fw-bold">UAM, Spanish:</span> Reverse aging: the promise of tomorrow, Extinguishing malaria with genetic engineering, Antifreeze Protein, An Agricultural Plague - Ice-making bacteria
          </li>
        </ul>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure9.jpg" class="img-fluid col-md-8">
        </div>
        <p class="text-center mt-2">Figure 7. Picture of the main site of the blog <span class="fst-italic"> The Transcriptome</span></p>
      </div>
      <div class="blog-section" id="workshop-with-tec-chihuahua">
        <h2 class="blog-subtitle">Workshop with TEC-Chihuahua</h2>
        <h2 class="blog-title-line"></h2>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure10.jpg" class="img-fluid col-md-8">
        </div>
        <p class="text-center mt-2">Figure 8. First zoom meeting for organizing the workshop</p>
        <p>A workshop was held in collaboration with IGEM-Chihuahua entitled “Challenges in agriculture”. The objective was to have mutual learning between the general public and both iGEM teams. In this workshop two experts on Mexican crops were invited to each give a brief talk, games were held to reinforce learnings, and a conservatory was held to discuss perspectives in agriculture. It was a very fun and enriching activity and we were very glad to see much interest in the people that participated.For more information about this collaboration go to the <a href="{{url_for('pages',page='human-practices')}}" class="text-decoration-none btn btn-light"> IHP section</a></p>
      </div>
      <div class="blog-section" id="the-magic-of-synthetic-biology">

        <h2 class="blog-subtitle">The magic of synthetic biology</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-2">This comic book was made between 19 iGEM UAM teams from all over the world, the objective was to generate educational material for children and help them have an approach in the area of synthetic biology. The education tools we used were to provide a simple, not technical language in the stories to explain it, so that anyone could understand it, especially children. The graphic part was also very important to capture the attention of the kids ideas and projects that can come from this area of science. </p>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure11.jpg" class="img-fluid col-md-8">
        </div>
        <p class="mt-2 text-center">Figure 9. Cover and index of the comic book “The magic of synthetic biology”</p>

        <iframe src="https://static.igem.wiki/teams/4422/wiki/collaboration/comic.pdf" frameborder="1" width="100%" height="500px"></iframe>


      </div>
      <div class="blog-section mt-3" id="tec-chihuahua-delivery-method">
        <h2 class="blog-subtitle">TEC Chihuahua- Delivery method</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-2">As a part of our partnership between iGEM-UAM - iGEM-TecChihuahua we have performed extensive research on the various delivery methods, highlighting and investigating their application, specificity, stability, industrial scope and especially benefits to the food industry. We have taken advantage of the proximity between both teams and that the focus of the projects were similar. Together we have decided to use the delivery method through nanoencapsulation. We developed a table comparing different methods and for more information about this collaboration go to <a href="{{url_for('pages',page='safety')}}" class="text-decoration-none btn btn-outline-dark">Application of Spidicide-CX section</a> </p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure12.jpg" class=" img-fluid col-md-8" >
        </div>
        <p class="text-center mt-2">Figure 10. Zoom meeting of the delivery collaboration with TEC Chihuahua</p>

      </div>

    </div>
  </div>
</div>

{% endblock %}
