{% extends "layout.html" %}
  
{% block title %}Communication{% endblock %}
{% block lead %}Develop and implement education, science communication, and/or outreach materials related to synthetic biology.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/communication.png" alt="" class="img-fluid">
</div>

<div class="container-xl shadow-lg mt-5">
  <div class="row justify-content-center ">
    
    <div class="col-md-10">
      <div class="blog-section" id="uam-newspaper">
        <h2 class="blog-subtitle ">UAM NEWSPAPER APPEARANCES</h2>
        <h2 class="blog-title-line"></h2>
        <p>Our first appearance in a newspaper was in the one from our college, Universidad Autónoma Metropolitana. We had a diffusion of the first version of our project that we presented in the iGEM 2021 Design League Competition. It was a great way to gain notice about the initiative we were building on our road to Paris 2022.We wrote the explanation in the bulletin so that it was understandable for the general public. The interest we started to receive about our project from different people inspired us to continue to try to finance the iGEM 2022 Competition. Then we had an appearance in the Mexico newspaper, Enfoque Noticias, where we participated in an article and also an interview for their Youtube channel. Both experiences were a great way to make dissemination about synthetic biology because it is not a very well-known topic.
        </p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure1.jpg" alt="" class="img-fluid col-md-3 me-1">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure3.jpg" alt="" class="img-fluid col-md-3 me-1">

        </div>
        <p class="text-center mt-2">Figure 1. UAM’s team member appearances in newspapers</p>

      </div>
      <div class="blog-section " id="sipbios-symposium">
        <h2 class="blog-subtitle">SIPBIOS symposium</h2>
        <h2 class="blog-title-line"></h2>
        <p>At the beginning of the season, we were invited to participate in the Symposium of the iGEM Peru UNALM team. Different teams from Latin America participated, the objective was to talk about iGEM and how it has changed our perspective in our academic and personal life. It was interesting to analyze how much we have learned since we entered iGEM and how our perspective on what you can do in science has changed into a multidisciplinary vision with more possibilities. It is very important to promote science and inspire future generations. 
        </p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure4.jpg" class="col-md-5 me-1">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure5.jpg" class="col-md-5 me-1">
        </div>
        <p class="text-center mt-2">Figure 2. Promotional information about iGEM UAM participation at the symposium</p>

      </div>
      <div class="blog-section" id="congress-biotec" >
        <h2 class="blog-subtitle">Congress of Biotechnology (BIOGENESIS 2.0)</h2>
        <h2 class="blog-title-line"></h2>

        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure6.jpg" class="img-fluid col-md-5">
        </div>
        <p class="text-center mt-2">Figure 3. Poster presentation contest at The National Congress of Biotechnology </p>
        <p>As part of our efforts to publicize and enrich our project,  two representative members of the team, Andrea and Angel, assisted The National Congress of Biotechnology of Mexico (BIOGENESIS 2.0). This event happened in the summer, hosted by the Meritorious Autonomous University of Puebla (BUAP) with a focus on entrepreneurship and synthetic biology. Several iGEM ambassadors assisted at this event and it was a great way to discuss the future of biotechnology. We presented our project, to gain feedback about how we could make it a start-up. Even though we did not win the poster contest, it helped us with feedback in areas of the genetic circuit and how to make the project a business idea. Also, all the presentations at the congress helped us meet people that could be interested in our agriculture project. At the end of the event, we felt inspired to be part of the synbio community and continue through the journey of communicating science.</p>


      </div>
      <div class="blog-section" id="igem-experience-of-biotech">
        <h2> iGEM Experience of Biotech </h2>
        <h2 class="blog-title-line"></h2>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure3.jpg" class="col-md-8">
        </div>
        <p class="text-center mt-2">Figure 3. iGEM teams involved in the event “Mi experiencia iGEM”</p>
        <p class="mt-3">As part of the collaborations we were invited to participate in the event Mi experiencia Biotech, organized by the Ecuadorian team Biotech EC. The objective of this event was to talk about the trajectory, projects, experiences and perceptions of the students from different teams of LATAM. This was a great networking experience and also a way to unify and discuss possible future collaborations. The teams that participated were from iGEM Design League and iGEM Competition.
        </p>
        <div class="row justify-content-center">
          <ul class="col-md-5">
            <li>Biotech-EC organizers</li>
            <li>Mikuytec 	</li>
            <li>UANL	</li>
            <li>USP-BR 	</li>
            <li>UFRJ </li>
          </ul>
          <ul class="col-md-5">
            <li style="list-style-type:none">from Ecuador</li>
            <li style="list-style-type:none">from Perú</li>
            <li style="list-style-type:none">from Mexico</li>
            <li style="list-style-type:none">from Brazil</li>
            <li style="list-style-type:none">from Brazil</li>
          </ul>
        </div>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure4.jpg" class="img-fluid col-md-5">
          <img src="https://static.igem.wiki/teams/4422/wiki/collaboration/figure5.jpg" class="img-fluid col-md-5">
        </div>
        <p class="mt-2 text-center">Figure 4. Promotional images of the event in social media</p> 
      </div>
      <div class="blog-section" id="social-media-content-creation-on-tiktok" >
        <h2 class="blog-subtitle">Social media content creation on Tiktok</h2>
        <h2 class="blog-title-line"></h2>

        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure7.png" class="img-fluid col-md-5 me-1">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure8.png" class="img-fluid col-md-5 ms-1">

        </div>
        <p class="text-center mt-2">Figure 4. iGEM UAM Tiktok channel </p>
        <p>We believe that one of the best ways of making science dissemination is through brief interactive videos. That is why at iGEM UAM, we created videos about different scientific topics related to science in general, synthetic biology, and the iGEM Competition. The TikTok platform helped us reach more people than we had ever expected. It is important to be responsible with the knowledge we share. For that reason, we did bibliographic research before uploading a video. Science communication is fundamental in science, and we need to remember that knowledge is useless if it is not transmitted in the right way. We hope that through the creation of this type of content, people all around the world with different backgrounds feel inspired about learning science.
        </p>
        

      </div>
      <div class="blog-section" id="radio" >
        <h2 class="blog-subtitle">Radio</h2>
        <h2 class="blog-title-line"></h2>
        <p>We were invited to a radio interview after one of our videos went viral where we explained our project and its possible impact. It was incredible to receive a lot of support for our initiative and invitations from different media to continue with the scientific dissemination of what we were building at iGEM UAM. During the radio interview with the Mexico radio station 97.3 FM of UNAM, we were asked questions about the scientific part of our project. Several team members explained it in an understandable and fun way, thanks to the interviewer, Ruth Dafne Jaimes Guerrero. This experience helped us with the diffusion of our project, but also to inspire Mexican students to not give up on the journey of science no matter what the circumstances are in Mexico.</p>
        <iframe src="https://static.igem.wiki/teams/4422/wiki/communication/pdf-radio.pdf" frameborder="0" width="100%" height="500px"></iframe>
        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure9.jpg" class="img-fluid col-md-7 me-1">
        </div>
        <p class="text-center mt-2">Figure 5. Radio interview</p>

      </div>
      <div class="blog-section" id="television" >
        <h2 class="blog-subtitle">Television</h2>
        <h2 class="blog-title-line"></h2>

        
        <p>As part of the dissemination and support for the project, the television station "Telediario -Mx" contacted us in May of this year to give us live time during breaking news space. This helped us to have greater dissemination and attribution of the people who have been supporting us. The communication team attended The UAM-Iztapalapa unit where we had a live interview. The questions asked were to publicize the impact of the project, the dates of the final presentation, the coexistence, and the role of society.</p>
        
        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure10.jpg" class="img-fluid col-md-8 me-1">
        </div>
        <p class="text-center mt-2">Figure 6. Live Interview at UAM-I</p>

        <p class="mt-3">Thanks to this type of media dissemination, which had a good rating for us both on social networks and in public. Various chemical companies requested information and contacted us to provide support in kind and money to continue with the experimental part of the project.</p>
        <p>Similarly, other iGEM teams, research centers, and educational institutions sought to create bonds of coexistence with us so that we could create an environment of solidarity and support. This was an amazing experience that made us realize the impact we could generate through science communication in the country.</p>
        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure11.jpg" class="img-fluid col-md-8 me-1">
        </div>
        <p class="text-center mt-2">Figure 7. Appearance in national television</p>


      </div>
      <div class="blog-section" id="interview-youtuber" >
        <h2 class="blog-subtitle">Interview with Youtuber</h2>
        <h2 class="blog-title-line"></h2>
        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure13.jpg" class="img-fluid col-md-5 me-1">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure12.jpg" class="img-fluid col-md-5 me-1">
        </div>
        <p class="text-center mt-2">Figure 8. Interview with youtuber Alexis Romero about science topics</p>
        
        <p>We received an invitation to have an interview with a famous Youtuber, talking about science in Mexico. It was a fun interview and a great way to discuss serious topics that occur in Mexico, such as fake news, lack of financial support in science, the fear of biotechnology, and other controversial topics. </p>
        <div class="row justify-content-center mt-3">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/figure14.png" class="img-fluid col-md-7 me-1">
        </div>
        <p class="text-center mt-2">Figure 9. Youtube Channel of Alexis Romero</p>
        
        

      </div>
      <div class="blog-section mt-2" id="">
        <h2 class="blog-subtitle">iGEM UAM Webinar about agrotechnology in synthetic biology</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-2">We were invited to participate in a webinar talking about our project, synthetic biology, and challenges in agrotechnology. This event was hosted by Bioquímica y Biología Molecular, a famous Facebook science dissemination page in Mexico. We explained our ideas in a simple way for the general public to have better interaction with them. This experience helped us interact with the public and promote our funding campaign efforts.</p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/agrotech.jpeg" class="img-fluid col-md-7">
        </div>
        <p class="text-center">Figure 10. iGEM UAM Webinar about agrotechnology in synthetic biology</p>

      </div>
      <div class="blog-section" id="podcast-mariana" >
        <h2 class="blog-subtitle">Podcast</h2>
        <h2 class="blog-title-line"></h2>

        
        <p>We had the opportunity to take part in The Millennial Scientist’s Podcast, in which we discussed the different aims of the competition and how our project offers a solution for a local problem in various Mexican communities. We got the chance of sharing with the audience the challenges that we faced during the past months while exchanging ideas and information with farmers. During the conversation, we talked about the impact that synthetic biology can have on the world and how it will play an important role in how we build the future. At the end of the interview, we were asked about what we would do under limitless–financial and time-wise– circumstances, of course, we took this as an opportunity of sharing where we see our project in the future and the thought of turning it into a reality that would allow cleaner and more sustainable farming conditions for potentially various crops.</p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/communication/podcast.png" class=" img-fluid col-md-6">
        </div>
        <p class="text-center" >Figure 11. Podcast about synthetic biology</p>
      </div>
      <div class="blog-section" id="expert-panel">
        <h2 class="blog-subtitle">Expert panel</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-3">As part of the dissemination of knowledge, on the last week of september, we presented the project sharing what was obtained in the social area, and what was raised in finance, process engineering and project engineering. Doctors León Sánchez García, Alejandro Morán Silva and Octavio Francisco González Castillo were fundamental pieces during the preparation and formulation period of the project, they have more than 15 years of experience formulating projects and companies from the engineering point of view.</p>
        <p>In the social area, we address the problems that Mexico currently has in its crops due to the presence of pests that considerably reduce the quality of the product, leaving economic losses. As a solution, farmers use conventional agrochemicals, the principal disadvantage of its use is the erosion of soil, problems health and environmental pollution. In response to this problem, we propose the creation of a company that produces a biopesticide using synthetic biology techniques for its preparation.</p>
        <p>Once the proposal was obtained, the financial part in costs and acquisitions to make the plant work was simulated, in process engineering, a flow chart was made, which describes each step of the manufacturing process and the material balances of each component through unit operations. Finally, the distribution diagrams of each area of ​​operation were drawn up with their respective staff of workers.</p>
        <p>The presentation allowed us to obtain constructive criticism and opinions from the experts who introduced us to engineers from whom we will receive support to continue with the planning of the company.</p>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <img src="https://static.igem.wiki/teams/4422/wiki/communication/panel-3.jpg" class="img-fluid">
            <p class="text-center">Figure 12. Team members presenting the project. </p>
          </div>
          <div class="col-md-5">
            <img src="https://static.igem.wiki/teams/4422/wiki/communication/panel-2.jpg" class="img-fluid">
            <p class="text-center">Figure 13. Experts giving feedback</p>

          </div>
          <div class="col-md-5">
            <img src="https://static.igem.wiki/teams/4422/wiki/communication/panel-1.jpg" class="img-fluid">
            <p class="text-center">Figure 14. Octavio Francisco González Castillo, León Sánchez García and Alejandro Morán Silva Doctors</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}