{% extends "layout.html" %} {% block page_content %}
<div class="mt-5">
    <img src="https://static.igem.wiki/teams/4422/wiki/banners/compositeparts.png" alt="" class="img-fluid">
</div>
<div class="container-xl mt-5">
    <div class="blog-table">
        <table class="table" border="1" cellspacing="0" cellpadding="0"  > 
            <tbody>
                <tr>
                <td><p>Code</p></td>
                <td><p>Type</p></td>
                <td><p>Name</p></td>
                <td><p>Description</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2"><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422017" class="text-decoration-none text-dark"> BBa_K4422017</a></p></td>
                <td><p>Composite</p></td>
                <td><p>Removable and Flexible 8X-His tag (8X His-tag / Short Flexible Linker Gly-Gly-Ser-Gly / Xa Factor Cleavage Site)</p></td>
                <td><p>Flexible polyhistidine tag, which is flexible preventing steric hindrance. In case the tag has an effect in the protein, it can be removed after purification. This is an <strong class="text-success" >ideal tag for peptides.</strong></p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2"><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422014" class="text-decoration-none text-dark">BBa_K4422014</a></p></td>
                <td><p>Composite</p></td>
                <td><p>eGFP coexpressed</p></td>
                <td><p>Allows the <strong class="text-success" >coexpression of eGFP</strong> due to a T2A cleaving peptide.</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2"><p class=""><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422020" class="text-decoration-none text-dark">BBa_K4422020</a></p></td>
                <td><p>Composite</p></td>
                <td><p>Bioactive AcTx-Hv2a toxin (AcTx-Hv2a / 3X Ala Linker /Lectin)</p></td>
                <td><p><strong class="text-success" >Bioactive pesticide toxin</strong> for insect ingestion</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2"><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422021" class="text-decoration-none text-dark">BBa_K4422021</a></p></td>
                <td><p>Composite</p></td>
                <td><p>Bioactive OAIP-1 toxin (OAIP-1 / 3X Ala Linker /Lectin)</p></td>
                <td><p><strong class="text-success" >Bioactive pesticide toxin</strong> for insect ingestion</p></td>
                </tr>
                
                <tr>
                <td class="btn btn-outline-success mt-2"><p><a target="_blank" href="http://parts.igem.org/Part:BBa_K4422021" class="text-decoration-none text-dark">BBa_K4422021</a></p></td>
                <td><p>Composite</p></td>
                <td><p>Purification and Reporter Device (Promoter AOX1/ Kozak/ 8X His-tag / Short Flexible Linker Gly-Gly-Ser-Gly / Xa Factor Cleavage Site/ Restriction Enzyme KpnI / Restriction Enzyme XhoI / T2A / eGFP)</p></td>
                <td><p>This part <strong class="text-success" >allows the purification and detection of recombinant proteins</strong>, by using the restriction enzymes KpnI and XhoI</p></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
