{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/description.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg mt-5">
  <div class="row justify-content-center">
    
    <div class="col-md-9">
      <div class="blog-section">
        <p>In Mexico, the agriculture sector is an essential resource, producing over 67000 million dollars per year (STATISTA, 2022), and preserving jobs in rural communities. Good examples are the nopal, agave and avocado crops, which have an essential role in the Mexican economy and culture.
        </p>
        <p>Unfortunately, these crops are threatened by constant pest attacks, mainly by coleopteran insects, that can cause total yield and economic losses. One solution to control pests has been pesticides. Nevertheless, these chemicals cause long-term health problems, water and soil pollution, adverse affectations on beneficial insects as pollinators, and resistance development in target pests.</p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/project/figure-one.jpg" class="img-fluid col-md-10">
        </div>
        <p class="text-center mt-2">Figure 1. Nopal crop affected by <span class="fst-italic"> Cactophagus spinolae</span></p>
        <p class="mt-2">In order to bring beneficial alternatives in the management of pests in nopal, avocado, and agave crops, our project aims to develop a solution with synthetical biology tools to help farmers tackle the food demand and the pest problems. All this by avoiding the health problems that conventional pesticides produce.</p>
        <p>Spidicide-CX is our proposal as an alternative to conventional pesticides. It is a biopesticide created with synthetic biology, bioinformatic tools and a local perspective.</p>
        <p>This biopesticide is based on the use of two spider venom peptides as active compounds, from the Australian tarantula <span class="fst-italic">Selenotypus plumipes</span> and the spider <span class="fst-italic">Hadronyche versuta</span>. These peptides demonstrated notable characteristics such as specificity for pest insects, being ecological and non-harmful for vertebrates (Hardy et al., 2013; Shen et al., 2018).
        </p>
        <p>For this project, we used <span class="fst-italic">Pichia pastoris</span> as the selected chassis of the expression system to execute our genetic circuits containing both peptides (U1-theraphotoxin-Sp1a and Omega-hexatoxin-Hv2a). These peptides interact with the voltage-gated sodium (NaV) and calcium (Cav) channels of the insect’s central nervous system by disrupting their function, causing paralysis, and the eventual death of the insect. In addition, to guarantee the effect of Spidicide-CX, we use the Snowdrop Lectin from the plant Galanthus nivalis agglutinin (GNA) works as a carrier to the hemolymph of insects after oral ingestion (Pusztai, A., & Grant, G., N.D).
        </p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/infografiageneral.png" class="col-md-11 img-fluid">
        </div>

      </div>
      </div>
      <div class="blog-section mt-3" id="references">
        <h2 class="blog-subtitle">References</h2>
        <h2 class="blog-title-line"></h2>
        <ul>
          <li>
            <p>STATISTA. (2022). Producto interno bruto (PIB) del sector agrícola en México del primer trimestre de 2010 al primer trimestre de 2022. Statista GmbH. Retrieved from  https://es.statista.com/estadisticas/580761/pib-trimestral-del-sector-agricultura-mexico/#:~:text=En%20el%20primer%20trimestre%20de,el%20mismo%20trimestre%20de%202021.
            </p>
          </li>
          <li>
            <p>Shen, H., Li, Z., Jiang, Y., Pan, X., Wu, J., Cristofori-Armstrong, B., ... & Yan, N. (2018). Structural basis for the modulation of voltage-gated sodium channels by animal toxins. Science, 362(6412).</p>
          </li>
          <li>
            <p>Pusztai, A., & Grant, G. (n.d.). Assessment of Lectin Inactivation by Heat and Digestion. Lectin Methods and Protocols, 505–514. doi:10.1385/0-89603-396-1:505</p>
          </li>
          <li>
            <p>
              Hardy MC, Daly NL, Mobli M, Morales RAV, King GF. (2013). Isolation of an Orally Active Insecticidal Toxin from the Venom of an Australian Tarantula. PLoS ONE 8(9): e73136. doi:10.1371/journal.pone.0073136
              </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
