{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/education.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row">
    <div class="col-md-2">
      Index
    </div>
    <div class="col-md-9">
      <div class="blog-section" >
        <p class="fst-italic" class="mt-3">On March 11, 2020, the World Health Organization (WHO) declared that the newly discovered coronavirus causing COVID-19 disease had become a global pandemic. Many of us never imagined what a huge impact this event would cause; a situation that would define a relevant point in human history was unfolding around the world.</p>
        <p>However, the human race overcame and began to look for tools that would allow it to get as close as possible to live as we had known. Technology was already growing at an accelerated pace, but this situation increased even more.</p>
        <p>A bulletin issued by the National Autonomous University of Mexico (UNAM) determined that the pandemic accelerated the use of digital technologies by 10 years. Therefore, education at different levels contributed as these technologies became indispensable tools to continue the teaching and learning process in all corners of the world.</p>
        <p>iGEM UAM was born just when the pandemic in 2020 reached one of its multiple peaks, so including educational activities that got great reach was a challenge. However, thanks to technology, the first iGEM team of the Universidad Autónoma Metropolitana managed to overcome this and carried out different activities that obtained favorable results.</p>
        <p>Since then, we have carried out several activities, but the ones we are carrying out this season are the following:</p>
      </div>
      <div class="blog-section mt-3"id="trivia-100tifica">
        <h2 class="blog-subtitle">Trivia 100tífica </h2>
        <h2 class="blog-title-line"></h2>
        <p>In March of this year, we carried out the third edition of our Trivia 100tífica through our social networks. This activity consisted of exam-type questions about cellular biology on a website called Kahoot!, where anyone could enter the dynamic and participate to be one of the three winners of the challenge that in this edition, won scholarships for the Linux programming course sponsored by Winter Genomics.</p>
        <p>The event was streamed live from our Facebook page, so we got a considerable outreach. The three winners obtained scholarships for the Linux programming course, so, in this way, the participants not only had fun playing and at the same time learning, but they were able to nurture their knowledge through these interesting and useful courses.</p>
        <p>Trivia 100tífica was an activity targeted in the first place to the university community and focused on people studying science. Nevertheless, as we created other editions, we noticed that people outside our university and with other carriers were incredibly interested. However, it is worth mentioning that we never deny the participation of someone.</p>
        <p>Also, we decided to use the Kahoot website because it is an audience-friendly platform. Thanks to Trivia 100tífica in all of its editions, we realized that we could mix in different ways, entertaining, fun, and learning. In addition, we can get closer to our followers and allowing us to encourage other future scientists to continue creating a community and for everyone to pursue their dreams.</p>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/education/trivia.png" class="col-md-8 img-fluid">
        </div>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/education/poster-trivia.png" class="col-md-8 img-fluid">
        </div>
        <p class="mt-2 text-center">Figure 1 and 2. Trivia 100tífica third edition zoom meeting and poster </p>


      </div>
      <div class="blog-section" id="drawing-contest">
        <h2 class="blog-subtitle">Drawing Contest </h2>
        <h2 class="blog-title-line"></h2>

      </div>
      <div class="blog-section" id="join-the-node">
        <h2 class="blog-subtitle">Join the Node</h2>
        <h2 class="blog-title-line"></h2>
        <p>A way to generate interest in the population is through scientific text, the scientific articles can resum great facts in a short paragraph, which is why we realized five pieces in collaboration with Join the Node, they give us the possibility to express the main topics of our project, the challenge was the style of each article since each one was written in such a way that anyone can read it and understand what they are about.</p>
        <p>The website “El Nodo” is described as an accessible lecture space through the bridge of written divulgation, which is why there are a lot of writers searching space to express their scientific ideas. </p>
        <h3 class="fst-italic">What is synthetic biology?</h3>
        <p class="fst-italic">Imagine that living beings had mechanical parts that could be changed and modified to make something new and improved. Flowers that glow up in the dark. Yeasts produce vanilla. Utopian, don't you think so? Although it may sound unreal, the biotech industry has the potential to create a new industry: synthetic biology (1).
        </p>
        <p class="fst-italic">The roots of synthetic biology date back to 1961 when François Jacob and Jacques Monod discovered a group of genes that regulated their expression through molecules (substrate) present in the medium, known as a lac operon [image 1]. Thanks to this study, researchers came to postulate the existence of regulatory circuits responsible for the response of a cell to its environment (2).</p>
        <p class="fst-italic">Much of the work in the field is carried out on microbial species: Escherichia coli and Saccharomyces cerevisiae. These microbial systems remain central to several focal areas of the field, as well as complex circuit design. Much remains to stimulate in this scientific branch. It is essential to continue encourage an inclusive and collaborative community [image 2] (2).</p>
        <p class="fst-italic">In trying to improve living organisms and, based on those results, improve our quality of life, synthetic biology lists some essential principles:</p>
        <p class="fst-italic">1. All living things are made up of many cells. Each is called a chassis or host cell. Inside it carries genetic information responsible for the development and functioning of the organism. It is known as DNA.</p>
        <p class="fst-italic">2. DNA is made up of a series of nitrogenous bases represented by letters: A, T, C, or G, depending on the order, which will express the specific characteristic of the organism. Therefore, those letters can be modified to allow producing what the human wants, something that is profitable and convenient for its use. You could say it is a small biological factory that can pump out any chemical we want.</p>
        <p class="fst-italic">3. On a large scale, the modified chassis could be multiplied in a large industrial tank and facilitate their reproduction instead of adapting them one by one.</p>
        <p class="fst-italic">Based on these principles, the scientific community has achieved that a host cell can be modified. It gives innovative properties to a commercial product, be it perfumes, plastics, or food. TIn consequence, they have managed to produce material or food whose purpose is to satisfy the consumption needs of our society (3).</p>
        <p class="fst-italic">Like what things? An example is synthetic meat. Unlike meat of plant origin, it consists of producing meat from stem cells that are extracted from living animals (without causing them any harm) through a biopsy. Subsequently, these cells are placed in a culture medium where they begin to multiply and grow independently of the animal (4).</p>
        <p class="fst-italic">This new and successful technique has led large companies to invest millions of dollars despite ethical and safety concerns. Companies in the sector are adopting new business models to address an increasingly diversified market. One of them is “Research & Development as a service” (RDaaS), which allows customers to offer specific services to speed up the development and arrival of new products (5).</p>
        <p class="fst-italic">An analyst at GlobaData mentions: “in the future, as synthetic biology moves from a traditional life sciences approach to a more business-oriented conventional technology, RDaaS could be used to explore sustainable ingredients and previously inaccessible to multiple consumer-centric businesses and make them a reality in the marketplace” (6).</p>
        <h4>References:</h4>
        <ol>
          <li><p class="fst-italic">Nadra, A. (2014) Synthetic biology, imagining is power [Video file]. TEDx Talks. Available at: https://www.youtube.com/watch?v=kSeyb-hmY3o</p>
          </li>
          <li><p class="fst-italic">Cameron, D.E., Bashor, C.J., & Collins, J.J. (2014). A brief history of synthetic biology. Nature Reviews Microbiology, 12(5), 381–390. doi:10.1038/nrmicro3239</p></li>
          <li><p class="fst-italic">Lorenzo V. (2014) Synthetic biology: engineering the assault on biological complexity. Spanish biotechnology. Retrieved from https://arbor.revistas.csic.es/index.php/arbor/article/view/1951/2269</p></li>
          <li><p class="fst-italic">Gauna D. Pérez M. Synthetic meat [CICPES – Institute for Prospective and Public Policy Research] Retrieved from https://inta.gob.ar/sites/default/files/carne_sintetica.pdf</p></li>
          <li><p class="fst-italic">Hirschler B. (2017) How artificial life has become a multi-billion dollar industry. Retrieved from https://www.reuters.com/article/ciencia-vidaartificial-inversion-idESL5N1HE3VH</p></li>
          <li><p class="fst-italic">It Trends (2021) Synthetic biology companies provide R&D models as a service. Retrieved from https://www.ittrends.es/businesses/2021/11/las-empresas-de-biologia-sintética-providean-models-of-id-as-service</p></li>
        </ol>

      </div>
      <div class="blog-section" id="collaboration-tec-ccm-and-igem-uam">
        <h2 class="blog-subtitle">Collaboration Tec CCM and iGEM UAM</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-3">In June, TEC CCM and iGEM UAM collaborated to make videos with curious facts about specific science topics. Currently, social networks are a promising tool that allows people to have easy access to information. That is why altogether sought to convey science topics with easy-to-understand words, aimed at the general public.
          
        </p>
        <p>This was done through platforms like TikTok and Instagram, nowadays they are very popular social networks, so they were excellent tools to share our knowledge accompanied with creativity. As a reflection, we take a strong interest in continuing to investigate curious facts about science and we also share that feeling with the public.
        </p>
        <p> We achieved our goal by verifying with the comments in our posts that all kinds of people were interested and sought to participate as speakers on a topic. We understood that it is possible to influence more people in the world of science through the optimal use of social networks.</p>
        <p>We address the following topics:</p>
        <ul>
          <li><p>Prosopagnosia: It is a little known disorder which involves the inability to recognise faces, i.e. they know that what they are seeing is a person's face but have lost the connection between what they see and the part of the memory that works on identification.
          </p> </li>
          <li><p>Viruses: The five things you should know about them: We address this issue in order to make it more dynamic to understand what viruses are from a general point of view, giving their characteristics in an innovative way.</p> </li>
          <li><p>Behind the energy drinks: As we know, nowadays, young people are looking for any alternative to keep them awake as much as possible to do different activities, which is the reason in this clip, it focused mainly on what this type of drinks generally contain, trying to raise awareness about their correct uptake.</p> </li>
          <li><p>Human genome: It addressed an aspect of what synthetic biology deals with as what characterizes us as people, making known aspects of the human genome.
          </p> </li>
          <li><p>Cultivated and vegetable meat: A controversial topic, which we liked to include in the information to be provided to people because it is a topic that has not been so well known and one that involves the innovation of science and technology for the benefit of society.</p> </li>
          <li><p>Sound and sacred geometry: This was our topic with the highest number of reproductions, as it was also considered our second controversial topic due to the relationship between sound and reality</p> </li>
        </ul>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/education/colab-tik-toks-teccm.png" class="img-fluid col-md-8">
        </div>

      </div>
      <div class="blog-section mb-5" id="100-cientificos-dijeron">
        <h2 class="blog-subtitle">100 científicos dijeron</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-3">On July, we organized a dynamic called “100 scientists said”, in which eight teams (4 to 5 members in each) hilariously competed with each other. You have to ask, why is this activity called that? Well, we were inspired by a well-known television program in Mexico because it was very entertaining for any audience. This activity was held on August 2, 3 and 4 for the Iztapalapa unit and September 12 to 14 for the Cuajimalpa unit.</p>
        <p class="fw-bold">How to play? </p>
        <p>First, the driver mentions the question loud and clear about a scientific and general cultural nature. Immediately afterward, players from each team bang on the table for a chance to respond. The player who hit the table answers the question first. If the answer given by the player is on the card and is the one with the highest score, his team continues to respond. If the answer is written on the card, but it is not the one with the highest score, the other player can answer. Each team has the opportunity to respond and hit all the answers contained in the cards. When a group gets all the answers correct, they win a round and accumulate the points indicated on each card.</p>
        <p>Each group will be responsible for answering questions of a scientific and general cultural nature. The aim is to continue promoting scientific interest among the student community and the general public.</p>
        <p>As a reflection, we can say that this activity was an important experience for our team; it has been a long time since there had been face-to-face activity due to the pandemic. To arrange such an activity was then something new and fun. Carrying out this activity with our colleagues from the university was very beneficial in several ways:</p>
        <ul class="mt-3">
          <li><p>There was a healthy coexistence.</p></li>
          <li><p>The capacity and acceptance of the activity was better than expected, which convinced us to want to do similar activities in the future.</p></li>
          <li><p>We were able to show from another perspective that science can become fun.
            And without a doubt we got a lot of laughs.
            </p></li>
          <li><p>We were also able to live a unique experience to be able to coordinate as a team, since organizing an event is not easy at all.</p></li>
          <li><p>Another important point was to promote the iGEM UAM team and inspire future generations to continue with this initiative.</p></li>
          <li><p>We also learned how important it is to dialogue with the authorities of our university so that they would support us in the activity and even so that they could support us with the prizes.</p></li>
        </ul>
        <p>Below are the photographs of the winners with their respective awards:        </p>
        <h3 class="text-center mt-2">Cuajimapla unit</h3>
        <div class="row justify-content-center">
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/100cient-ficos-dijeron-1er-lugar.jpg" class="img-fluid">
            <p class="text-center mt-2">1st place:Photograph of moderators together with the first place winners of the contest.</p>
            
          </div>
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/p-blico-100-cient-cos.jpg" class="img-fluid">
            <p class="text-center mt-2">Public that accompanied us to observe the activity of “100 scientists said”.</p>
          </div>
        </div>
        <h3 class="text-center">Iztapalapa unit</h3>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/ganadores.jpg" class="img-fluid">
            <p class="text-center mt-2">1st place:Photograph of moderators together with the first place winners of the contest.</p>
            
          </div>
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/img-20220802-143201.jpg" class=" img-fluid">
            <p class="text-center mt-2">Public that accompanied us to observe the activity of “100 scientists said”.</p>
          </div>
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/publico-izta.png" class=" img-fluid">
          </div>
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/education/img-20220802-142351.jpg" class=" img-fluid">
          </div>
        </div>




      </div>

      

    </div>
  </div>
</div>

{% endblock %}
