{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/entrepreneurship.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl my-5 p-5 shadow-lg ">
  <iframe src="https://static.igem.wiki/teams/4422/wiki/entrepreneurship/entrepreneurship-version-final.pdf" width="100%" height="1000px" frameborder="0"></iframe>
</div>

{% endblock %}
