{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/entrepreneurship.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl my-5 p-5 shadow-lg ">
  <div class="blog-section mt-3" >
    <h2 class="blog-subtitle">OVERVIEW    </h2>
    <h2 class="blog-title-line"></h2>
    <h3>Summary    </h3>
    <p>Modern agriculture needs to substitute the use of traditional agrochemicals (fertilizers and pesticides) which have been proven to be dangerous for the ecosystem and human health. One of many innovative efforts to tackle this, is the design of biological pesticides also known as biopesticides. These new products are formulations based on natural molecules which have insecticidal properties or organisms that specifically target the pest (entomopathogenic organisms). Additionally, and of the most important, these new solutions are harmless to humans, other animals, and the environment (Kumar et al., 2021 & Basnet, 2022).
    </p>
    <p>All biopesticides can be classified into three categories: microbial, biochemical, and bioprotective biopesticides. Microbial pesticides use a living organism for pest control. Biochemical pesticides use metabolites, molecules like short chain peptides, fatty acids, or hormones. Finally, the bioprotective pesticides are new genetically modified strands of crops, capable of synthesizing its own insecticidal, antifungal, or antibacterial molecules (Bharti & Ibrahim, 2020).
    </p>
    <p>We designed SPIDICIDE-Cx, a biochemical biopesticide with two spider venom peptides as its active ingredients. This product targets Coleopteran pests which cause significant damages and losses on national fields like nopal <span class="fst-italic">(Opuntia spp)</span>, agave<span class="fst-italic">  (Agave spp)</span>, and avocado<span class="fst-italic"> (Persea Americana Mill)</span>. The used peptides are Omega-hexatoxina-Hv2a (AcTx-Hv2a) and U1-terafotoxina-Sp1a (OAIP-1) from the Australian spider and tarantula <span class="fst-italic">Hadronyche versuta</span> and <span class="fst-italic"> Selenotypus plumipes </span>respectively (Hardy et al., 2013 & Windley et al., 2012).
    </p>
    <p>For the industrial production and commercialization of SPIDICIDE-Cx, we did a perfectibility study to analyze the market, technical and technological, and finance of establishing a production plant of our biopesticide.
    </p>

  </div>
  <iframe src="https://static.igem.wiki/teams/4422/wiki/supporting-entrepreneurship/entrepreneurship-version-final-sin-resumen.pdf" width="100%" height="1000px" frameborder="0"></iframe>

  <div class="blog-section">
    <ul>
      <li><p>Basnet, P., Dhital, R., & Rakshit, A. (2022). Biopesticides. Biopesticides, 107–116. https://doi.org/10.1016/b978-0-12-823355-9.00019-5
      </p></li>
      <li><p>Bharti, V., & Ibrahim, S. (2020). Biopesticides: Production, Formulation and Application Systems. International Journal of Current Microbiology and Applied Sciences, 9(10), 3931–3946. https://doi.org/10.20546/ijcmas.2020.910.453
      </p></li>
      <li><p>Kumar, J., Ramlal, A., Mallick, D., & Mishra, V. (2021). An Overview of Some Biopesticides and Their Importance in Plant Protection for Commercial Acceptance. Plants, 10(6), 1185. https://doi.org/10.3390/plants10061185 
      </p></li>
      <li><p>Hardy, M. C., Daly, N. L., Mobli, M., Morales, R. A. V., & King, G. F. (2013). Isolation of an Orally Active Insecticidal Toxin from the Venom of an Australian Tarantula. PLoS ONE, 8(9), e73136. https://doi.org/10.1371/journal.pone.0073136
      </p></li>
      <li><p>Windley, M. J., Herzig, V., Dziemborowicz, S. A., Hardy, M. C., King, G. F., & Nicholson, G. M. (2012). Spider-Venom Peptides as Bioinsecticides. Toxins, 4(3), 191–227. https://doi.org/10.3390/toxins4030191
      </p></li>
    </ul>
  </div>
</div>

{% endblock %}
