{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div class="container-xl my-5 p-5 shadow-lg entrepreneurship">
  <h1 class="entrepreneurship-title">Overview</h1>
  <p class="entrepreneurship-overview">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia soluta nihil possimus! Explicabo aperiam vitae consectetur suscipit, odit atque eos doloremque officiis blanditiis, quod quidem repudiandae sapiente, exercitationem at itaque.
  </p>
  <!--inicio de topics-->
  <!--topic 1-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic1" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic1">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 1-->
  <!--inicio de topic 2-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic2" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic2">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 2-->
  <!--inicio de topic 3-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic3" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 3-->
  <!--inicio de topic 4-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic4" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 4-->
  <!--inicio de topic 5-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic5" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic5">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 5-->
  <!--inicio de topic 6-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic6" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 6-->
  <!--inicio de topic 7-->
  <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic7" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic7">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 7-->
   <!--inicio de topic 8-->
   <div class="entrepreneurship-topic">
    <a class="text-decoration-none text-white text-center" data-bs-toggle="collapse" href="#colapsatopic8" role="button" aria-expanded="false">
      <h2>Topic1</h2>
    </a>
    <div class="collapse" id="colapsatopic8">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum est alias eius tempora praesentium hic repellendus beatae tempore nam placeat reiciendis, doloribus, modi iusto. Deserunt incidunt in a aperiam</p>
     <h3 class="text-end"><a href="" class="text-decoration-none text-white">click to details</a></h3>
    </div>
  </div>
  <!--fin de topic 8-->

  

</div>

{% endblock %}
