{% extends "layout.html" %}
{% block page_content %}
<div class="container-xl mt-5">
    <h1 class="mt-5">Frequently Asked Questions</h1>
    <p class="fw-bold fs-5">Below you'll find asnwers to the questions we get asked the most </p>

    <div class="preguntas mt-5">
        
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta ">¿Lorem ipsum dolor sit amet consectetur adipisicing elit.?</h2>
            <p class="respuesta-pregunta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, modi suscipit, consectetur beatae commodi totam, sit vitae incidunt perferendis tempora vel fuga ad explicabo ea! Quia nemo tenetur voluptatibus rem?</p>
        </div>
        <!--termina pregunta-->
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta">¿Lorem ipsum dolor sit amet consectetur adipisicing elit.?</h2>
            <p class="respuesta-pregunta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, modi suscipit, consectetur beatae commodi totam, sit vitae incidunt perferendis tempora vel fuga ad explicabo ea! Quia nemo tenetur voluptatibus rem?</p>
        </div>
        <!--termina pregunta-->
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta">¿Lorem ipsum dolor sit amet consectetur adipisicing elit.?</h2>
            <p class="respuesta-pregunta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, modi suscipit, consectetur beatae commodi totam, sit vitae incidunt perfloremerendis tempora vel fuga ad explicabo ea! Quia nemo tenetur voluptatibus rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, nisi amet autem ab, quod id ipsam maiores obcaecati quidem asperiores distinctio eligendi sapiente architecto commodi nesciunt officiis illum, similique minus.</p>
        </div>
        <!--termina pregunta-->
    </div>
</div>
{% endblock %}