{% extends "layout.html" %}
{% block page_content %}
<div class="container-xl mt-5">
    <h1 class="mt-5">Frequently Asked Questions</h1>
    <p class="fw-bold fs-5">Below you'll find asnwers to the questions we get asked the most </p>

    <div class="preguntas mt-5">
        <h1 class="blog-section ">Safety & Security</h1>
        <h1 class="blog-title-line"></h1>
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta ">Does your project release genetically modified organisms?
            </h2>
            <p class="respuesta-pregunta">Our project intends to use the product of a genetically modified microorganism for the benefit of the environment and society. And that microorganism just synthesizes our biopesticide, that is our final product.
            </p>
        </div>
        <!--termina pregunta-->
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta">How does the degradation of your biopesticide when secreted into the environment?</h2>
            <p class="respuesta-pregunta">Spidicide-CX degrades in several ways once secreted into the environment. The most common way of its degradation is due to the environment, which causes its degradation by changes in pH, or temperature. Another way is due to the solar irradiation (UV radiation) that denaturalizes the peptides. And finally, another way is due to the proteases of the Coleoptera insects.
            </p>
        </div>
        <!--termina pregunta-->
        <!-- inicia pregunta -->
        <div class="pregunta">
            <h2 class="titulo-pregunta">Does Spidicide-CX contain compounds that cause allergies?
            </h2>
            <p class="respuesta-pregunta">To determine if the Spidicide-CX peptides cause allergies, we used the I-TASSER server. This server helped us to find similar peptides according to our peptides sequence. The full explanation of what we did can be found in the <a href="{{url_for('pages',page='proof-of-concept')}}" class="btn btn-outline-success"> Spidicide-CX section</a>.
            </p>

            <!--modal-->
            
            <div class="modal fade" id="tabla-safety-1" tabindex="-1" aria-labelledby="tabla-safety-1" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Table 1. Related peptides to U1-theraphotoxin-Sp1a</h3>
                        <div class="blog-table">
                            <table class="table-modal"  border="1" cellspacing="0" cellpadding="0" > 
                                <tbody>
                                    <tr>
                                    <td><p><strong>Name</strong></p></td>
                                    <td><p><strong>Origin</strong></p></td>
                                    <td><p><strong>PDB code of the related peptide</strong></p></td>
                                    <td><p><strong>Does it cause allergies?</strong></p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>PcFK1</p></td>
                                    <td><p>Spider venom</p></td>
                                    <td><p>1X5V</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Mamba intestinal toxin 1</p></td>
                                    <td><p>Snake venom</p></td>
                                    <td><p>1IMT</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Tachystatin b</p></td>
                                    <td><p>Limulidae antimicrobial protein</p></td>
                                    <td><p>2DCV</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>ACTX-Hi:OB4219</p></td>
                                    <td><p>Spider venom</p></td>
                                    <td><p>1KQH</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>AmFPI-1</p></td>
                                    <td><p>Fungal protease inhibitor</p></td>
                                    <td><p>3BT4</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                                
                                  
                        </div>
                        <h3>Table 2. Related peptides to ω-HXTX-Hv2a</h3>
                        <div class="blog-table">
                            <table class="table-modal"  border="1" cellspacing="0" cellpadding="0" > 
                                <tbody>
                                    <tr>
                                    <td><p><strong>Name</strong></p></td>
                                    <td><p><strong>Origin</strong></p></td>
                                    <td><p><strong>PDB code of the related peptide</strong></p></td>
                                    <td><p><strong>Does it cause allergies?</strong></p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Dkk4</p></td>
                                    <td><p>Signaling protein</p></td>
                                    <td><p>5O57</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Lipase-procolipase complex</p></td>
                                    <td><p>Enzima (lipase)</p></td>
                                    <td><p>1LPA</p></td>
                                    <td><p>No</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Scytovirin</p></td>
                                    <td><p>Antiviral (from bacteria)</p></td>
                                    <td><p>2QSK</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Antimicrobial Peptide 2</p></td>
                                    <td><p>Human antimicrobial protein </p></td>
                                    <td><p>2L1Q</p></td>
                                    <td><p>No</p></td>
                                    </tr>
                                    
                                    <tr>
                                    <td><p>Magi4</p></td>
                                    <td><p>Spider venom</p></td>
                                    <td><p>2ROO</p></td>
                                    <td><p>No registred data</p></td>
                                    </tr>
                                
                                </tbody>
                            </table>
                                
                                
                                
                                 
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!--fin modal-->

        </div>
        <!--termina pregunta-->
    </div>
</div>
{% endblock %}