{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}


{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/sustainable.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row justify-content-center">
    
    <div class="col-md-10">
      <iframe src="https://static.igem.wiki/teams/4422/wiki/sustainable-development.pdf" width="100%" height="700px" frameborder="0"></iframe>
    </div>
  </div>
</div>

{% endblock %}

