{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}


{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/implementation.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg mt-5 ">
  <div class="row justify-content-center">

    <div class="blog-section">
      <h2 class="blog-subtitle">IMPLEMENTATION</h2>
      <h2 class="blog-title-line"></h2>
      <p>Science development has helped to have new tools to solve problems due to the growth of the world population. One of the problems is the high demand in the agricultural sector, which uses pesticides to avoid economic losses. Alternatives to pesticides are biopesticides such as SPIDICIDE-Cx. 
      </p>
      <p>We collaborated with Tec Chihuahua due to the similarity of the local problem to solve and because both teams are from Mexico. In this collaboration, we did in-depth research and found that nanotechnology is a good solution.</p>
      <p>The emerging application of nanotechnology-based pesticides is known as nano-pesticides. These methods have made it possible to improve the efficacy of pesticides, reducing doses and improving the stability of the active ingredients, reducing environmental impact (Smith et al., 2008). It is worth mentioning that in Mexico, we have a lack of synthetic biology regulations. For that, both teams concluded that the use of chitosan nanoparticles is a suitable delivery option because, in nature, chitosan is the second-largest available biopolymer and is produced from crustacean shells. 
      </p>
      <p>In addition, these nanoparticles could be carriers of pesticides. This is through their characteristics, such as high biocompatibility, biodegradability, and low toxicity. Also, these nanoparticles degrade by enzymes, amino sugars and non-toxic compounds, compared to other nanoparticles. Therefore, chitosan has similar toxicity as sugar and salt, being safe for animals and plants (Sharifi‑Rad et al., 2021; National Toxicology Program, 2017).</p>
      <p>It is worth mentioning that chitosan nanoparticles production is easy, and several methods exist to achieve it. And the protocol chosen by both teams (ionic gelation) reduces production costs by avoiding sophisticated reactants and laboratory equipment. After this, it is necessary to encapsulate the active ingredients of the pesticides.
      </p>
      <p>To discover more about SPIDICIDE-Cx please visit the <a class="btn btn-outline-success" href="{{url_for('pages',page='safety')}}"> safety</a> or <a class="btn btn-outline-success" href="{{url_for('pages',page='entrepreneurship')}}">entrepreneurship</a> section. In the last one, we perform a prefactibility study of establishing a biopesticide production plant.</p>
    </div>
    
    <div class="blog-section" id="sustainable-development">
      <h2 class="blog-subtitle">Sustainable Development</h2>
      <h2 class="blog-title-line"></h2>
      
      <p>We believe that an effective scientific solution needs to be approached from a
        multidisciplinary perspective. Therefore, our biopesticide project has a sustainable approach.
        We considered the 2030 Agenda for Sustainable Development which covers 17 Sustainable
        Development Goals (SDGs) in an effort to have peace and prosperity. As an urgent call to
        counter climate change and preserve our planet (UN,2022).</p>
      <p>This year our team is creating a biopesticide based on two different spider venom peptides.
        This product aims to integrate five of the goals for sustainable development to offer an
        effective alternative to pesticides. By creating Spidicie-CX, we contribute to: (2) Zero Hunger,
        (3) Good Health and Well-Being, (8) Decent Work and Economic Growth, (12) Responsible
        Consumption and Production, and Life on land (15). For more information about how we
        implemented each of them click in the icons below:</p>
      
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a class="btn " data-bs-toggle="collapse" href="#zero-hunger" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="https://static.igem.wiki/teams/4422/wiki/sustainable/e-web-02.png" class="img-fluid">
          </a>
          <div class="collapse" id="zero-hunger">
            <div class="card card-body">
              Zero Hunger. It aims to end hunger, achieve food security, promote sustainable
              agriculture and improve nutrition all over the world (UN,2022). Our solution promotes
              sustainable agriculture and contributes to tackling the world food demand crisis.
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a class="btn " data-bs-toggle="collapse" href="#good-health" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="https://static.igem.wiki/teams/4422/wiki/sustainable/e-web-03.png" class="img-fluid">
          </a>
          <div class="collapse" id="good-health">
            <div class="card card-body">
              Good Health and well-being. It focuses on improving the well-being of all ages and
              ensuring a healthy life. (UN,2022). Biopesticides offer an alternative to pesticides, which
              usually cause chronic health damages and affect the quality life of farmers. In contrast, our
              solution improves the quality life of farmers by not causing harm to humans and to the
              environment.
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a class="btn " data-bs-toggle="collapse" href="#decent-work" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="https://static.igem.wiki/teams/4422/wiki/sustainable/e-web-08.png" class="img-fluid">
          </a>
          <div class="collapse" id="decent-work">
            <div class="card card-body">
              Decent Work and economic growth. This goal promotes economic growth in a
              sustainable and inclusive form, contemplating decent work for everybody (UN,2022). We
              contribute to this by helping farmers increase the production of their crops with pest control.
              This helps decrease health risks in their work environment derived from pests and help them
              have economic growth.
              
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <a class="btn " data-bs-toggle="collapse" href="#responsable" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="https://static.igem.wiki/teams/4422/wiki/sustainable/e-web-12.png" class="img-fluid">
          </a>
          <div class="collapse" id="responsable">
            <div class="card card-body">
              Responsible consumption and production. It aims to guarantee responsible
              consumption and production for everyone. Our biopesticide does not contaminate the food
              products with bioaccumulation of toxic components. In contrast, it can lead to responsible
              production by taking care of consumer health.
              
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <a class="btn " data-bs-toggle="collapse" href="#life" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="https://static.igem.wiki/teams/4422/wiki/sustainable/e-web-15.png" class="img-fluid">
          </a>
          <div class="collapse" id="life">
            <div class="card card-body">
              Life on land. It focuses on promoting the sustainable use of terrestrial ecosystems. To
              protect and reestablish them from land desertification, pollution, and losses of biodiversity
              (UN,2022). Our solution aims to counter the side effects of pesticides that cause soil fertility
              decline, water pollution, and damage to mammals that surround crop areas.

              
            </div>
          </div>
        </div>

        
      </div>

    </div>

    <div class="blog-section">
      <h2 class="blog-subtitle">REFERENCES</h2>
      <h2 class="blog-title-line"></h2>
      <ul>
        <li>Sharifi-Rad, J., Quispe, C., Butnariu, M., Rotariu, L. S., Sytar, O., Sestito, S., Rapposelli, S., Akram, M., Iqbal, M., Krishna, A., Kumar, N. V. A., Braga, S. S., Cardoso, S. M., Jafernik, K., Ekiert, H., Cruz-Martins, N., Szopa, A., Villagran, M., Mardones, L., & Martorell, M. (2021). Chitosan nanoparticles as a promising tool in nanomedicine with particular emphasis on oncological treatment. Cancer Cell International, 21(1). https://doi.org/10.1186/s12935-021-02025-4
        </li>
        <li>Smith, K., Evans, D.A., El-Hiti, G.A., (2008). Role of modern chemistry in sustainable arable crop protection. Phil. Trans. R. Soc. B. 363, 623–637.
        </li>
        <li>National Toxicology Program. (2017). NTP Technical Report on the Toxicity Study of Chitosan (CASRN 9012-76-4) Administered in Feed to Sprague Dawley [Crl: CD (SD)] Rats.
        </li>
        <li>THE 17 GOALS | Sustainable Development. (2022). Un.org.
          https://sdgs.un.org/goals</li>
        <li>
          Barth M., Hopkins C., Vilela M., Siegmund A., Makrakis V. & Lotz-Sisitka, H. (2021).
          New UNESCO UNITWIN global cooperation network on Education for Sustainable
          Development and Social Transformation with teacher education at the core.
          UNESCO University Chair. Recover from:
          https://earthcharter.org/new-unesco-unitwin-global-cooperation -network-on-education
          -for-sustainable- development-and-social-transformation/?gclid=CjwKCAjwqJSaBhBU
          EiwAg5W9pw8ZGT9SaY5pag9zD2xd-U7LX67TQOJYtJ4b_Uqc-qavhnDrbsq6rRoCa
          HoQAvD_BwE
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

