{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}


{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/sustainable.png" alt="banner" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row justify-content-center">

    <div class="blog-section">
      <h2 class="blog-subtitle">PROPOSED IMPLEMENTATION</h2>
      <h2 class="blog-title-line"></h2>
      <p>Science development has helped to have new tools to solve problems due to the growth of the world population. One of the problems is the high demand in the agricultural sector, which uses pesticides to avoid economic losses. Alternatives to pesticides are biopesticides such as SPIDICIDE-Cx. 
      </p>
      <p>We collaborated with Tec Chihuahua due to the similarity of the local problem to solve and because both teams are from Mexico. In this collaboration, we did in-depth research and found that nanotechnology is a good solution.</p>
      <p>The emerging application of nanotechnology-based pesticides is known as nano-pesticides. These methods have made it possible to improve the efficacy of pesticides, reducing doses and improving the stability of the active ingredients, reducing environmental impact (Smith et al., 2008). It is worth mentioning that in Mexico, we have a lack of synthetic biology regulations. For that, both teams concluded that the use of chitosan nanoparticles is a suitable delivery option because, in nature, chitosan is the second-largest available biopolymer and is produced from crustacean shells. 
      </p>
      <p>In addition, these nanoparticles could be carriers of pesticides. This is through their characteristics, such as high biocompatibility, biodegradability, and low toxicity. Also, these nanoparticles degrade by enzymes, amino sugars and non-toxic compounds, compared to other nanoparticles. Therefore, chitosan has similar toxicity as sugar and salt, being safe for animals and plants (Sharifi‑Rad et al., 2021; National Toxicology Program, 2017).</p>
      <p>It is worth mentioning that chitosan nanoparticles production is easy, and several methods exist to achieve it. And the protocol chosen by both teams (ionic gelation) reduces production costs by avoiding sophisticated reactants and laboratory equipment. After this, it is necessary to encapsulate the active ingredients of the pesticides.
      </p>
      <p>To discover more about SPIDICIDE-Cx please visit the safety or entrepreneurship section. In the last one, we perform a prefactibility study of establishing a biopesticide production plant.</p>
    </div>
    
    <div class="col-md-10">
      <iframe src="https://static.igem.wiki/teams/4422/wiki/sustainable-development.pdf" width="100%" height="700px" frameborder="0"></iframe>
    </div>

    <div class="blog-section">
      <h2 class="blog-subtitle">REFERENCES</h2>
      <h2 class="blog-title-line"></h2>
      <ul>
        <li>Sharifi-Rad, J., Quispe, C., Butnariu, M., Rotariu, L. S., Sytar, O., Sestito, S., Rapposelli, S., Akram, M., Iqbal, M., Krishna, A., Kumar, N. V. A., Braga, S. S., Cardoso, S. M., Jafernik, K., Ekiert, H., Cruz-Martins, N., Szopa, A., Villagran, M., Mardones, L., & Martorell, M. (2021). Chitosan nanoparticles as a promising tool in nanomedicine with particular emphasis on oncological treatment. Cancer Cell International, 21(1). https://doi.org/10.1186/s12935-021-02025-4
        </li>
        <li>Smith, K., Evans, D.A., El-Hiti, G.A., (2008). Role of modern chemistry in sustainable arable crop protection. Phil. Trans. R. Soc. B. 363, 623–637.
        </li>
        <li>National Toxicology Program. (2017). NTP Technical Report on the Toxicity Study of Chitosan (CASRN 9012-76-4) Administered in Feed to Sprague Dawley [Crl: CD (SD)] Rats.
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

