{% extends "layout.html" %} {% block page_content %}
<div class="back-fix--projectDescription">
  <!--begin project description-->
  <div class="container-xl ">
    <div class="row justify-content-center ">
      <div class=" text-white our-project col-md-8" data-aos="fade-up">
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/home/logosfondo.png" alt="" class="img-fluid logo-home ">
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of project description-->

<div class="conainer-xl">
  <div class="row justify-content-center shadow-lg m-5 bg-home align-items-center " data-aos="fade-up">
    <div class="col-md-4 me-2">
      <h2 class="text-center mt-3">The problem </h2>
      <p>Mexico has an enormous agricultural biodiversity, producing and exporting various vegetables, fruits and grains. However, several pests attack crops impacting the sustain of families in rural communities and the national economy, and food supply. In particular, the order Coleoptera presents critical pests in native crops such as avocado, agave, and cactus. Sadly, these are only three of the numerous affected Mexican crops.</p>
      <h2>Our solution</h2>
      <p>We designed a biopesticide “Spidicide-CX” using a holistic perspective capable of efficient coleopteran control. This cell-free product is based on two spider venom peptides as their active ingredients, AcTx-Hv2 and OAIP-1. These peptides have a high selectivity to Coleoptera order and don’t impact human health. We used <span class="fst-italic"> Pichia pastoris </span>to produce these peptides taking advantage of its capability to express complex molecules in high yields.</p>
    </div>
    <div class="col-md-6 ">
      <iframe  title="UAM: SPIDICIDE (2022) - Project Promotion [English]" width="100%" height="315px" src="https://video.igem.org/videos/embed/4f1a158b-0061-496f-bbb6-2bd8950220ba" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
    </div>
  </div>
</div>


<div class="container-xl shadow-lg mb-4" data-aos="fade-up">
  <div class="row justify-content-center">

    <h2 class="blog-subtitle">Our team</h2>
    <h2 class="blog-title-line"></h2>
      <iframe title="UAM: team (2022) [English]" max-width="560" height="315" src="https://video.igem.org/videos/embed/3ccc5158-f832-4d22-9e68-300ea2a6b14f" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" class="col-md-6"></iframe>
    
    <p class="text-center fw-bold fs-5">
      We are iGEM UAM, a multidisciplinary team from Mexico City from Universidad Autónoma Metropolitana searching to contribute in the field of synthetic biology.
    </p>
  </div>
</div>


<div class= "" data-aos="fade-down">
  <div>
    <img src="https://static.igem.wiki/teams/4422/wiki/sponsors-igem-2022.png" class="img-fluid col-md-12">
  </div>
</div>


{% endblock %}
