{% extends "layout.html" %} {% block page_content %}
<div class="back-fix--projectDescription">
  <!--begin project description-->
  <div class="container-xl ">
    <div class="row justify-content-center ">
      <div class=" text-white our-project col-md-8" data-aos="fade-up">
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/home/logosfondo.png" alt="" class="img-fluid logo-home ">
        </div>
        
          
      </div>
    </div>
  </div>
</div>
<!--End of project description-->
<!--begin Team description-->
<div class="conainer-xl">
  <div class="row justify-content-center shadow-lg m-5 " data-aos="fade-up">
    <div class="row align-items-center  justify-content-center">
      
      <p class=" fs-5">Mexico has enormous agricultural biodiversity, producing and exporting various vegetables, fruits, and grains. However, several pests attack Mexican crops impacting the sustain of families in rural communities, the economy, and the country´s food supply.
      </p>
      <p class=" fs-5">In particular, the order Coleoptera presents critical pests in native crops. Some of these pests are the avocado, agave, and cactus weevil, which damages their host plant. Sadly, these are only three of the numerous affected Mexican crops.</p>
      <p class=" fs-5">Therefore, our team designed a biopesticide using a holistic perspective capable of efficient coleopteran control. This cell-free product is based on two spider venom peptides as their active ingredients, AcTx-Hv2 and OAIP-1. These peptides have a high selectivity to Coleoptera order and don’t impact human health. We used <span class="fst-italic"> Pichia pastoris</span> to produce these peptides taking advantage of its capability to express complex molecules in high yields.</p>
    </div>
  </div>
</div>

  <!--End of team description-->

{% endblock %}
