{% extends "layout.html" %}


{% block page_content %}
<div class="back-fix mb-5">
  <div class="container-xl mt-5 ">
    <div class="row justify-content-center">

      <div class=" col-md-8 text-white our-project " data-aos="fade-up">
        
        <h1 class="text-white">Our project</h1>
        <p>Among the pests that affect nopal crops in Milpa Alta, the cactus weevil (Cactophagus spinolae) stands out as the most damaging. The infection starts when adult weevils deposit their larvae inside the lower part of the nopal trunk. Then, the larvae destroy the nopal pulp, triggering its defense mechanisms and secreting a liquid to seal the wounds created. As a result, the nopal acquires an undesirable aspect, making it unsuitable for sale. In addition, adult weevils devour nopal cladodes and are transmission vectors for more pests.</p>
        <p>In order to bring beneficial alternatives in the management of the cactus weevil pest in Milpa Alta, UAM presents Spidicide. It is a biopesticide created with synthetic biology, bioinformatics tools, and a local perspective. The success of Spidicide is based on the use of two spider venom peptides as active ingredients. These peptides present notable characteristics such as being specific for pest insects, ecological and non-harmful for vertebrates.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
