{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div class="container-xl my-5 p-5 ">
    <div class="row justify-content-center">
        <div class="col-md-2 me-2">
            <h2>Index</h2>
            
            <ul class="list-group">
                <li class="list-group-item"><a href="{{url_for('pages', page='entrepreneurship')}}"class="text-decoration-none text-success">Return</a></li>
                <li class="list-group-item"><a href="#market-analysis" class="text-decoration-none text-dark">Market Analysis</a></li>
                <li class="list-group-item"><a href="#competitors-analysis" class="text-decoration-none text-dark">Competitors Analysis</a></li>
                <li class="list-group-item"><a href="#bibliography" class="text-decoration-none text-dark">Bibliography</a></li>
            </ul>
        </div>
        <div class="blog col-md-9">
            <h1 class="blog-title" >Market and Competitors Analysis</h1>
            <h1 class="blog-title-line"></h1>
            <div class="blog-section" id="market-analysis">
                <h2 class="blog-subtitle" id="mision-and-vision">Market Analysis</h2>
                <h3 class="blog-subtitle">Potential Costumers</h3>
                <p>SPIDICIDE-Cx is a biopesticide used for Coleoperan control. In Mexico, these pests target a variety of crops, like nopal (Opuntia spp.), agave (Agave spp.), avocado (Persea Americana Mill) fields, and others [SOURCE]. Therefore, this product is targeted to local nopal, agave and avocado farmers which are economically dependent on agriculture. Additionally, it is mainly meant for medium and large producers, as they are the most dependent on agrochemicals for pest control  . </p>
                <p>Source? (Sánchez y Betanzos, 2006). </p>
                <h3>Market Segmentation</h3>
                <p>To identify the real number of potential customers, in this case, hectares of field in which SPIDICIDE-Cx could be used, we used 5 filters to reach our segmented market. </p>
                <p>The first level of segmentation was the national territory, followed by national surface used in crops, surface used by nopal, agave and avocado fields, surface cultivated by medium and large producers and finally, by acceptance of biopesticides. </p>
                <div class="blog-table">
                    <table class="table" border="1" cellspacing="0" cellpadding="0" width="100%" > 
                        <tbody>
                            <tr class="table-success" >
                                <td  width="100%" colspan="3" valign="top" ><p class="text-center"><strong>TABLA 40: Segmentation</strong></p></td>
                            </tr>
                        
                            <tr >
                                <td class="table-success" width="24%" valign="top" ><p><strong>Segmentation 1</strong></p></td>
                                <td class="table-success" width="52%" valign="top" ><p>Nacional Surface (ha)</p></td>
                                <td class="table-success" width="22%" valign="top" ><p>198,000,000</p></td>
                            </tr>
                        
                            <tr>
                                <td width="24%" ><p><strong>Segmentation 2</strong></p></td>
                                <td width="52%" valign="top" ><p>Total Surface used by crops (ha)</p></td>
                                <td width="22%" valign="top" ><p>18,125,470</p></td>
                            </tr>
                        
                            <tr >
                                <td class="table-success" width="24%" valign="top" ><p><strong>Segmentation 3</strong></p></td>
                                <td class="table-success" width="52%" valign="top" ><p><button class="btn-light" data-bs-toggle="modal" data-bs-target="#tabla-anexo-1" >Surface used by nopal, agave and avocado crops (ha)</button></p></td>
                                <td class="table-success" width="22%" valign="top" ><p>375,037</p></td>
                            </tr>
                        
                            <tr>
                                <td width="24%" valign="top" ><p><strong>Segmentation 4</strong></p></td>
                                <td width="52%" valign="top" ><p><button class=" btn-light"  data-bs-toggle="modal" data-bs-target="#tabla2-anexo-1" >Surface cultivated by medium and large producers (ha)</a> </p></td>
                                <td width="22%" valign="top" ><p>288,590</p></td>
                            </tr>
                        
                            <tr >
                                <td class="table-success" width="24%" valign="top" ><p><strong>Segmentation 5</strong></p></td>
                                <td class="table-success" width="52%" valign="top" ><p><button class="btn-light" data-bs-toggle="modal" data-bs-target="#tabla3-anexo-1" >Segmentation by acceptance (ha)</button></p></td>
                                <td class="table-success" width="22%" valign="top" ><p>253,528</p></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    <!--modal para tabla anexo1-->
                    <div class="modal fade" id="tabla-anexo-1" tabindex="-1" aria-labelledby="tabla-anexoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Crops of interest</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body blog-table">
                                <table border="1" class="table" cellspacing="0" cellpadding="0" width="100%"> 
                                    <tbody class="text-center">
                                        <tr >
                                            <td class="text-success fw-bold" width="99%" colspan="2"><p><strong>SURFACE CULTIVATED WITH CROPS OF INTEREST</strong></p></td>
                                        </tr>
                                    
                                        <tr class="table-success">
                                            <td width="49%"><p><strong>Crop</strong></p></td>
                                            <td width="50%" colspan="2"><p><strong>Cultivated Hectares</strong></p></td>
                                        </tr>
                                    
                                        <tr class="">
                                            <td width="49%"><p><strong>Nopal</strong></p></td>
                                            <td width="50%" colspan="2"><p>13,000 (Source)</p></td>
                                        </tr>
                                    
                                        <tr class="table-success">
                                            <td width="49%"><p><strong>Avocado</strong></p></td>
                                            <td width="50%" colspan="2"><p>241,140 (Source) </p></td>
                                        </tr>
                                    
                                        <tr class="">
                                            <td width="49%"><p><strong>Agave</strong></p></td>
                                            <td width="50%" colspan="2"><p>120,897 (Source)</p></td>
                                        </tr>
                                    
                                        <tr class="table-success">
                                            <td width="49%"><p><strong>TOTAL</strong></p></td>
                                            <td width="50%" colspan="2"><p>375,037 (Source)</p></td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                    
                                     
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--fin de modal para tabla anexo1-->
                    <!--modal para tabla anexo2-->
                    <div class="modal fade" id="tabla2-anexo-1" tabindex="-1" aria-labelledby="tabla2-anexoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Medium and large producers</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body blog-table">
                                <table class="table text-center"  border="1" cellspacing="0" cellpadding="0" width="100%" > 
                                    <tbody >
                                        <tr class="text-success fw-bold">
                                            <td width="99%" colspan="2" ><p><strong>SURFACE CULTIVATED BY MEDIUM AND LARGE PRODUCERS</strong></p></td>
                                        </tr>
                                        
                                        <tr class="table-success">
                                            <td width="49%" ><p><strong>Crop</strong></p></td>
                                            <td width="50%" colspan="2" ><p><strong>Cultivated Hectares</strong></p></td>
                                        </tr>
                                        
                                        <tr class="table-secondary">
                                            <td width="49%" ><p><strong>Nopal</strong></p></td>
                                            <td width="50%" colspan="2" ><p>11,050 (Source)</p></td>
                                        </tr>
                                        
                                        <tr class="table-success">
                                            <td width="49%" ><p><strong>Avocado</strong></p></td>
                                            <td width="50%" colspan="2" ><p>192,912 (Source)</p></td>
                                        </tr>
                                        
                                        <tr class="table-secondary">
                                            <td width="49%" ><p><strong>Agave</strong></p></td>
                                            <td width="50%" colspan="2" ><p>84,628 (Source)</p></td>
                                        </tr>
                                        
                                        <tr class="table-success">
                                            <td width="49%" ><p><strong>TOTAL</strong></p></td>
                                            <td width="50%" colspan="2" ><p>288,590 (Source)</p></td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--fin de modal para tabla anexo2-->
                    <!--modal para tabla anexo3-->
                    <div class="modal fade" id="tabla3-anexo-1" tabindex="-1" aria-labelledby="tabla3-anexoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Acceptance</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body blog-table">
                                <table class="table text-center"  border="1" cellspacing="0" cellpadding="0" > 
                                    <tbody>
                                        <tr class="text-success fw-bold">
                                            <td  colspan="2" valign="top" ><p><strong>ACCEPTANCE OF BIO PESTICIDES BY LOCAL FARMERS</strong></p></td>
                                        </tr>
                                        <tr class="table-success">
                                            <td  valign="top" ><p><strong>Crop</strong></p></td>
                                            <td  colspan="2" valign="top" ><p><strong>Acceptance</strong></p></td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <td  valign="top" ><p><strong>Nopal</strong></p></td>
                                            <td  colspan="2" valign="top" ><p>84%</p></td>
                                        </tr>
                                        
                                        <tr class="table-success">
                                            <td  valign="top" ><p><strong>Avocado</strong></p></td>
                                            <td  colspan="2" valign="top" ><p>90%</p></td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <td  valign="top" ><p><strong>Agave</strong></p></td>
                                            <td  colspan="2" valign="top" ><p>88%</p></td>
                                        </tr>
                                        <tr class="table-success">
                                            <td  valign="top" ><p><strong>TOTAL</strong></p></td>
                                            <td  colspan="2" valign="top" ><p>88%</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                                    
                                     
                                    
                                     
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--fin de modal para tabla anexo3-->
                </div>
                <!--fin de tabla-->
                <p>Once we applied the filters, market segmentation considers a total of 253,528 hectares of cultivated fields with nopal, agave and avocado. Surface in which SPIDICIDE-Cx can be used for pest control and possible costumers. </p>
                <p>This surface can be converted into the volume (liters) of SPIDICIDE-Cx required to treat it against pests. We know that 5 liters of SPIDICIDE-Cx should be used per hectare (Vestaron, 2021) and applied at least <button class="btn-light" data-bs-toggle="modal" data-bs-target="#twice-a-year">twice a year</button> , therefore, the 253,528 hectares of crops require 2,535,279 L of SPIDICE-Cx per year. </p>
                <div class="modal fade" id="twice-a-year" tabindex="-1" aria-labelledby="twice-a-yearLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>"The frequency of application depends on the presence of pests in the fields. Based on the information we gather with interviews with local farmers, we defined that the average frequency of application of pesticides in these fields are twice a year. Therefore, that is the number we consider to convert hectares into liters of SPIDICIDE-Cx."</p>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="blog-table">
                    <table  border="1" cellspacing="0" cellpadding="0"  > 
                        <tbody class="table">
                            <tr >
                                <td  colspan="5" ><p class="text-success fw-bold border border-success text-center">TABLA 44: OBTENCIÓN DE DEMANDA SEGMENTADA DE SPIDICIDE-CX </p></td>
                            </tr>
                            
                            <tr class="table-success">
                                <td  valign="bottom" ><p>Superficie segmentada</p></td>
                                <td  valign="bottom" ><p>Recomendación técnica</p></td>
                                <td  valign="bottom" ><p>Frecuencia</p></td>
                                <td  valign="bottom" ><p>Demanda segmentada por año</p></td>
                                <td  valign="bottom" ><p>Demanda segmentada por día</p></td>
                            </tr>
                            
                            <tr class=" ">
                                <td  valign="top" ><p>253,528 ha</p></td>
                                <td  valign="top" ><p>5 L de Spidicide-Cx</p></td>
                                <td  valign="top" ><p>2 aplicaciones</p></td>
                                <td  valign="top" ><p>2,535,279 L de Spidicide-Cx</p></td>
                                <td  valign="top" ><p>6,946 L de </p>
                                
                                <p>Spidicide-Cx</p></td>
                            </tr>
                            
                            <tr>
                                <td  valign="top" >  </td>
                                <td  valign="top" ><p>ha * aplicación</p></td>
                                <td  valign="top" ><p>1 año</p></td>
                                <td  valign="top" ><p>Año</p></td>
                                <td  valign="top" ><p>Día</p></td>
                            </tr>
                        
                        </tbody>
                    </table>
                        
                         
                </div>
                <h3>Market Growth</h3>
                <p>Based on the average growth from the last years of the three selected fields, we used the Monte Carlo simulation method to model the market growth in the next <button class="btn-light "  data-bs-target="#ten-years" data-bs-toggle="modal"> ten years .</button> With this method we predicted three different scenarios: a negative, an average, and a positive outcome of the market growth</p>
                <!--modal -->
                <div class="modal fade" id="ten-years" tabindex="-1" aria-labelledby="ten-yearsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                As the market segmentation was calculated with data from the year 2019, the data used for the year 2020, 2021, and 2022 are also calculated with the Monte Carlo method.
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
                <!--fin de modal-->
                <img class="img-fluid" src="https://static.igem.wiki/teams/4422/wiki/entrepreneurshipimg/grafica1.png" alt="graphic">

                <h3>Expected Market Share</h3>
                <p>To define the expected market share, we consider the ones hold by today’s available products of companies like Bioamin S.A. de C.V and Vestaron Corporation which hold 30 and 20% of the national and international market shares respectively. Hence, we established the objective to hold the 10% of the segmented market with our product. To accomplish this goal, we must achieve a size production of 180,872 bottles annually by 2023 and 361,744 bottles by 2032.  </p>
            </div>
            <div class="blog-section" id="competitors-analysis">
                <h2 class="blog-subtitle">Competitors analysis</h2>
                <p>There are three different methods to use spider venom peptides as bio insecticides, by directly modifying the crops to produce these peptides, to have entomopathogenic fungus or bacteria to produce them or using a cell free system (Windley, 2012). Today, most of the products available are modified entomopathogenic organisms, unfortunately for most of the Mexicans farmers the first option is still to use dangerous agrochemicals. </p>

                <h3>Similar products available</h3>
                <p>Some of the available products in Mexico are the ones presented below.</p>
                <h4>Spear-T Concentrate</h4>
                <p>The Spear-T Concentrate is a cell free biopesticide produced by the American company Vestaron Corporation. This biopesticide is one of the few cell-free products available and of the even fewer ones that also use spider venom peptides as active ingredients. Like SPIDICIDE-Cx, Spear-T Concentrate uses a fusion protein, in this case, GS-omega/kappa-Hxtx-Hv1a. </p>
                <p>This product can’t be considered as a competitor of our biopesticide given the fact that it does not target Coleopteran pests. Nonetheless, this is a product worth of our attention as it is the most similar product to what we are designing (Spear-T Liquid Concentrate, 2021).</p>

                <h4>Metabioss</h4>
                <p>Metabioss is a biopesticide produced by the Mexican corporation Biamin S.A. de C.V. This product is used to control 200 different species of pests, including the weevil Anthonomus eugenii (Torres, 2012). As many other products available, Metabioss´ formulation is based on the use of an entomopathogenic fungus, in this case, Metarhizium anisopliae. Metabioss uses this fungus spores which need to be resuspended in water for it to be used. (BIOAMIN, 2016a). </p>
                <p>This product can be bought in a 250g presentation, available for a cost of $495 MXN or $24.72 USD. (Control Biológico De Insectos Metarhizium anisopliae, 2017).</p>

                <h4>Entonem</h4>
                <p>Entonem is a biopesticide produced by the Dutch company Koppert Biological Systems which is used for Dipteran, Thysanopteran, Lepidopteran, Hemipteran, and Coleopteran (Otiorhynchus spp.) pest control. Entonem´s formulation contains spores from the entomopathogenic nematodes, Steinernema feltiae, which will target the pests once they reach their larval stage (Koppert, 2022).</p>
                <p>This product is available at boxes of 100g and 500g which cost approximately $635MXN and $2,675MXN or $31.98USD and $134.70USD respectively (Field, s.f.). </p>
                <h4>Malathion</h4>
                <p>The malathion is an organophosphate insecticide used for the control of a wide variety of pests [PubChem-Source]. This product is sold by many companies and is accessible for most farmers. One of these is the Mexican company, Sanidec, which sells malathion in a unique presentation of 1 liter at $225MXN or 11.33USD (Sanidec, 2010). </p>
                
                <h3>Competitors Matrix</h3>
                <div class="blog-table">
                    <table class="table" border="1" cellspacing="0" cellpadding="0" width="103%" > 
                        <tbody>
                            <tr class="table-success fw-bold">
                                <td width="9%" valign="top" ><p><strong>Companies</strong></p></td>
                                <td width="9%" valign="top" ><p>Nacionality</p></td>
                                <td width="12%" valign="top" ><p>Industrial plants in Mexico</p></td>
                                <td width="21%" valign="top" ><p>Company Size </p></td>
                                <td width="12%" valign="top" ><p>Sales Scope</p></td>
                                <td width="12%" valign="top" ><p>Products and prices</p></td>
                                <td width="22%" valign="top" ><p>Percentage of coverage in the market</p></td>
                            </tr>
                            
                            <tr class="">
                                <td width="9%" valign="top" ><p><strong>Sanidec ®</strong></p></td>
                                <td width="9%" valign="top" ><p>Mexican</p></td>
                                <td width="12%" valign="top" ><p>-Mexico State</p>
                                
                                <p>-Mexico City</p>
                                
                                <p>-Cancún</p>
                                
                                <p>-Yucatán</p>
                                
                                <p>-Coahuila</p></td>
                                <td width="21%" valign="top" ><p>Macro company. It has 5 plants throughout the republic where around 15,000 employees work. </p></td>
                                <td width="12%" valign="top" ><p>It covers the demand of the national market and Latin America. </p></td>
                                <td width="12%" valign="top" ><p>- Malatión 1000 CE - $225.00</p>
                                
                                <p>- Cinnamon Organic Pesticide - $99.00</p>
                                
                                </td>
                                <td width="22%" valign="top" ><p>The cover the home-room area, food producing companies, offices and agricultural areas. </p></td>
                            </tr>
                            
                            <tr class="table-success">
                                <td width="9%" valign="top" ><p><strong>Vestaron Corporation</strong></p></td>
                                <td width="9%" valign="top" ><p>American </p></td>
                                <td width="12%" valign="top" ><p>NO</p></td>
                                <td width="21%" valign="top" ><p>Macro company. Now has around 7,000 employees work. </p></td>
                                <td width="12%" valign="top" ><p>It covers the demand of mundial market. </p></td>
                                <td width="12%" valign="top" ><p>- Spear-T - Concentrate - $859 por Litro</p></td>
                                <td width="22%" valign="top" ><p>They cover 20% of the production and marketing of biopesticides and biofertilizers. </p></td>
                            </tr>
                            
                            <tr class="">
                                <td width="9%" valign="top" ><p><strong>Bioamin S.A de C.V.</strong></p></td>
                                <td width="9%" valign="top" ><p>Mexican</p></td>
                                <td width="12%" valign="top" ><p>Coahuila</p>
                                
                                </td>
                                <td width="21%" valign="top" ><p>Macro company. It has1 plant over Mexico which has the capacity to produce products to all the States. It has 7000 employees work. </p></td>
                                <td width="12%" valign="top" ><p>It covers the demand of national and LATAM market. </p></td>
                                <td width="12%" valign="top" ><p>- Metabioss - $355</p>
                                
                                <p>Biobea - $390</p>
                                
                                </td>
                                <td width="22%" valign="top" ><p>It covers 30% of the market demand by farmers. </p></td>
                            </tr>
                            
                            <tr class="table-success">
                                <td width="9%" valign="top" ><p><strong>Koppert Biological Systems</strong></p></td>
                                <td width="9%" valign="top" ><p>Netherlands </p></td>
                                <td width="12%" valign="top" ><p>El Márquez Industrial Park</p></td>
                                <td width="21%" valign="top" ><p>Macro company. It is principal plant is in Berkel, South Holland. It employs 2000 people around the world. </p></td>
                                <td width="12%" valign="top" ><p>It covers the demand of the mundial market. </p></td>
                                <td width="12%" valign="top" ><p>Entonem -</p>
                                
                                <p>$650</p></td>
                                <td width="22%" valign="top" ><p>It is one of the world market leaders in the field of biological crop protecition. In 2020 Koppert had sales of 160.16 Million dollars. </p></td>
                            </tr>
                            
                            <tr class="">
                                <td width="9%" valign="top" ><p><strong><br>
                                Bayer- División Crop Science</strong></p></td>
                                <td width="9%" valign="top" ><p>German</p></td>
                                <td width="12%" valign="top" ><p>Tlaxcala Plant </p></td>
                                <td width="21%" valign="top" ><p>Macro company. It is principal plant is in Leverkusen, Germany. It employs 19,400 . Tiene 19,400 people in Crop Science employees. </p></td>
                                <td width="12%" valign="top" ><p>It covers the demand of mundial market.</p></td>
                                <td width="12%" valign="top" ><p><a name="_Toc101728870"></a><a name="_Toc101713860"></a><a name="_Toc101697664">Temprid-</a></p>
                                
                                <p>$3,000</p>
                                
                                </td>
                                <td width="22%" valign="top" ><p>With 27,000 million dollars in sales, this company has a 26% share of the global agrochemical market. </p></td>
                            </tr>
                        </tbody>
                    </table>
                        
                        
                </div>
            </div>
            <div class="blog-section" id="bibliography">
                <h2>Bibliography</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}
