{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div class="container-xl my-5 p-5 ">
    <div class="row justify-content-center">
        <div class="col-md-2 me-2">
            <h3 class="text-center">Index</h2>
            <ul class="list-group">
                <li class=""><a href="{{url_for('pages', page='entrepreneurship')}}"class="text-decoration-none text-success">Return</a></li>
                <li class=""><a href="#mision-and-vision" class="text-decoration-none text-dark">Mision and vision</a></li>
                <li class=""><a href="#values" class="text-decoration-none text-dark">Values</a></li>
                <li class=""><a href="#structural-organization" class="text-decoration-none text-dark">Structural organization</a></li>
                <li class=""><a href="#localization" class="text-decoration-none text-dark">Localization</a></li>
                <li class=""><a href="#bibliography" class="text-decoration-none text-dark">Bibliography</a></li>
            </ul>
        </div>
        <div class="blog col-md-9">
            <h1 class="blog-title text-center" >Meeting Itech Toaltepe</h1>
            <h1 class="blog-title-line"> </h1>
            <div class="blog-section">
                <h2 class="Blog-subtitle text-center" id="mision-and-vision">Mision and vision</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione id magni aliquam voluptate. Veniam dolorem voluptas beatae aspernatur illo exercitationem, excepturi natus unde quod numquam incidunt consequatur dicta nihil.</p>
            </div>
            <div class="blog-section" id="values">
                <h2 class="Blog-subtitle">Values</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione id magni aliquam voluptate. Veniam dolorem voluptas beatae aspernatur illo exercitationem, excepturi natus unde quod numquam incidunt consequatur dicta nihil.</p>
            </div>
            <div class="blog-section" id="structural-organization">
                <h2 class="Blog-subtitle">Structural organization</h2>
                <h3>Employees</h3>
                <h3>Labor journeys</h3>
            </div>
            <div class="blog-section" id="localization">
                <h2 class="Blog-subtitle">Localization</h2>
                <p>Properly defining a production plant location is fundamental in developing a project. For this, it is essential to consider a variety of factors that allow for the correct localization.</p>
                <p>
                    To define the macro location, we selected five states of the republic and carried a further analysis on each one. This analysis considered the proximity to the agricultural sector of interest, availability of services, and industrial development in the region. 
                </p>
                <p>
                    The states selected for this trial were: the State of México, Sonora, Coahuila, Jalisco, and Querétaro. Once we defined in which state of the republic to establish the plant, we proceeded to define the micro localization of the plant. For this, we select 3 municipalities in said state and repeat the analysis. 
                </p>
                <p>poner a anexo 5</p>
                <h3>Macro Localization</h3>
                <p>The factors that were analysed in each tentative state are the demand for the product by potential customers, existing communications, the energy produced and alternative production methods, amount of water available, presence of industrial parks, accessibility to obtain raw material, the agility of tax processes for opening a business, transportation costs, available labour, and the security that the state has.</p>
                <p>By weighting the aforementioned factors, a decision matrix was made. This matrix evaluates the advantages and disadvantages that each of the 5 selected states has. Said states are The State of Mexico, Jalisco, Querétaro, Sinaloa, and Coahuila </p>
                <div class="blog-table">
                    <table  border="1" cellspacing="0" cellpadding="0" align="left" class="table" > 
                        <tbody>
                            <tr>
                                <td class="table-success" nowrap="" valign="bottom" ></td>
                                <td class="table-success" nowrap="" valign="bottom" ></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Mexico State</p></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Sonora</p></td>
                                <td class="table-success" nowrap="" colspan="2" valign="bottom" ><p>Coahuila </p></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Jalisco</p></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Querétaro </p></td>
                            </tr>
                                
                            <tr>
                                <td class="table-success" nowrap="" valign="bottom" ><p>Factor </p></td>
                                <td class="table-success" nowrap="" valign="bottom" ><p>Weighing</p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment</p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Market</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.23</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.92</p></td>
                                <td  nowrap="" ><p>2</p></td>
                                <td  nowrap="" ><p>0.46</p></td>
                                <td  nowrap="" ><p>2</p></td>
                                <td  nowrap="" ><p>0.46</p></td>
                                <td  nowrap="" ><p>5</p></td>
                                <td  nowrap="" ><p>1.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.69</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Comunications </p></td>
                                <td  nowrap="" valign="bottom" ><p>0.18</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.54</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.72</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.54</p></td>
                                <td  nowrap="" ><p>5</p></td>
                                <td  nowrap="" ><p>0.9</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.72</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Energy</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.45</p></td>
                                <td  nowrap="" ><p>5</p></td>
                                <td  nowrap="" ><p>0.75</p></td>
                                <td  nowrap="" ><p>5</p></td>
                                <td  nowrap="" ><p>0.75</p></td>
                                <td  nowrap="" ><p>1</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.6</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Water </p></td>
                                <td  nowrap="" valign="bottom" ><p>0.11</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.33</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.44</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.44</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.44</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.44</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Industrial Parks</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.1</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>1</p></td>
                                <td  nowrap="" ><p>0.1</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Raw Material </p></td>
                                <td  nowrap="" valign="bottom" ><p>0.08</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.24</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.32</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.24</p></td>
                                <td  nowrap="" ><p>5</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.24</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Fiscal</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.05</p></td>
                                <td  nowrap="" ><p>2</p></td>
                                <td  nowrap="" ><p>0.1</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.2</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Transportation Costs</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.05</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Workforce</p></td>
                                <td  nowrap="" valign="bottom" ><p>0.03</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.12</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.09</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.12</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.09</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.12</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Security </p></td>
                                <td  nowrap="" valign="bottom" ><p>0.02</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.06</p></td>
                                <td  nowrap="" ><p>2</p></td>
                                <td  nowrap="" ><p>0.04</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.06</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.06</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.06</p></td>
                            </tr>
                            
                            <tr>
                                <td  nowrap="" valign="bottom" class="table-success" ><p><strong>TOTAL</strong></p></td>
                                <td  nowrap="" valign="bottom" class="table-success" ><p><strong>1</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.310</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.52</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.01</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" class="table-danger" ><p><strong>3.89</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.62</strong></p></td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                    <!--fin de tabla-->
                <p>Each factor was assigned a weighting value based on its importance, whose  total sum gave 1. In this case, the Demand was considered as the main factor since it implies reducing transportation costs and more direct distribution of the product with our market. On the other end, we selected safety as the last weighted facto.</p>
                <p>
                    Then, a score from 1 to 5 was assigned to each state according to the factor being evaluated, where 1=Very bad, 2=Bad, 3=Fair, 4=Good and 5=Very good. These values were multiplied by the weighting value, obtaining a Relative measurement. The relative values of each factor were added together to calculate the rating of each state, and therefore, defining which state is optimal for establishing the plant.
                </p>
                <p>
                    With this method, we decided that the best state to build the plant is the state of Jalisco as it scored the most of all states, with a rating of 3.89.
                </p>
                <p>Poner anexo 6</p>

            </div>
            <div class="blog-section">
                <h2 class="Blog-subtitle">Micro Localization</h2>
                <p>For the micro-location analysis, we selected three municipalities in the state of Jalisco: Zapopan, Acatlán de Juárez, and Tlajomulco de Zúñiga.</p>
                <p>The same way as the macro-localization analysis, we carried an extensive bibliographic search and evaluated the availability of each location to infrastructure and services, such as water, electricity, cost of land, cost of industrial buildings, security, and available industrial parks, among others. The method used to elaborate the matrix and calculate the relative ratings was the same used before. </p>
                <!--inicio de tabla-->
                <div class="blog-table">
                    <table class="table" border="1" cellspacing="0" cellpadding="0"  > 
                        <tbody>
                            <tr>
                                <td class="table-success" nowrap="" valign="bottom" ></td>
                                <td  class="table-success" nowrap="" valign="bottom" ></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Acatlán de Juárez</p></td>
                                <td class="table-success" nowrap="" colspan="2" ><p>Zapopan </p></td>
                                <td class="table-success" nowrap="" colspan="2" valign="bottom" ><p>Tlajomulco de Zúñiga </p></td>
                            </tr>
                        
                            <tr>
                                <td class="table-success" nowrap="" valign="bottom" ><p>Factor </p></td>
                                <td class="table-success" nowrap="" ><p>Weighing</p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                                <td class="table-success" nowrap="" ><p>Assessment </p></td>
                                <td class="table-success" nowrap="" ><p>Subtotal </p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Industrial Parks</p></td>
                                <td  nowrap="" ><p>0.22</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.88</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.66</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.66</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Water</p></td>
                                <td  nowrap="" ><p>0.19</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.76</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.76</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.76</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Energy</p></td>
                                <td  nowrap="" ><p>0.15</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.45</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.45</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.45</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Land Cost</p></td>
                                <td  nowrap="" ><p>0.12</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.48</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.36</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.48</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Ship Cost </p></td>
                                <td  nowrap="" ><p>0.1</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.4</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Security </p></td>
                                <td  nowrap="" ><p>0.08</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.32</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.24</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.24</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Wastewater treatment plant </p></td>
                                <td  nowrap="" ><p>0.065</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.26</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.26</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.26</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Medical Service</p></td>
                                <td  nowrap="" ><p>0.04</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.16</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.16</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.16</p></td>
                            </tr>
                        
                            <tr>
                                <td  nowrap="" valign="bottom" ><p>Firemen</p></td>
                                <td  nowrap="" ><p>0.035</p></td>
                                <td  nowrap="" ><p>4</p></td>
                                <td  nowrap="" ><p>0.14</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.105</p></td>
                                <td  nowrap="" ><p>3</p></td>
                                <td  nowrap="" ><p>0.105</p></td>
                            </tr>
                        
                            <tr>
                                <td class="table-success" nowrap="" ><p><strong>TOTAL</strong></p></td>
                                <td class="table-success" nowrap="" ><p><strong>1</strong></p></td>
                                <td  nowrap="" ></td>
                                <td class="table-danger" nowrap="" ><p><strong>3.850</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.395</strong></p></td>
                                <td  nowrap="" ></td>
                                <td  nowrap="" ><p><strong>3.515</strong></p></td>
                            </tr>
                        
                        </tbody>
                    </table>
                        
                        
                </div>
                <!--fin de tabla-->
                <p>
                    Via the micro-localization analysis, we defined that the optimal place to install the production plant is in the municipality of Acatlán de Juárez in the Centro Logístico Jalisco industrial park.
                </p>
                <p>poner anexo 7</p>

            </div>
            <div class="blog-section">
                <h2 class="Blog-subtitle">Floor plan</h2>
               
                
            </div>

            <div class="blog-section" id="bibliography">
                <h2 class="Blog-subtitle">Bibliography</h2>
                <ul class="list-group">

                
                    <li class="list-group-item">Consulmex. (2019). Jalisco: Plan Estatal de Energía. </li class="list-group-item">
                    <li class="list-group-item">INEGI. (2021). Tasa de incidencia delictiva por entidad federativa de ocurrencia por cada cien mil habitantes. Incidencia delictiva. </li class="list-group-item">

                    <li class="list-group-item">INEGI. (2019). Red Nacional de Carreteras. Secretaria de Comunicaciones y Transportes.</li class="list-group-item">
                    <li class="list-group-item">Semáforos Estatales. (2022). Semáforo Delictivo En México. Marzo 2022. SEGOB.</li class="list-group-item">
                    <li class="list-group-item">Gobierno del Estado de México. (2022). Desarrollos Industriales. Fideicomiso para el Desarrollo de Parques y Zonas Industriales en el Estado de México.</li class="list-group-item">
                    <li class="list-group-item">Vázquez, V. (2021). Cuáles son las principales industrias en Querétaro. MANUFACTURA & PRODUCCIÓN, de Mexico Industry. </li class="list-group-item">
                    <li class="list-group-item">Gobierno del Estado de Coahuila. (2022). Parques Industriales. Secretaría de economía.</li class="list-group-item">
                    <li class="list-group-item">Gobierno del Estado de Jalisco. (2015). Ficha Técnica Hidrológica Municipal: Acatlán de Juárez. Comisión Estatal del Agua. </li class="list-group-item">
                    <li class="list-group-item">Gobierno del Estado de Jalisco. (2015). Ficha Técnica Hidrológica Municipal: Tlajomulco de Zúñiga. Comisión Estatal del Agua. </li class="list-group-item">
                    <li class="list-group-item">Condominio Industrial Santa Cruz. (2019). Parques industriales en Jalisco. </li class="list-group-item">
                    <li class="list-group-item">IIEG. (2021). Sectores estratégicos de Jalisco. Instituto de Informática Estadística y Geográfica de Jalisco. </li class="list-group-item">
                    <li class="list-group-item">Secretaria de Economía. (2020). Información Económica y Estatal de Sonora. Actividad Económica. </li class="list-group-item">
                    <li class="list-group-item">SCT. (2018). Análisis geográfico de los flujos de carga ferroviaria en México, con datos de 2016. Instituto Mexicano del Transporte. </li class="list-group-item">
                    <li class="list-group-item">SCT. (2020). Crecimiento del puerto de Guaymas. Sistema Portuario Nacional Guaymas.   </li class="list-group-item">
                    <li class="list-group-item">Kontarovsky. (2022). Costo de impuestos en México ¿En qué afectan a las PyMEs y a los empresarios? Finanzas. Mundi. </li class="list-group-item">
                    <li class="list-group-item">Ponce, K. (2021). Los estados donde hay menos trámites para abrir un negocio. Dinero. </li class="list-group-item">
                    <li class="list-group-item">El Financiero Mx. (2020). ¿Dónde emprender en México? Estos son los estados ideales. El Financiero. </li class="list-group-item">
                    <li class="list-group-item">CONAGUA. (2021). Disponibilidad por Acuíferos. Aguas Subterráneas.</li class="list-group-item">
                    <li class="list-group-item">CONAGUA. (2019). Agua potable y drenaje. </li class="list-group-item">
                    <li class="list-group-item">INMOBILIARE. (2021). CONSTRUCCIÓN Sonora tendrá planta de energía solar con inversión de 39 mil mdp. Construcción y energía. </li class="list-group-item">
                    <li class="list-group-item">IIEG. (2020). Encuesta Nacional de Seguridad Publica Urbana: Resultados para Jalisco. Instituto de Información Estadística y Geográfica.</li class="list-group-item">
                    <li class="list-group-item">Mariano, E. (2022). CFE invertirá 300 mdd en Central en Querétaro. Energy & Commerce, de Generación Eléctrica.</li class="list-group-item">
                    <li class="list-group-item">Domínguez, G. (2021). Jalisco a Futuro. Centro de estudios estratégicos para el desarrollo, de Energía.</li class="list-group-item">
                    <li class="list-group-item">DataMéxico. (2022). Fabricación de Equipo de Generación y Distribución de Energía Eléctrica. Rama Industrial-Eléctrica. </li class="list-group-item">
                    <li class="list-group-item">Secretaría de Energía. (2018). Se inaugura la Planta Solar Villanueva en Coahuila. Gobierno de México. </li class="list-group-item">
                    <li class="list-group-item">ORVE. (2022). El valor del metro cuadrado. Inversiones saludables.</li class="list-group-item">
                    <li class="list-group-item">Habitissimo. (2022). Construcción nave industrial en Jalisco: Precio y Cotizaciones. </li class="list-group-item">
                    <li class="list-group-item">Parque Pinar Empresarial. (2022). Espacios Industriales. Áreas integrales e innovadoras. </li class="list-group-item">
                    <li class="list-group-item">FRONTIER. (2022). Centro Logístico Jalisco. Industrial & Logistics Real Estate. </li class="list-group-item">
                    <li class="list-group-item">Condominio Industrial Santa Cruz. (2022). Bodegas, Naves y Terrenos en Venta. CISAC.</li class="list-group-item">
                    <li class="list-group-item">CONTYQUIM. (2020). Importancia del tratamiento. Tratamiento de Aguas. </li class="list-group-item">
                    <li class="list-group-item">KM-Kraus Muller. (2021). Exigencias del cuerpo de bomberos para industrias. </li class="list-group-item">
                </ul>
                
            </div>

        </div>
    </div>
</div>

{% endblock %}
