{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}
<div class="container-xl my-5 p-5 ">
    <div class="blog">
        <h1 class="blog-title">Meeting Itech Toaltepe</h1>
        <div class="blog-section">
            <h2 class="Blog-subtitle">Mision and vision</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione id magni aliquam voluptate. Veniam dolorem voluptas beatae aspernatur illo exercitationem, excepturi natus unde quod numquam incidunt consequatur dicta nihil.</p>
        </div>
        <div class="blog-section">
            <h2 class="Blog-subtitle">Values</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione id magni aliquam voluptate. Veniam dolorem voluptas beatae aspernatur illo exercitationem, excepturi natus unde quod numquam incidunt consequatur dicta nihil.</p>
        </div>
        <div class="blog-section">
            <h2 class="Blog-subtitle">Structural organization</h2>
            <h3>Employees</h3>
            <h3>Labor journeys</h3>
        </div>
    </div>
</div>

{% endblock %}
