{% extends "layout.html" %}
  
{% block title %}Proof of Concept{% endblock %}
{% block lead %}Expand upon your Silver medal work for Proposed Implementation and develop a proof of concept for your project.{% endblock %}

{% block page_content %}

<div >
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/spidicidesafety.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl">
  <div class="row shadow-lg mt-3">
    <div class="col-md-2">
      Index
    </div>
    <div class="col-md-9">
      <div class="blog-section" id="peptides-nature">
        <h2 class="blog-title">Peptides nature</h2>
        <h2 class="blog-title-line"></h2>
        <p>When we talk about biopesticides, it refers to substances that come from a living organism such as fungus, bacteria, plants, etc. Spidicide-CX is composed by two peptides (ω-HXTX-Hv2a and U1-theraphotoxin-Sp1a) from two venom spiders: <span class="fst-italic">Selenotypus plumipes</span> and <span class="fst-italic">Hadronyche versuta</span>.
        </p>
        <p>These peptides have been reported with toxic functions to neuronal receptors and voltage-gated sodium (NaV) and calcium (CaV) ions channels in insects (Shen et al., 2018). It is worth noting that their functions are highly specific for some insect orders, mainly the Coleoptera order, the order that belongs to the pests we intend to control.
        </p>
        <p>Also, these peptides are not toxic for human being according to literature, and they have a high degradation rate wich avoid the bioaccumulation. So, its use does not represent any risk to the environment either (Hardy et al., 2013).
        </p>
        <p>For more security, we search for related allergies to these peptides and similar peptides to be sure that its constant use does not affect the farmer's health. Fortunately, there are no allergies reported. To see if the Spidicide-CX peptides cause allergies, we used the I-TASSER server. This server helped us to find similar peptides according to our peptides sequence. This is because there is no recorded data that our peptides are harmful to humans. Several peptides were related to the ones of Spidicide-CX. Nevertheless, after in-deep research, we found out that there are no related allergies to <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#tabla-safety-1">similar peptides</button>. However, in future, we could plan to prove if they cause any allergy in long-term exposure.</p>
        <!--modal-->
        <div class="modal fade" id="tabla-safety-1" tabindex="-1" aria-labelledby="tabla-safety-1" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Table 1. Related peptides to U1-theraphotoxin-Sp1a</h3>
                    <div class="blog-table">
                        <table class="table-modal"  border="1" cellspacing="0" cellpadding="0" > 
                            <tbody>
                                <tr>
                                <td><p><strong>Name</strong></p></td>
                                <td><p><strong>Origin</strong></p></td>
                                <td><p><strong>PDB code of the related peptide</strong></p></td>
                                <td><p><strong>Does it cause allergies?</strong></p></td>
                                </tr>
                                
                                <tr>
                                <td><p>PcFK1</p></td>
                                <td><p>Spider venom</p></td>
                                <td><p>1X5V</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Mamba intestinal toxin 1</p></td>
                                <td><p>Snake venom</p></td>
                                <td><p>1IMT</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Tachystatin b</p></td>
                                <td><p>Limulidae antimicrobial protein</p></td>
                                <td><p>2DCV</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>ACTX-Hi:OB4219</p></td>
                                <td><p>Spider venom</p></td>
                                <td><p>1KQH</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>AmFPI-1</p></td>
                                <td><p>Fungal protease inhibitor</p></td>
                                <td><p>3BT4</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                            </tbody>
                        </table>
                            
                              
                    </div>
                    <h3>Table 2. Related peptides to ω-HXTX-Hv2a</h3>
                    <div class="blog-table">
                        <table class="table-modal"  border="1" cellspacing="0" cellpadding="0" > 
                            <tbody>
                                <tr>
                                <td><p><strong>Name</strong></p></td>
                                <td><p><strong>Origin</strong></p></td>
                                <td><p><strong>PDB code of the related peptide</strong></p></td>
                                <td><p><strong>Does it cause allergies?</strong></p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Dkk4</p></td>
                                <td><p>Signaling protein</p></td>
                                <td><p>5O57</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Lipase-procolipase complex</p></td>
                                <td><p>Enzima (lipase)</p></td>
                                <td><p>1LPA</p></td>
                                <td><p>No</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Scytovirin</p></td>
                                <td><p>Antiviral (from bacteria)</p></td>
                                <td><p>2QSK</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Antimicrobial Peptide 2</p></td>
                                <td><p>Human antimicrobial protein </p></td>
                                <td><p>2L1Q</p></td>
                                <td><p>No</p></td>
                                </tr>
                                
                                <tr>
                                <td><p>Magi4</p></td>
                                <td><p>Spider venom</p></td>
                                <td><p>2ROO</p></td>
                                <td><p>No registred data</p></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--fin modal-->

      </div>
      <div class="blog-section" id="proposed-application-of-spidicide-cx">
        <h2>Proposed application of Spidicide-CX
        </h2>
        <h2 class="blog-title-line"></h2>
        <p>The growth of the world population causes a proportional increase in the demand for food, so the agricultural sector is one of the main sectors that are affected and under pressure. Due to this, the use of fertilizers, pesticides, herbicides, and other agrochemical compounds to maintain this demand has also increased, causing unwanted effects on crops and farmer’s health (Kah & Hofmann, 2013).
        </p>
        <p>Therefore, it is essential to search for new tools that, with the advancement of science, are potentially applicable to combat these problems and, at the same time, reduce costs, especially for stakeholders, increase productivity, improve efficiency and reduce environmental impact.
        </p>
        <p>The iGEM teams from Tec Chihuahua and UAM are solving similar local problems since both are developing biopesticides. Tec Chihuahua's active ingredients are two antimicrobial peptides and interfering RNA to counteract the losses in chili production caused by the oomycete<span class="fst-italic">  Phytophthora capsici</span>, which is one of the most destructive pathogens in chili crops. On the other hand, UAM is developing a biopesticide based on two spider venom peptides from Australian spiders to counteract the pests that cause the most damage to cactus, avocado, and agave crops. These pests are insects that belong to the Coleoptera order.</p>
        <p>Therefore, the two teams collaborated through in-depth research to determine a delivery method that could work for both biopesticides. Finally, we concluded that the nanotechnology field could be a great solution.</p>
        <p>The emerging application of nanotechnology-based pesticides is known as nanopesticides. These methods have made it possible to improve the efficacy of pesticides, reducing doses and improving the stability of the active ingredients, which reduces environmental impact. It is expected that these nanopesticides could contribute to traditional pest control strategies through the use of nanoparticles to more easily penetrate the target organism, be resistant to environmental conditions, and at the same time not affect the surrounding crops and wildlife (Smith et al., 2008).
        </p>
        <p class="text-end"><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#table">Comparative table of this research</button></p>
        <!--inicia modal-->
        <div class="modal fade" id="table" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delivery methods by the research of iGEM Tec Chihuahua and UAM teams
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="blog-table row justify-content-between">
                  <table class="table-modal" >
                    <tbody>
                      <tr>
                      <td><p>Delivery method</p></td>
                      <td><p>Description</p></td>
                      <td><p>Advantages</p></td>
                      <td><p>Disadvantages</p></td>
                      <td><p>Reference</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanotubes</p></td>
                      <td><p>Carbon nanotubes (CNTs) are allotropes from carbon that can be single-walled (SWCNT) or multi-walled (MWCNT) and have unique properties such as mechanical strength, flexibility, high thermal and electrical conductivity. CNTs nanotubes can be used as delivery platforms for many applications. They can be functionalized in a covalent or noncovalent way, with a variety of biomolecules in a specific way.</p></td>
                      <td><p>-Strength</p>
                      
                      <p>-Flexibility</p>
                      
                      <p>-Electrical Conductivity</p>
                      
                      <p>-Thermal conductivity and expansion</p>
                      
                      <p>-Easy to combine therapies</p>
                      
                      <p>-Can be manipulated chemical or physically through functionalizations</p>
                      
                      <p>-Many possible applications</p></td>
                      <td><p>-Expensive</p>
                      
                      <p>-Low bioaccumulation</p>
                      
                      <p>-Impurities</p>
                      
                      <p>-Non-uniform morphology</p>
                      
                      <p>-Insoluble without</p>
                      
                      <p>functionalization</p>
                      
                      <br>
                      <br>
                      </td>
                      <td><p>(AzoNano, 2018)</p>
                      
                      <br>
                      <p>(Zhao, 2021)</p>
                      
                      <br>
                      </td>
                      </tr>
                      
                      <tr>
                      <td><p>Fullerenes</p></td>
                      <td><p>Allotrope of carbon that has single and double bonds that unify rings of five, six or even seven atoms in a spherical, ellipsoid or a variety of many other shapes and sizes. Main forms C60 and C70 rigged by the pentagon rule.</p>
                      
                      <br>
                      </td>
                      <td><p>-Electron transport materials (ETMs)</p>
                      
                      <p>-Thermally stable</p>
                      
                      <p>-Very useful in photovoltaics</p>
                      
                      <br>
                      </td>
                      <td><p>-Expensive</p>
                      
                      <p>-Mainly need to be functionalized</p>
                      
                      <p>-More promising in the electron area that in biological areas as a transport method</p></td>
                      <td><p>(Zhang, 2017)</p>
                      
                      <br>
                      <p>(Collavini, 2018)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Graphene</p>
                      
                      <br>
                      </td>
                      <td><p>Known as “Wonder material” is an allotrope of carbon that consists of a single layer of atoms arranged in a hexagonal lattice nanostructure.</p>
                      
                      <p>It can be presented with defects or in different forms such as nanoribbons, graphene oxide, nanosheets among others, each one with different properties.</p>
                      
                      <br>
                      </td>
                      <td><p>-Reflect transparent material</p>
                      
                      <p>-Membrane technology for water treatment</p>
                      
                      <p>-Thin</p>
                      
                      <p>-Strong</p>
                      
                      <p>-Selective</p>
                      
                      <p>-Better conductivity in bul graphene</p></td>
                      <td><p>-Hard to produce at industrial scale</p>
                      
                      <p>-Expensive</p>
                      
                      <p>-Still emerging science about transport methods for graphene</p>
                      
                      <p>-Electrical field areas related to the Dirac point need to be understood deeply in the different graphene forms</p></td>
                      <td><p>(Industry Today, 2022)</p>
                      
                      <br>
                      <p>(Yang, 2020)</p>
                      
                      <br>
                      <p>(Savin, 2012)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Microencapsulation</p></td>
                      <td><p>Microencapsulation is an advanced food processing technology, using which any compound can be encapsulated inside a particular material, making a tiny sphere of diameter ranging from 1 μm to several 100 μm. This delivery method is done for protecting the sensitive compounds and, hence, ensuring their safe delivery. Encapsulants can be either polymeric or non polymeric materials like cellulose, ethylene glycol, and gelatin. There are several techniques used for microencapsulation. Fluidized bed coating, spray cooling, spray drying, extrusion, and coacervation are some of the most common methods.</p></td>
                      <td><p>- UV radiations protection</p>
                      
                      <p>- Microencapsulation can be accomplished with gelatin, starches, cellulose and other polymers such as sodium alginate.</p>
                      
                      <p>- Microencapsulation offers advantages such as facilitating handling and control of the release and solubilization of active substances, thus offering a great area for food science and processing development.</p></td>
                      <td><p>1. The technique is not adaptable to all core materials.</p>
                      
                      <p>2. Coating may be uncompleted and discontinuous.</p>
                      
                      <p>3. No single method can be applied to all core materials.</p>
                      
                      <p>4. Limited choice of safe, approved, biocompatible and biodegradable materials.</p>
                      
                      <p>6. Most information is still patented and hence there may be difficulty in choosing suitable technique and methodology for individual application</p>
                      
                      <p>7.Microencapsulation of bioinsecticides has been largely studied, but its protective effect against UV radiations can largely vary depending on the conditions and type of irradiation applied</p></td>
                      <td><p>(García et al., 2011).</p>
                      
                      <p>(Calderón y Ponce, 2022).</p>
                      
                      <p>(Choudhury et al., 2021)</p>
                      
                      <p>(Tarun et al., 2011).</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Microemulsions</p></td>
                      <td><p>It is an isotropic solution of two immiscible liquids. The surfactant molecules can be located at the oil/water interface and form a water layer.</p>
                      
                      <br>
                      </td>
                      <td><ul>
                      <li><p>Longer lifetime.</p>
                      
                      </li>
                      <li><p>Low solvent level.</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><ul>
                      <li><p>Thermodynamically unstable.</p>
                      
                      </li>
                      <li><p>Use higher surfactant (~20%).</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><p>(Nuruzzaman et al,. 2019)</p>
                      
                      <br>
                      </td>
                      </tr>
                      
                      <tr>
                      <td><p>Layered double hydroxides (LDHs)</p></td>
                      <td><p>It is used as a filler in coatings due to its structural and compositional flexibility. It is build with brucite (Mg(OH)2)- type layers of mixed metal hydroxides, where the layered compounds have positive metal hydroxides and negatively charged interlayer anions</p></td>
                      <td><p>-High buffering capacity</p>
                      
                      <p>-High water retention ability</p>
                      
                      <p>-Acid neutralizing potential</p>
                      
                      <p>-High affinity to ubiquitous carbonate ions</p>
                      
                      <p>-Serve as fungicide</p></td>
                      <td><ul>
                      <li><p>Expensive</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><p>(Nuruzzaman et al,. 2019)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanoemulsions</p></td>
                      <td><p>A pesticide nanoemulsion is where the pesticide is dispersed as nanosized droplets in water, with surfactant molecules localized at the pesticide-water interface.</p></td>
                      <td><ul>
                      <li><p>Increases potential because it minimizes microemulsion problems.</p>
                      
                      </li>
                      </ul>
                      
                      <ul>
                      <li><p>Improve the solubility of biopesticides.</p>
                      
                      </li>
                      </ul>
                      
                      <ul>
                      <li><p>Use less surfactant, 5-10%.</p>
                      
                      </li>
                      </ul>
                      
                      <p>- Excellent means of rapid transport of high concentrations of active ingredients to cell membranes.</p>
                      
                      <p>- Increase the bioavailability</p></td>
                      <td><ul>
                      <li><p>Thermodynamically and kinetically unstable.</p>
                      
                      </li>
                      </ul>
                      
                      <ul>
                      <li><p>The high percentage of surfactants to be used, the potential toxicity of the surfactants and that the solubility of the drugs is influenced by environmental considerations.</p>
                      
                      </li>
                      </ul>
                      
                      <br>
                      </td>
                      <td><p>(Brime, 2002)</p>
                      
                      <br>
                      <p>(Hayles et al., 2017)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nano Biopesticides by RNA interference RNAi preparation.</p></td>
                      <td><p>It develops mainly using double-stranded RNA that triggers gene silencing mechanisms.</p>
                      
                      <p>The purpose of silencing a specific gene or genes by making RNA interference when applied naturally in plants, animals and fungi is still under development.</p></td>
                      <td><ul>
                      <li><p>Favourable results when employing dsRNA with chitosan.</p>
                      
                      </li>
                      <li><p>Use to control specific pests.</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><ul>
                      <li><p>Expensive production method.</p>
                      
                      </li>
                      </ul>
                      
                      <br>
                      <ul>
                      <li><p>The erroneous gene silencing.</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><p>(Nuruzzaman et al,. 2019)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanodispersions</p></td>
                      <td><p>The pesticide is dispersed as solid nanosized particles in water. Nanodispersions are stabilized against demixing from the water by their small size and the presence of surfactant molecules.</p></td>
                      <td><p>- A variety of well-established methods for preparing nanodispersions are available.</p>
                      
                      <p>- The main preparation methods are dry/wet milling, extraction/precipitation, solvent evaporation from nanoemulsions, and high-pressure homogenization.</p></td>
                      <td><p>-In contrast to nanoemulsions, only kinetically stable nanodispersions can be prepared.</p>
                      
                      <p>-This method is usually used only for solid pesticides.</p>
                      
                      <p>- Effectiveness is highly dependent on the polarity of the pesticide.</p></td>
                      <td><p>(Hayles et al., 2017)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanobiopesticide using polymeric nanocarriers</p></td>
                      <td><p>In polymeric nanocarriers, the biopesticide molecules are entrapped, dissolved, attached, or encapsulated to the polymer’s matrix and the bioactive molecules are protected from chemical and enzymatic degradation.</p>
                      
                      <br>
                      <p>The principal natural polymers used as nanocarriers are starch, chitosan, gelatin, dextran, albumin, lignin, chitin, cellulose, and alginic acid.</p></td>
                      <td><ul>
                      <li><p>Natural polymers are biodegradable and have the ability to form different nanostructured substances.</p>
                      
                      </li>
                      </ul>
                      
                      <ul>
                      <li><p>Biopolymers have good physical and chemical properties that create new opportunities for preparing various polymeric nanocarriers such as nanocapsules, nanospheres, nanomicelles, and nanogels.</p>
                      
                      </li>
                      </ul>
                      
                      </td>
                      <td><p>- Sometimes the physical or chemical processes can cause difficulties in the release of the biopesticide.</p></td>
                      <td><p>(Nuruzzaman et al., 2019)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanocapsule-delivered biopesticide</p></td>
                      <td><p>The nanocapsule-mediated biopesticide formulations are generally prepared through arrangement of a vesicular system.</p></td>
                      <td><p>- This method can be applied to liquid biopesticide formulations, solid biopesticide</p>
                      
                      <p>agents, or a polymeric matrix in which biopesticide molecules or agents are entrapped homogeneously.</p></td>
                      <td><p>- The active ingredients may also be absorbed into the polymeric shell.</p></td>
                      <td><p>(Nuruzzaman et al., 2019)</p></td>
                      </tr>
                      
                      <tr>
                      <td><p>Nanogel-delivered biopesticide</p></td>
                      <td><p>Nanogels are nanosized hydrogel particles composed of physically or chemically cross-linked hydrophilic or amphiphilic polymeric networks.</p></td>
                      <td><p>- Nanogels have served as a carrier for bioactive agents. Its application demonstrated their capacity to serve as a supportive medium for the controlled release of biopesticide delivery.</p></td>
                      <td><p>- The requirement of toxic surfactants and organic</p>
                      
                      <p>solvents, initiators, and catalysts in chemically cross-linked nanogels may negatively</p>
                      
                      <p>impact biocompatibility.</p></td>
                      <td><p>(Nuruzzaman et al., 2019)</p></td>
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--termina modal-->

        <p>In this collaboration, both teams are from Mexico. In our country, we face several problems related to the lack of regulations in the synthetic biology field and the fact that our stakeholders have many fears related to biotechnological products. Because of this and after thorough research, both teams concluded that the chitosan nanoparticles could be a suitable delivery method because this presents many advantages. So, we have to bring the information about this technology to our stakeholders in a friendly way.</p>
        <p>Chitosan is the second largest available biopolymer in nature and is a polysaccharide copolymer. It is produced after the deacetylation of chitin harvested from crustacean shells. The applications of chitosan have been explored in many industrial sectors such as the food industry, packaging, pharmaceutical, and agriculture, among others (Ahmed Wani et al., 2022). There is increasing interest in using nanoencapsulation as a tool for delivery systems of many components, such as antimicrobial peptides, iRNA, and active ingredients (Patiño, 2017).</p>

        <h3>General characteristics</h3>
        <p>The chitosan nanoparticles have high biodegradability, biocompatibility, and low toxicity. These characteristics generate more interest in the application as carriers of compounds such as pesticides (Sharifi-Rad et al., 2021).</p>
        <p>These nanocapsules have components hydrophobic and hydrophilic, converting the product to amphiphilic. Therefore, this property promotes the formation of micellar structures and provides a stabilizing interface between the nucleus of the nanoparticle and the aqueous environment.</p>
        <h3>Biodegradation</h3>
        <p>In the nanotechnology field, synthetic nanoparticles have issues due to materials used as nanocarriers being toxic and having poor degradability. However, the use of different kinds of materials as nanocarriers has emerged, such as chitosan-based nanoparticles, which counteract these effects caused by synthetic nanoparticles. The chitosan-based nanosystems can be used as advanced delivery systems due to their capacity to alter protein loading and adjust the value of each parameter during preparation. They also have high stability, high protein packing efficiency, and are easy to store and transport (Sharifi‑Rad et al., 2021).</p>
        <h3>Toxicity</h3>
        <p>When chitosan is degraded by enzymes, amino sugars and other non-toxic compounds are released. Therefore, chitosan is considered a biocompatible compound with low toxicity. Only one data has reported that chitosan presents minimal LD50 toxicity of 16 g/kg, which is similar to the toxicity of salt and sugar, so it is considered safe for plants and animals (National Toxicology Program, 2017).</p>
        <h3>Methodology</h3>
        <p class="fst-italic">Chitosan nanoparticle production</p>
        <p>Chitosan nanoparticle production is easy. Currently, there are a lot of methods by which it can be achieved. The protocol that both teams have chose reduces costs and doesn’t require sophisticated equipment or reactants in the lab. This process is known as ionic gelation.</p>
        <ol class="mt-3">
          <li>To prepare a chitosan solution of 1.5% w/v, dissolved chitosan in glacial acetic acid solution at 1% (v/v) or hydrochloric acid (HCI) at 0.1% v/v concentration.</li>
          <li>A pH adjustment to the solution must be performed at 5 by adding Sodium hydroxide (NaOH) 1.0 M. Stirring the solution for around 40 minutes.</li>
          <li>Simultaneously, the preparation of the cross-linking agent can be done using sodium tripolyphosphate (TPP). It is prepared as 0.1% wt solution in deionized water. Adjust the pH with the additions of HCl 0.1 M.</li>
          <li>Dissolve the chitosan solution in the polyanionic solution (TPP) to obtain the cation of chitosan. A stabilizing agent, such as Poloxamer can also be added but is optional.</li>
          <li>Stir the chitosan/TTP solution constantly for 10 minutes at room temperature; the precipitation forms the nanoparticles.</li>
          <li>The suspension is centrifuged to separate the nanoparticles from unreacted chitosan and TPP. The pellet of nanoparticles could be resuspended in water (ChitoLytic, 2022).
          </li>
        </ol>

        <img src="https://static.igem.wiki/teams/4422/wiki/safety/colabtec1.png" alt="" class="img-fluid">
        <p class="text-center mt-2">Figure 1. Diagram of chitosan nanoparticles production through ionic gelation</p>
        <p class="mt-3">The specifications of quantity and concentrations of each reagent are variable because those parameters can change depending on the characteristics of the nanoparticles that could be needed. A variability in concentration or times could change their size or porosity. This is one of the reasons that makes chitosan nanoparticles able to encapsulate many kinds of molecules.</p>
        <p class="fst-italic">Nanoencapsulation</p>
        <p>To encapsulate the active ingredients of both pesticides, we based on a protocol made by Mudo et al. (2022). They have analyzed the best parameters for dsRNA encapsulation without compromising its integrity or stabilization.</p>
        <ol class="mt-3">
          <li>Prepare a solution with the chitosan particles at a concentration of 3.0 µg µL−1.</li>
          <li>Add dropwise a 1000 µL solution composed of 700 µL of TPP (1.2 µg µL−1) and 300 µL of dsRNA (550 µg mL−1) to the chitosan solution under magnetic stirring. The nanoparticles are separated through centrifugation (de Britto et al., 2014).</li>
        </ol>

        <img src="https://static.igem.wiki/teams/4422/wiki/safety/colabtec2.png" alt="" class="img-fluid">
        <p class="text-center mt-2">Figure 2. Encapsulation of protein or active ingredients in chitosan nanoparticles</p>

      </div>

      <div class="blog-section" id="proof-of-concept">
        <h2 class="blog-subtitle">Proof of Concept</h2>
        <h2 class="blog-title-line"></h2>
        <p class="mt-3">To verify the efficacy of Spidicide-CX over commercial pesticides, we designed this proof of concept. It consisted of feeding five groups of larvae and adult insects with different treatments (control, buffer, malathion, OAIP-1 with lectin, AcTx-Hv2 with lectin, and AcTx-Hv2 with lectin + OAIP-1 with lectin) every 12 hours. And during that, we will observe the mortality of the insects and do an ANOVA and Tukey tests to compare the data recollected.</p>

        <h3>Proof of concept results</h3>
        <p>Due to the lack of insect samples because it is no longer cactus weevil season, we modified the initial protocol. These new changes consisted in reducing the treatments, as shown below. Another inconvenience in the realization of this protocol was the lack of time. So, we collect the first hours of data without finishing the minimum data to run statistical tests.</p>
        <p>We collected the larvae and adult cactus weevils since we got permission from the Safety and Security Committee. In the first place, we submitted the Animal Use form, but we were notified that this form wasn’t necessary. Instead, we must submit just a check-in form. We received the answer by October 5th. So, we tried to hurry to collect the insect samples on October 8th.</p>
        <p>These are the results we were able to obtain: </p>

        <p class="text-center">Table 3. Alive adult insects</p>
        <div class="blog-table">
          <table class="table" border="1" cellspacing="0" cellpadding="0" > 
            <tbody>
            <tr class="table-success">
             <td valign="top" ></td>
             <td valign="top" ><p>0 hours</p></td>
             <td valign="top" ><p>6 hours</p></td>
             <td valign="top" ><p>12 hours</p></td>
             <td valign="top" ><p>18 hours</p></td>
             <td valign="top" ><p>24 hours</p></td>
             <td valign="top" ><p>30 hours</p></td>
             <td valign="top" ><p>36 hours</p></td>
             <td valign="top" ><p>42 hours</p></td>
             <td valign="top" ><p>48 hours</p></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>Control</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>OAIP-1/lectina + buffer</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>OAIP-1/lectina + Hv2a/lectina + buffer</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>1</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>Malathion</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ><p>2</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
            </tbody>
          </table>
        </div>
        <p class="text-center">Table 4. Alive larvae insects</p>
        <div class="blog-table">
          <table class="table" border="1" cellspacing="0" cellpadding="0" > 
            <tbody>
            <tr class="table-success">
             <td valign="top" ></td>
             <td valign="top" ><p>0 hours</p></td>
             <td valign="top" ><p>6 hours</p></td>
             <td valign="top" ><p>12 hours</p></td>
             <td valign="top" ><p>18 hours</p></td>
             <td valign="top" ><p>24 hours</p></td>
             <td valign="top" ><p>30 hours</p></td>
             <td valign="top" ><p>36 hours</p></td>
             <td valign="top" ><p>42 hours</p></td>
             <td valign="top" ><p>48 hours</p></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>Control</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>OAIP-1/lectina + buffer</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ><p>2</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>OAIP-1/lectina + Hv2a/lectina + buffer</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ><p>1</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>2</p></td>
             <td valign="top" ><p>0</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>3</p></td>
             <td valign="top" ><p>1</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td rowspan="3" valign="top" ><p>Malathion</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>2</p></td>
             <td valign="top" ><p>0</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>2</p></td>
             <td valign="top" ><p>0</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
             <tr>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>5</p></td>
             <td valign="top" ><p>4</p></td>
             <td valign="top" ><p>1</p></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             <td valign="top" ></td>
             </tr>
            
            </tbody>
          </table>
        </div>
        <p class="mt-2">These preliminary data have shown positive results, in which the peptides of Spidicide-CX have a similar effect to the chemical pesticide (Malathion). It is worth mentioning that the concentration of the Malathion solution was high (84% w/v). So, this could explain the rate of dead insects fed with this commercial pesticide.</p>
        <p>In addition, we have to comment that larvae are more sensitive to external conditions. An example of this is that they are photosensitive. Therefore, it is probably correlated with the death rate in Table 2 because most of them died with such a high concentration of Malathion.</p>

        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/safety/poc1.jpg" class="img-fluid col-md-5">
          <img src="https://static.igem.wiki/teams/4422/wiki/safety/poc2.jpg" class="img-fluid col-md-5">
        </div>
        <p class="mt-2 mb-5 text-center">Figure 3. Proof of concept carried out on larvae and adults of the enemy: Cactus weevil</p>
      </div>

      <div class="blog-section" id="references">
        <h2>References</h2>
        <h2 class="blog-title-line"></h2>
        <ul>
          <li><p>Ahmed Wani, T., Masoodi, F., Akhter, R., Akram, T., Gani, A. & Shabir, N. (2022, enero). Nanoencapsulation of hydroxytyrosol in chitosan crosslinked with sodium bisulfate tandem ultrasonication: Techno-characterization, release and antiproliferative properties. Ultrasonics Sonochemistry, 82, 105900. https://doi.org/10.1016/j.ultsonch.2021.105900
          </p></li>
          <li><p>AzoNano. (2018). Applications of Carbon Nanotubes. AZoNano.com. https://www.azonano.com/article.aspx?ArticleID=4842
          </p></li>
          <li><p>Brime, B. (2002). Desarrollo y caracterización farmacotécnica y farmacológica de nuevas formulaciones parenterales de anfotericina B. Tesis Doctoral. Dto. de Farmacia y Tecnología Farmacéutica. Universidad Complutense de Madrid. ISBN: 84-669-2003-4.</p></li>
          <li><p>Calderón-Oliver, M., & Ponce-Alquicira, E. (2022). The role of microencapsulation in food application. Molecules (Basel, Switzerland), 27(5), 1499. https://doi.org/10.3390/molecules27051499</p></li>
          <li><p>ChitoLytic. (2022). Quick Guide: Chitosan Nanoparticles Preparation with Ionic Gelation Method. ChitoLytic. https://chitolytic.com/chitosan-nanoparticles-ionic-gelation/</p></li>
          <li><p>Choudhury, N., Meghwal, M., & Das, K. (2021). Microencapsulation: An overview on concepts, methods, properties and applications in foods. Food Frontiers, 2(4), 426–442. https://doi.org/10.1002/fft2.94</p></li>
          <li><p>Collavini, S., & Delgado, J. L. (2018). Fullerenes: the stars of photovoltaics. Sustainable Energy & Fuels, 2(11), 2480-2493.</p></li>
          <li><p>de Britto, D., de Moura, M. R., Aouada, F. A., Pinola, F. G., Lundstedt, L. M., Assis, O. B. G., & Mattoso, L. H. C. (2014). Entrapment characteristics of hydrosoluble vitamins loaded into chitosan and N,N,N-trimethyl chitosan nanoparticles. Macromolecular Research, 22(12), 1261–1267. https://doi.org/10.1007/s13233-014-2176-9</p></li>
          <li><p>García-Gutiérrez, K., Poggi-Varaldo, H. M., Esparza-García, F., Ibarra-Rendón, J., & Barrera-Cortés, J. (2011). Small microcapsules of crystal proteins and spores of Bacillus thuringiensis by an emulsification/internal gelation method. Bioprocess and Biosystems Engineering, 34(6), 701–708. https://doi.org/10.1007/s00449-011-0519-x
          </p></li>
          <li><p>Hardy MC, Daly NL, Mobli M, Morales RAV, King GF. (2013). Isolation of an Orally Active Insecticidal Toxin from the Venom of an Australian Tarantula. PLoS ONE 8(9): e73136. doi:10.1371/journal.pone.0073136</p></li>
          <li><p>Hayles, J., Johnson, L., Worthley, C. & Losic, D. (2017). Nanopesticides: a review of current research and perspectives. New Pesticides and Soil Sensors, 193-225. https://doi.org/10.1016/b978-0-12-804299-1.00006-0</p></li>
          <li><p>Hofmann, T., Lowry, G. V., Ghoshal, S., Tufenkji, N., Brambilla, D., Dutcher, J. R., Gilbertson, L. M., Giraldo, J. P., Kinsella, J. M., Landry, M. P., Lovell, W., Naccache, R., Paret, M., Pedersen, J. A., Unrine, J. M., White, J. C., & Wilkinson, K. J. (2020). Technology readiness and overcoming barriers to sustainably implement nanotechnology-enabled plant agriculture. Nature Food, 1(7), 416–425. https://doi.org/10.1038/s43016-020-0110-1</p></li>
          <li><p>Industry Today. (2022). Graphene Nanotubes Offer an Advanced Set of Properties | Industry Today. Industry Today. https://industrytoday.com/graphene-nanotubes-offer-an-advanced-set-of-properties/</p></li>
          <li><p>Kah M. & Hofmann T. (2013) Nanopesticide research: Current trends and future priorities. Environ. Int. 2014;63:224–235. doi:10.1016/j.envint.2013.11.015</p></li>
          <li><p>Madhavi, V., Reddy, A. V. B., Madhavi, G., & Reddy, N. B. (2020, November). Nanoencapsulation of pesticides: Sustainable perspective in agriculture. In AIP Conference Proceedings (Vol. 2280, No. 1, p. 040029). AIP Publishing LLC.</p></li>
          <li><p>Mudo, L. M. D., Queiroz, A. F. S., de Melo, N. F., Barbosa, M. A. G., de Andrade, E. C., & de Britto, D. (2022). Stability Evaluation of dsRNA and DNA Encapsulated in Chitosan Nanoparticles. BioNanoScience, 12(3), 774–784. https://doi.org/10.1007/s12668-022-01003-y</p></li>
          <li><p>National Toxicology Program. (2017). NTP Technical Report on the Toxicity Study of Chitosan (CASRN 9012-76-4) Administered in Feed to Sprague Dawley [Crl: CD (SD)] Rats.</p></li>
          <li><p>Nuruzzaman, M. D., Rahman, M. M., Liu, Y., & Naidu, R. (2016). Nanoencapsulation, nano-guard for pesticides: a new window for safe application. Journal of agricultural and food chemistry, 64(7), 1447-1483</p></li>
          <li><p>Nuruzzaman, M., Liu, Y., Rahman, M. M., Dharmarajan, R., Duan, L., Uddin, A. F. M. J., & Naidu, R. (2019). Nanobiopesticides: Composition and preparation methods. Nano-Biopesticides Today and Future Perspectives, 69–131. doi:10.1016/b978-0-12-815829-6.00004-8</p></li>
          <li><p>Patiño, D. (2017). What is the bioactive principle of medicinal plants? Mexico Science and Technology. http://www.cienciamx.com/index.php/tecnologia/biotecnologia/18464-principio-bioactivo-plantas-medicinales</p></li>
          <li><p>Rozman, N. A. S., Tong, W. Y., Leong, C. R., Tan, W. N., Hasanolbasori, M. A., & Abdullah, S. Z. (2019). Potential Antimicrobial Applications of Chitosan Nanoparticles (ChNP). Journal of Microbiology and Biotechnology, 29(7), 1009–1013. https://doi.org/10.4014/jmb.1904.04065</p></li>
          <li><p>Savin, A., Kivshar, Y. Transport of fullerene molecules along graphene nanoribbons. Sci Rep 2, 1012 (2012). https://doi.org/10.1038/srep01012</p></li>
          <li><p>Sharifi-Rad, J., Quispe, C., Butnariu, M., Rotariu, L. S., Sytar, O., Sestito, S., Rapposelli, S., Akram, M., Iqbal, M., Krishna, A., Kumar, N. V. A., Braga, S. S., Cardoso, S. M., Jafernik, K., Ekiert, H., Cruz-Martins, N., Szopa, A., Villagran, M., Mardones, L., & Martorell, M. (2021). Chitosan nanoparticles as a promising tool in nanomedicine with particular emphasis on oncological treatment. Cancer Cell International, 21(1). https://doi.org/10.1186/s12935-021-02025-4</p></li>
          <li><p>Shen, H., Li, Z., Jiang, Y., Pan, X., Wu, J., Cristofori-Armstrong, B., ... & Yan, N. (2018). Structural basis for the modulation of voltage-gated sodium channels by animal toxins. Science, 362(6412).</p></li>
          <li><p>Smith, K., Evans, D.A., El-Hiti, G.A., (2008). Role of modern chemistry in sustainable arable crop protection. Phil. Trans. R. Soc. B. 363, 623–637.</p></li>
          <li><p>Tarun, G., Onkar, S., Saahil, A., & Rsr, M. (2011). Patented Microencapsulation Techniques And Its Application. Psu.edu. Retrieved october 5, 2022, from https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.735.5165&rep=rep1&type=pdf</p></li>
          <li><p>Yang, H., Baek, J. & Park, H.G. Architecture and mass transport properties of graphene-based membranes. JMST Adv. 2, 77–88 (2020). https://doi.org/10.1007/s42791-020-00032-6</p></li>
          <li><p>Zhang, K., Yu, H., Liu, X. et al. Fullerenes and derivatives as electron transport materials in perovskite solar cells. Sci. China Chem. 60, 144–150 (2017). https://doi.org/10.1007/s11426-016-0115-x
          </p></li>
          <li><p>Zhao, Y., Zhao, T., Cao, Y., Sun, J., Zhou, Q., Chen, H., ... & Zhang, S. (2021). Temperature-sensitive lipid-coated carbon nanotubes for synergistic photothermal therapy and gene therapy. ACS nano, 15(4), 6517-6529.</p></li>

        </ul>

      </div>
    </div>
  </div>
</div>



{% endblock %}
