{% extends "layout.html" %}
{% block title %}Requirements{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}


<div class="container-xl shadow-lg ">
  <div class="row justify-content-center">
    
      <img src="https://static.igem.wiki/teams/4422/wiki/criteria-final.jpg" class="img-fluid col-md-6">
  </div>
</div>

{% endblock %}