  
{% block title %}Requirements{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}
<div>
  <img src="" alt="" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row justify-content-center">
    
    <div class="col-md-10">
        <img src="https://static.igem.wiki/teams/4422/wiki/criteria-final.jpg" class="img-fluid">
    </div>
  </div>
</div>

{% endblock %}