{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div >
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/uamb-b.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl">
  <div class="row shadow-lg mt-3 justify-content-center">
    <div class="col-md-10">
      <div class="blog-section" id="overview">
        <h2>Overview</h2>
        <h2 class="blog-title-line"></h2>
        <p>In Mexico, one of the main problems in agriculture is the use of pesticides, which cause health problems in the long term exposure, and its use is against pests such as insects, bacteria, viruses, or animals as they cause economic losses.
        </p>
        <p>Our project aims to develop a biopesticide made of two spider venom peptides to tackle the losses caused to local nopal, avocado, and agave producers by coleopterans, which is considered a pest.  
        </p>
        <p>Experimental work was performed in a Biosafety Laboratory level 1 (BSL-1). The microorganisms that we employ in the lab are <span class="fst-italic"> Escherichia coli</span> (DH5-Alpha strain) and <span class="fst-italic">Pichia pastoris </span> (X-33 strain), which are non-pathogenic organisms and are classified on the iGEM white list. Furthermore, they are well-established and studied.
        </p>
        <p>To synthesize our peptides, we used <span class="fst-italic">Pichia pastoris</span>, which was the selected expression system to execute or express our genetic circuits containing the U1-theraphotoxin-Sp1a and Omega-hexatoxin-Hv2a peptide sequences. 
        </p>
        <p>To carry out this project, we follow the Biosafety Law for Genetically Modified Organisms in Mexico, the General Law of Ecological Equilibrium and Environmental Protection, SEMARNAT rules, and genetic engineering rules in Mexico. 
        </p>
        <p>Also, due to the lack of synthetic biology regulation in Mexico, we considered the Nagoya Protocol, European Commission regulations, and the Manual with FAO and WHO specifications related to the employment of pesticides.
        </p>
        <h5 class="text-center mt-5">But... What do Biosafety and Biosecurity mean? </h5>
        <div class="row justify-content-center ">
          <img src="https://static.igem.wiki/teams/4422/wiki/safety/duda.png"  class="img-fluid col-md-5 img-duda">
        </div>
        
      </div>
      <div class="blog-section mt-5">
        <p>For many people, including members of our team, it is hard to understand the difference between biosafety and biosecurity, which is why in this section, you will have access to a brief introduction of the key and main terms that iGEM's competency handles: 
        </p>
        <p>First of all, synthetic biology allows us to design organisms to take metabolic pathways analogous to those in nature but with new functions (López et al., 2006). The main challenge in synthetic biology is to incorporate each part of the designed biological system to make it function as a cellular machine in the wild. Within the biosafety committee at iGEM UAM, we are interested in safeguarding the safety of those involved in the development and future application of Spidicide-CX. Therefore, our main objective was to demonstrate the safety of our biopesticide through trials with convencional and necessary safety measures. 
        </p>

        <p>Now, let's address some key concepts:</p>
        <div class="row justify-content-center" >
            <div class="bg-b-b p-2 rounded col-md-3 m-3">
                <h2><button class="btn btn-outline-light button-b-b " type="button" data-bs-toggle="collapse" data-bs-target="#what-is-safety" aria-expanded="false" aria-controls="collapseExample"> What is Safety?</button></h2>
                <div class="collapse" id="what-is-safety">
                    <div class="card card-body">
                        Safety is a state in which hazards and conditions that lead to physical, psychological, or material harm control to preserve the health and well-being of people and society.
                    </div>
                </div>
                
            </div>
            <div class="bg-b-b p-2 rounded col-md-3 m-3">
                <h2><button class="btn btn-outline-light button-b-b " type="button" data-bs-toggle="collapse" data-bs-target="#design-involve" aria-expanded="false" aria-controls="collapseExample"> What does a Safety Project Design involve? </button></h2>
                <div class="collapse" id="design-involve">
                    <div class="card card-body">
                        It arises from an established methodology where technological and biological tools to innovate and create a suitable environment apply.
                    </div>
                </div>
                
            </div>
            <div class="bg-b-b p-2 rounded col-md-6 m-3">
                <h2><button class="btn btn-outline-light button-b-b " type="button" data-bs-toggle="collapse" data-bs-target="#differences" aria-expanded="false" aria-controls="collapseExample"> Differences between Biosecurity and Biosafety</button></h2>
                <div class="collapse" id="differences">
                    <div class="card card-body">
                        <p>Biosafety means protecting people and the environment against the unintentional release of pathogenic microorganisms and biological hazards through the use of appropriate protective equipment and working in safety zones, among other actions.</p>
                        <p>Biosecurity, on the other hand, focuses on possible ways to protect people and the environment against the intentional release of biohazards by someone. How do we ensure that no one will intentionally misuse the organisms used? We have to minimize the risks of any kind of accident. We have to rethink the project or anticipate the damage that someone might do to the project.</p>
                    </div>
                </div>
                
            </div>
        </div>


      </div>
      <div class="blog-section mt-5" id="safe-lab-work">
        <h2 class="blog-subtitle">Safe Lab Work</h2>
        <h2 class="blog-title-line"></h2>
        <p>In the proof of concept, we used different reagents and a pesticide called “MALATHION”. For the correct use of these reagents, each member of the team identified the pictograms since it was necessary to have enough information for any accident that could occur during the tests. We also had the essential safety equipment such as safety goggles, closed gowns, and gloves, as well as for some reagents it was necessary to use the extraction cabinet.
        </p>
        <div class="row justify-content-center align-items-between">
          <div class="col-md-5">
            <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta.jpg" alt="lab" class="img-fluid">
          </div>
          <div class="col-md-5">
            <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta2.jpg" alt="lab" class="img-fluid">
          </div>
        </div>
        <p class="text-center mt-2">Figure 1 and 2.  Safety members preparing the proof of concept</p>
        <p class="mt-3">
          In the molecular biology commission, the team members work in a research laboratory where safety and security guidance is provided by the graduate students and the principal investigator, following the well-established rules in the laboratory such as the use of lab coats, safety goggles, and laboratory gloves. In addition, they receive training by a graduate student each time we use new equipment.
        </p>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta3.jpeg" alt="lab" class="img-fluid">
          </div>
          <div class="col-md-5 ">
            <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta4.jpeg" alt="lab" class="img-fluid">

          </div>
        </div>
        <p class="text-center mt-2">Figure 3 and 4. Molecular Biology members concentrated</p>
        <p class="mt-3">On the other hand, the first time we met with farmers in nopal crops, they mentioned that the most commonly used pesticide is Furadan.</p>
        <p>Furadan, commonly known as carbofuran in the poultry industry, is a highly toxic agricultural insecticide, it inhibits acetylcholinesterase and therefore increases acetylcholine, producing symptoms in the insect of hyperexcitation, interruption of the typical transmission of nerve impulses and paralysis, causing death (FARMAGRO, n.d.). It acts by contact or ingestion; the active ingredient is carbofuran which constitutes 33.21%, the rest are inert ingredients. Signs and symptoms of poisoning are headaches, dizziness, weakness, excess saliva, sweat, bronchial mucus, muscle twitching, tremors, nausea, abdominal pains and blurred vision. Respiratory failure, involuntary urination, convulsions and loss of consciousness indicate very severe poisoning (FMC Agroquímica de México, n.d.). 
        </p>
        <p>However, this is a neurotoxic chemical known as one of the deadliest pesticides in history, which is why it has been partially withdrawn from the market in certain countries. Even in some countries, you can still find it on sale illegally.</p>
        <p>Consequently, our commission, responsible for safeguarding our environment and the instruments we use, has decided not to use this chemical in our proof of concept and replace it with Malathion, mentioned above. </p>

        <!--inicia galeria-->
      
        <div class="row justify-content-center align-items-center my-3">
          <div class="col-md-3">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div> 
          
          <div class="col-md-5">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion4.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div> 
          <div class="col-md-5">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion5.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div> 
          <div class="col-md-5">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion9.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div> 
            
              
        </div>
        <!--fin de galeria-->
        <p class="text-center mt-2">Figure 5. Malathion treatment of the proof of concept</p>
        <h4 class="fst-italic mb-3 mt-3">Pandemic Times</h4>
        <p>Throughout the pandemic, we worked with limited access to the laboratory. We requested permission from our advisors to work only 3 hours a day in the laboratory and with the relevant sanitary measures, such as the correct use of masks at all times inside and outside the facilities, as well as the distance between colleagues.
        </p>

      </div>
      <div class="blog-section" id="safe-project-design">
        <h2 class="blog-subtitle">Safe Project Design    </h2>
        <h2 class="blog-title-line"></h2>
        <p>In our project, we used spider venom peptides as active ingredients in our biopesticide. In papers, it is said that spider venoms are particularly rich in neurotoxins that rapidly modify ion conductance, and to a lesser extent affect neurotransmitter exocytosis. These peptides have insecticidal activity and modulate neuronal excitability, resulting in paralysis and death in insects. 
        </p>
        <p>Some spider toxins are highly selective for the neurotoxin receptor sites on insect ion channels. That is the case of our peptides Omega-Hexatoxin-Hv2a and U1-theraphotoxin-Sp1a. We consulted different papers and found that these peptides have no mammalian activity and are harmless to vertebrates. Thus, these insecticidal spider venom peptides cause no adverse effects when injected into rodents, indicating that they are highly selective for insects. </p>
        <p>However, it is registered that the application of Omega-Hexatoxin-Hv2a in high picomolar doses (IC<sub>50</sub> = 130 pM) results in significant inhibition of calcium channels in bee brain neurons. Therefore, we used smaller amounts so that this effect didn't happen. 
        </p>
        <p>For venom peptides to play a competitive role in the bioinsecticide market, they must have:     </p>
        <ul>
          <li>Broad pest-species specificity</li>
          <li>Low toxicity in non-target organisms</li>
          <li>Remain in the environment long enough to be effective; but not so long as to induce resistance development within pest species</li>
          <li>Be readily accessible to both small farmers as well as large agribusinesses</li>
        </ul>
        <p>Our selected peptides meet all these characteristics; however, an optimization in the production costs is needed. 
        </p>
        <p>The project aims to develop a biopesticide made of spider venom peptides. We do not pretend to release living organisms into the environment; the project intends to use the product of a genetically modified microorganism to provide beneficial effects for the environment and society. Also, it is important to mention since the peptides degrade in a few days (about a week), there is low environmental risk. 
        </p>
        <p>To determine the level of allergies our peptides may cause, we used the I-TASSER server that uses the Protein Data Bank database, using the format of the proteins contained in our biopesticide. From the results obtained, through homology, those similar peptides were selected, and finally, a bibliographic review was done of the allergies that the peptides may present in humans. To see how we did this, go to the <a href="{{url_for('pages',page="proof-of-concept")}}" class="btn btn-outline-success text-decoration-none "> Spidicide-CX section</a></p>
        <p>The team member's knowledge of risk management was obtained through autodidactic research and by the guidance of our advisors who have important knowledge in bioethics and biosecurity. Also, we attended iGEM Values & Risks Workshops for the last two years, and in the lab we receive training each time a new equipment is used.</p>
        <p>In addition, our project was approved by the Academic Bioethics Commission, giving us confidence in the project's progress. This point is further explained below. 
        </p>
        <p>Finally, we want to tell you that during all laboratory work, we considered the Biosafety and Biosecurity Manual we designed for the iGEM Design League in 2021. In that manual, we recollected and proposed the minimum security procedures in the synthetic biology laboratory, as well as all the regulations of synthetic biology in our country and some European rules.

        </p>
      </div>
      <div class="blog-section mb-5" id="our-support">
        <h2 class="blog-subtitle">Our Support</h2>
        <h2 class="blog-title-line mb-3"></h2>
        <p>The Academic Divisional Ethics Committee of the Division of Biological and Health Sciences of the Universidad Autónoma Metropolitana was born in 2007 to apply the principles of ethics in research conducted at our university. 
        </p>
        <p>It aims to inform the community about the national and international ethical norms applicable to health, biotechnological, and biological research. They seek to generate guidelines on compliance with the ethical aspects of research, teaching, dissemination of culture, and service. 
        </p>
        <p>The guidelines structured by this Commission have been for research on human beings, domestic and laboratory animals, wildlife, biotechnology, and aquatic resources. 
        </p>
        <p>The general principles of the Commission establish that ethics builds a universe of orientations, ideals, and values in which the human condition can live; for this reason, ethics is the enveloping abode of the human condition. Ethics is based on the concept that human action is inseparable from its interpretation by self-consciousness. The ethical sense is the reflection of human activity as it is involved in the key of responsibility and commitment to oneself, to others and the environment.
        </p>
        <p>The Commission is in charge of reviewing, approving, and making recommendations on the ethical aspects of research projects presented within our university. On August 16, 2022, the Ethics Commission issued a judgment indicating that our project comply with the guidelines for the ethical conduct of research, teaching, and dissemination, thus <a href="https://static.igem.wiki/teams/4422/wiki/safety/dictamen.pdf" target="_blank" class="text-decoration-none btn btn-outline-success"> approving Spidicide-CX</a>. After this, the committee provided feedback and raised some questions that we answered in the <a href="{{url_for('pages',page="faqs")}}" class="btn btn-outline-success">FAQs section. </a>
        </p>
        <p>The Ethics Commission watches over the ethical aspects of the diversity of topics carried out within our university. So, the members are from various disciplines taking care of the balance and plurality in the departmental participation. The members of the Commission are: 
        </p>
        <!--imagen con despliegue-->
        <div class="row justify-content-center align-items-center">
          <div class="col-md-3 me-2 esquema-circulo">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#eugenia-zamudio" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/mujer.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="eugenia-zamudio">
              <div class="card card-body">
                <h5>M. en C. Ma. Eugenia Zamudio Reséndiz            </h5>
                <p>Maria Eugenia has a master's degree in marine sciences and is an associate professor in the Department of Hydrobiology, focusing on the marine and brackish phytoplankton laboratory. For 20 years, she has been dedicated to phytoplankton richness and biogeography in the Mexican Pacific and Gulf of Mexico coasts.
                </p>
              </div>
            </div>
            
          </div>
          <div class="col-md-3 me-2 ">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#maria-rosario" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/mujer.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="maria-rosario">
              <div class="card card-body">
                <h5>Ma. del Rosario Tarragó Castellanos, PhD </h5>
                <p>She is the president of the Commission and our advisor to the safety and security section; you can find more information about her contribution to the team <a href="{{url_for('pages',page="attributions")}}" class="btn btn-outline-success">here</a>. Dr. Maria del Rosario's line of research is on phytoestrogens and reproduction. She has specialties in radioimmunoassay, and her fields of application are in the higher education sector</p>
              </div>
            </div>

          </div>
          <div class="col-md-3  esquema-circulo ">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#juan-vargas" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/hombre.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="juan-vargas">
              <div class="card card-body">
                <h5>Juan Manuel Vargas Romero, PhD.      </h5>
                <p>Dr. Juan Manuel is the secretary of the Commission. He works in the department of reproductive biology, and his area of research is in agricultural production systems.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#francisco-alarcon" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/hombre.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="francisco-alarcon">
              <div class="card card-body">
                <h5>Francisco Javier Alarcón Aguilar, PhD.</h5>
                <p>Dr. Francisco has a postgraduate degree in experimental biology, and his main lines of research are pharmacology, medicinal plants and natural products, diabetes mellitus, obesity, and metabolic syndrome.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 esquema-circulo2">
            
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/circulo.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-3">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#ramon-camarena" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/hombre.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="ramon-camarena">
              <div class="card card-body">
                <h5>Ramón González Camarena, PhD. </h5>
                <p>Dr. Ramón's main line of research is human physiology, specializing in cardiovascular-respiratory physiology. Therefore, his field of application is in the health sector.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#ricardo-lopez" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/hombre.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="ricardo-lopez">
              <div class="card card-body">
                <h5>Ricardo López Wilchis, PhD.             </h5>
                <p>Dr. Ricardo has as his main line of research the basic aspects of the biology of endemic species and ecological characterization of local and regional faunas. His specialty is in mastozoology.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#armando-mejia" aria-expanded="false" aria-controls="collapseExample">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/hombre.png" alt="" class="img-fluid">
            </button>
            <div class="collapse" id="armando-mejia">
              <div class="card card-body">
                <h5>Armando Mejía Álvarez, PhD.            </h5>
                <p>Dr. Armando's main lines of research are the biosynthesis of antibiotics by actinomycetes, the production of secondary metabolites of industrial interest by solid fermentation, and the improvement by genetic engineering of microorganisms of industrial interest. He has specialties in molecular biology and microbial biochemistry. 
                </p>
              </div>
            </div>
          </div>


        </div>
        <p class="text-center mt-2">Figure 6. Members of the UAM Ethics Committee</p>


      </div>
      <div class="blog-section" id="what-does-the-future-hold">
        <h2 class="blog-subtitle">What Does the Future Hold? </h2>
        <h2 class="blog-title-line mb-5"></h2>
        <p>The biopesticide will be used as an alternative to red-label chemical pesticides because these cause several health problems to farmers and crop soils. It will be placed on the surface of target crops, to combat the pests that affect these crops.
        </p>
        <p>
          Thinking about future risks, we consider that our biopesticide could cause an ecological imbalance. Although our peptides are specific to insect orders, the biopesticide could attack insects of the same order that are part of the food chain and cause an ecological disturbance. Also, eliminate the coleopteran pests, our target pest, because the data about it is very empirical and its role in food chains is still unknown. However, we also investigated and most insects of the order Coleoptera are considered pests, so their control would be favorable for agriculture. Nevertheless, it is essential to study the impact of the peptides in other animals and insects.

        </p>
        <p>In this season, we found that solar radiation is the main factor that will help the degradation of our peptides. Because of lack of time, we can not achieve this, but we intend to determine the speed of degradation of our peptides by exposure to UV radiation. For this, we will have six fractions of each one of the peptides. Each fraction will be exposed at different times to UV radiation: 0 minutes, 15 minutes, 30 minutes, 60 minutes, 90 minutes, and 120 minutes. Then we will run electrophoresis to determine if the peptides were fractionated split. Click the figure to preview the protocol:</p>

        <div class="row justify-content-center">
          <a href="https://static.igem.wiki/teams/4422/wiki/safety/degradation-benchling.pdf" class="col-md-12 row justify-content-center" target="_blank"><img src="https://static.igem.wiki/teams/4422/wiki/safety/spidicide-cx-degradation.png" class="img-fluid col-md-10"></a>
        </div>

        

      </div>
      <div class="blog-section mt-5" id="know-the-enemy">
        <img src="https://static.igem.wiki/teams/4422/wiki/banners/knowtheenemy.png" class="img-fluid">
        <p class="mt-5">According to the National Institute of Ecology and Climate Change in our country, all cultivated plants face phytosanitary problems caused by different organisms such as insects, mites, nematodes, rodents, fungi, bacteria, and viruses, among others. The nopal crop is also susceptible to attack by various phytoparasites, where a particular beetle is considered one of the most frequent pests. 
        </p>
        <h4 class="text-center">We introduce you to our worst enemy throughout this season…</h4>
        <h3 class="mt-5 text-center">The Cactus Weevil of scientific name <span class="text-center mt-5 fst-italic"> Cactophagus spinolae</span></h3>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudo.jpg" alt="" class="img-fluid mt-3  col-md-7">
        </div>
        <p class="text-center mt-2">Figure 7. The Cactus Weevil</p>

        <p class="mt-4">Conforming to the bibliographic data and thanks to our principal stakeholder, we learned that the cactus weevil is a beetle belonging to the Coleoptera order of the family <span class="fst-italic">Curculionidae</span>. To learn more about it, click on cactus weevils that are going to eat the nopal. 
        </p>


        <!-- empieza nopal con picudos-->
        <div class="row align-items-center justify-content-center mb-3">
          <div class="col-3 me-2 picudito-top">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito1">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Adults appear in May and are black with two red spots on the anterior part of the prothorax and two orange bands on the elytra, measuring 43 to 46 mm in length. 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal-->
          </div>
          <div class="col-3 me-2 ">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito2">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    The females deposit their eggs in the lower parts of the plants and the protected sites of the stalks. These eggs are described as ivory colored, shiny, and without superficial sculpture.

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal-->
          </div>
          <div class="col-3 me-2 picudito-top">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito3">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Larvae are 25 to 31 mm long, apodous, photosensitive, and soft white. The head is dark red with strong jaws. If they are exposed to the sun for a long time, they acquire a black color and die. 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 picudito-sidel ">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito4">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    At the end of their larval development, they build a cell with chewed fibers to become pupae and spend the winter.

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 nopal-alone">
            <img src="https://static.igem.wiki/teams/4422/wiki/safety/nopal-alone.png" alt="" class="img-fluid">
          </div>

          <div class="col-3 picudito-sider ">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito5">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Adults feed on the edges of tender and well-protected stalks. The larvae feed on the tissues and make galleries in the internal part of the axes. The affected parts accumulate rubbery secretions that indicate the presence of larvae inside the stalks.

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 me-2 picudito-bottom">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito6">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    These weevils do not fly, but their wings are large, exceeding the length of their body once they open.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 me-2 picudito-bottom">
            <button  class="btn  picudo" data-bs-toggle="modal" data-bs-target="#picudito7">
              <img src="https://static.igem.wiki/teams/4422/wiki/safety/picudito.png" alt="" class="img-fluid">
            </button>
            <!--modal-->
            <div class="modal fade" id="picudito7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    It wasn't possible to differentiate the females from the males with the naked eye; we only can know up to the moment when these small guys decided to reproduce.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center mt-2">Figure 8. Cactus weevils savoring the nopal</p>
        <!-- termina nopal con picudos-->
        <p>The adult can control it manually since it can be captured and destroyed by hand, as it is not very active (or so they led us to believe) and walks on the stalks from May to September. Larvae can be extracted from wounds using a knife; they can be localized by the masses of secretion flowing from the damaged spot. 
        </p>
        <p>To most common pesticides used in crops to control adults are Malathion 84 % in doses of 1.5 lt/ha; Folidol at 50% and Azinfo methyl 25 %  at 1 to 1.5 lt/ha or Endosulfan 35 % in a proportion of 1 to 2 lt/ha, each product can be dissolved in 200 lt of water (INECC, 2007).
        </p>
        <p>Well, you already soaked a little bit about our enemy, so now we will tell you what we learned thanks to <span class="fst-italic"> El Milpaltense </span>, who was our principal supplier of weevils and in our experience in the captivity of these animals for the proof of concept. 
        </p>
        <p>The local company from Milpa Alta, <span class="fst-italic">El Milpaltense</span>, emerged as a family business. It's considered a medium-sized producer since it owns 15 hectares, where the type of intensive agriculture is present, which implies more use of land to produce the maximum possible yield since its production is destined exclusively for the industry. 
        </p>
        <p><span class="fst-italic">El Milpaltense</span> has been growing nopal for more than 20 years, and the cactus weevil has always been a problem, causing several issues during all stages of growth. As larvae, they feed on the tissues and make holes in the internal part of the nopal, and as adults, they feed on the edges of the nopal causing direct damage.
        </p>
        <p>All this causes the loss of the entire cactus plantation in most cases. Producers have mentioned that it takes a long time for the plant to renew and grow to an adequate size, and this is reflected in production losses, directly affecting daily income. The losses generated by this pest range from 5 to 8 tons or 20-30%, depending on the hectares that have been cultivated. All the nopales that are affected by the pests are used as fertilizer. For these reasons, our friend <span class="fst-italic">El Milpaltense</span> does not like this weevil, and therefore, neither do we.
        </p>
        <div class="row justify-content-center">
          <img src="https://static.igem.wiki/teams/4422/wiki/safety/el-milpaltense.jpg" alt="" class="img-fluid mb-3 col-md-8">
        </div>
        <p class="text-center ">Figure 9.  Weevil hunting with the help of our friend Don Carlos from the <span class="fst-italic">El Milpaltense</span> Company</p>
        <p class="mt-2">Once we had permission to use the weevils through the safety forms provided by iGEM, we resorted to capturing the weevils and their larvae. </p>
        <p>For their capture, we resorted to looking for rules with appropriate measures for the welfare of the weevils. We took into account the five rules of freedom stipulated by the WHO/WHO institutions, considering during the whole process the following:
        </p>
        <ol>
          <li>Freedom from Hunger and Thirst: By ready access to fresh water and diet to maintain health and vigor.
          </li>
          <li>Freedom from Discomfort: Provide an appropriate environment including shelter and a comfortable resting area.
          </li>
          <li>Freedom from Pain, Injury or Disease: By prevention or rapid diagnosis and treatment.
          </li>
          <li>Freedom to Express Normal Behavior: By providing sufficient space, proper facilities, and the company of the animal’s kind.
          </li>
          <li>Freedom from Fear and Distress: By ensuring conditions and treatment which avoid mental suffering.</li>
        </ol>
        <p>Following these rules, we looked at collection methods and techniques for coleopterans. We found that the most conventional methods are the flight intersect trap, collection with lights, chemical attractants like pheromones, and direct collection. This last was we chose to perform. 
        </p>
        <p>The direct collection uses a hand net with an extendable handle to hit the plants and receive the insects that fall. When we arrived at <span class="fst-italic">El Milpaltense</span> in Milpa Alta, we wanted to apply this method, but it was hard because the cactus stalks are harsh, and the weevils hold onto them tightly with their legs. Don Carlos, our principal guide in the search for weevils, told us that this method would not work to grasp them. The best thing to do was to take the insects directly and place them in the box previously tidy for their capture. 
        </p>
        <p>The ethology of the weevils that we can observe is curious. We realized that they are not as inactive as the literature suggests; they are active, so we had a hard time keeping them in the containers. At the beginning of the captivity, they used to eat a lot and generated a strange viscosity in the nopales. They degraded it until it looked like a green paste and gave off unpleasant odors.
        </p>
        <p>It was a pleasant experience to learn about these weevils since there is not much information about them. Despite they are a pest that causes the most damage to crops that give national identity, such as nopal. 
        </p>
        <div class="row justify-content-center">

          <img src="https://static.igem.wiki/teams/4422/wiki/safety/collage-picudos.png" alt="" class="img-fluid col-md-6">
        </div>
        <p class="text-center mt-2">Figure 10. Morphology of the Cactus Weevil</p>

        <h3 class="mt-4">Hunting the Enemy</h3>
        <p>Initially, during the collection of the weevils, we considered at all times the 5 rules of freedom stipulated by the OMS/WHO institutions. In addition, we prepared a logbook to document the process. 
        </p>
        <p>We searched for bibliographic information for the care of weevils, obtaining the following general annotations in the lab: 
        </p>
        <ul>
          <li><span class="fw-bold">Housing for weevils</span>: We get plastic containers for their housing with a 5 cm layer of soil, the soil should be moist but not extremely wet. In addition, we included wood, branches and sticks. <br>We get a spotlight so that the weevil can move around the light source to choose its preferred temperature.
          </li>
          <li><span class="fw-bold">Weevil feed</span>: We feed the weevils with nopales inside the container. The weevils were constantly fed with fresh food every two days. In addition, we removed the nopales waste that was inside the container.
          </li>
          <li><span class="fw-bold">Weevil friendly environment</span>: To determine the appropriate environment, we check the soil temperature and humidity required by the weevil every day. According to the literature, the temperature among the beetles ranges from 26 to 33°C.
          </li>
        </ul>
      </div>
      <div class="blog-section mt-5" id="engagement">
        <h2>Engagement with the community</h2>
        <h2 class="blog-title-line"></h2>
        <p>We implemented a mini-manual as a guide for the employment of our biopesticide, addressed to farmers. In addition, we wrote it in a clear, easy-to-understand, and non-technical way. 
        </p>
        <p>In our field visits to these communities, we realized that it is complicated for farmers to access accurate information about the products they use to counteract pests. So, this was the principal reason for the creation of this manual; we want to bring farmers closer to the information. Besides, offer them another alternative to the products they use since they do not know the risks they are exposed to with the constant use of pesticides and the consequences of the lack of adequate personal protective equipment. 
        </p>
        <p>This manual includes a glossary, a brief introduction to synthetic biology, also national and international regulations in this field. It also addresses the issue of pesticides, our proposal to replace them with a biopesticide, and finally, provides safety recommendations for the employ of all these products. 
        </p>
        <p>Attached here is the PDF of our handbook guide. The purpose in the future would be that once the necessary resources are obtained, the handbook guide reaches the communities of nopal, avocado, and agave farmers in a physical form.
        </p>

        <iframe src="https://static.igem.wiki/teams/4422/wiki/safety/manual-para-agricultores.pdf" frameborder="0" width="100%" height="500px"></iframe>
      </div>
      <div class="blog-section" id="references">
        <h2>References</h2>
        <h2 class="blog-title-line"></h2>
        <ul>
          <li><p>FARMAGRO S.A. (s.f.). Ficha técnica: FURADAN 4F. [Archivo PDF]. http://www.farmagro.com.pe/media_farmagro/uploads/ficha_tecnica/furadan_ficha_tecnica.pdf</p>
          
          </li>
          <li><p>FMC Agroquímica de México, S. de R. L. de C. V. (s.f.). Ficha técnica: FURADAN 350 L. [Archivo PDF]. http://innovacionagricola.com/wp-content/uploads/2016/10/Furadan-350-L-FICHA-TECNICA.pdf</p>
          </li>
          <li><p>Instituto Nacional de Ecología y Cambio Climático (INECC). (2007). Plagas y enfermedades.http://www2.inecc.gob.mx/publicaciones2/libros/70/plagas.html#:~:text=Barrenador%20del%<br>20nopal%20(Moneilema%20spp,periodos%20prolongados%20sin%20ingerir%20alimentos.</p>
          </li>
          <li><p>López, Marta; Gema Ruiz Romero, Gema; Mallorquín, Paloma; y Vega, Miguel. (2006). Biología Sintética. Informe de Vigilancia Tecnológica, Genoma España. ISBN: 84-609-9761-8. Recuperado en: https://icono.fecyt.es/sites/default/files/filepublicaciones/2006-biologia_sintetica-pub_75_d.pdf</p>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

{% endblock %}
