{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div >

  <img src="https://static.igem.wiki/teams/4422/wiki/banners/spidicidesafety.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl">
  <div class="blog-section">
    <h1 class="blog-title">Overview</h1>
    <p>In Mexico one of the main problems in agriculture is the use of pesticides, which causes health problems in long-term exposition. Its use is due to pests such as insects, bacteria, virus, or animals; and these pests cause economical loses.
    </p>
    <p>Our project aims to develop a biopesticide (Spidicide-CX) made by two spider venom peptides to tackle the losses caused to local nopal, avocado, and agave producers by coleopterans, which is considered a pest. </p>
    <p>To synthesize our peptides, we used Pichia pastoris as our chassis, which is within the White List. Also, it was the selected expression system to execute or express our genetic circuits containing the U1-theraphotoxin-Sp1a and Omega-hexatoxin-Hv2a peptide sequences. 
    </p>
    <img src="" alt="safety-team" class="img-fluid">
  </div>
</div>

{% endblock %}
