{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div >

  <img src="https://static.igem.wiki/teams/4422/wiki/banners/overview.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl shadow-lg mt-3">
  <div class="blog-section">
    <p>In Mexico, one of the main problems in agriculture is the use of pesticides, which cause health problems in the long term exposure, and its use is against pests such as insects, bacteria, viruses, or animals as they cause economic losses.
    </p>
    <p>Our project aims to develop a biopesticide made of two spider venom peptides to tackle the losses caused to local nopal, avocado, and agave producers by coleopterans, which is considered a pest.  
    </p>
    <p>Experimental work was performed in a Biosafety Laboratory level 1 (BSL-1). The microorganisms that we employ in the lab are <span class="fst-italic"> Escherichia coli</span> (DH5-Alpha strain) and <span class="fst-italic">Pichia pastoris </span> (X-33 strain), which are non-pathogenic organisms and are classified on the iGEM white list. Furthermore, they are well-established and studied.
    </p>
    <p>To synthesize our peptides, we used <span class="fst-italic">Pichia pastoris</span>, which was the selected expression system to execute or express our genetic circuits containing the U1-theraphotoxin-Sp1a and Omega-hexatoxin-Hv2a peptide sequences. 
    </p>
    <p>To carry out this project, we follow the Biosafety Law for Genetically Modified Organisms in Mexico, the General Law of Ecological Equilibrium and Environmental Protection, SEMARNAT rules, and genetic engineering rules in Mexico. 
    </p>
    <p>Also, due to the lack of synthetic biology regulation in Mexico, we considered the Nagoya Protocol, European Commission regulations, and the Manual with FAO and WHO specifications related to the employment of pesticides.
    </p>
    <img src="" alt="safety-team" class="img-fluid">
  </div>
</div>

{% endblock %}
