{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}
<div>
  <img src="https://static.igem.wiki/teams/4422/wiki/banners/software.png" alt="banners" class="img-fluid">
</div>

<div class="container-xl shadow-lg ">
  <div class="row">
    <div class="col-md-2">
      Index
    </div>
    <div class="col-md-9">
      <div>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
