{% extends "layout.html" %}

<!--aos-->
<link href="{{ url_for('static', filename = 'aos.css') }}" rel="stylesheet" />

{% block page_content %}
<div class="container-xl">
  <div class="row align-items-center mt-5">
    <!--Start  member1-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo1"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/alan-herrera.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Alan Herrera</h3>
          </a>
          <div class="collapse" id="colapsainfo1">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member1-->

    <!--Start  member2-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo2"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/eder-jes-s-huerta-castro.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Edher Huerta Castro</h3>
          </a>
          <div class="collapse" id="colapsainfo2">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member2-->

    <!--Start  member3-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo3"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/edher-daniel-hern-ndez-mart-nez.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Daniel Hernández Martínez</h3>
          </a>
          <div class="collapse" id="colapsainfo3">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member3-->

    <!--Start  member4-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo4"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/fernanda-marin.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Fernanda Marin</h3>
          </a>
          <div class="collapse" id="colapsainfo4">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member4-->

    <!--Start  member5-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo5"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo5">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member5-->
    <!--Start  member6-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo6"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo6">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member6-->

    <!--Start  member7-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo7"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo7">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member7-->

    <!--Start  member8-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo8"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo8">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member8-->

    <!--Start  member9-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo9"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo9">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member9-->

    <div class="col-md-6 mt-5" data-aos="flip-left">
      <img
        src="https://static.igem.wiki/teams/4422/wiki/logoigemuam.png"
        alt="logoigemuam"
        class="img-fluid member-img"
      />
    </div>

    <!--Start  member10-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo10"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo10">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member10-->
    <!--Start  member11-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo11"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo11">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member11-->

    <!--Start  member12-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo12"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo12">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member12-->

    <!--Start  member13-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo13"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo13">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member13-->

    <!--Start  member14-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo14"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo14">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member14-->

    <!--Start  member15-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo15"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo15">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member15-->

    <!--Start  member16-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo16"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo16">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member16-->

    <!--Start  member17-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo17"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo17">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member17-->

    <!--Start  member18-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo18"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo18">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member18-->

    <!--Start  member19-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo19"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo19">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member19-->

    <!--Start  member20-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo20"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg"
              alt="logoigemuam"
              class="img-fluid member-img"
            />
            <h3 class="ms-3">Jhon Doe</h3>
          </a>
          <div class="collapse" id="colapsainfo20">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span></p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member20-->
  </div>
</div>

{% endblock %}
