{% extends "layout.html" %}

<!--aos-->
<link href="{{ url_for('static', filename = 'aos.css') }}" rel="stylesheet" />

{% block page_content %}
<div class="container-xl">
  <div class="row align-items-center justify-content-center mt-5">
    <!--Start  member1-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo1"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/andreasanchez.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo1">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span> Human Practices</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I love neuroscience and all the wonders and mysticism of the mind. 
                <br>
                <span class="fs-5">Hobbies:</span> I like to read about science, play piano and guitar, and practice every kind of sport that makes me fall and feel the adrenaline.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member1-->

    <!--Start  member2-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo2"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/paolamedina2.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo2">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Human Practices
              </p>
              <p class="card-text">
                <span class="fs-5">About me:</span> I love sharing the science topics I learn in college using simple words through social media to the general public, because I believe the world needs to know less about gossip and more about science.
                <br>
                <span class="fs-5">Hobbies:</span>Watch science fiction movies, spend time with my dog, and read about science.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member2-->

    <!--Start  member3-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo3"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/angelmartinez.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo3">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span> Human Practices</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I love the defense strategies of the immune system, the incredible regulation of epigenetics and the interaction that is generated with the endocrine system. 
                <br>
                <span class="fs-5">Hobbies</span>Play basketball  or exercise in general, grow plants, spend time with my family, read and listen to music.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member3-->

    <!--Start  member4-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo4"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/simoncaudillo.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo4">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Human Practices</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> I like microbiology, such as microalgae, bacteria and fungi that can be found in everyday life. And I love penguins.
                <br>
                <span class="fs-5">Hobbies</span>Folkloric dance, embroidery, I like to spread science through my YouTube channel.


              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member4-->

    <!--Start  member5-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo5"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/alanherrera.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo5">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Protein Modelling</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>The best part of science is knowing, for a moment, something that nobody else in the world knows
                <br>
                <span class="fs-5">Hobbies:</span>I love watching movies, reading, spending time with my family and friends, and petting cats.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member5-->
    <!--Start  member6-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo6"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/greciagarcia.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo6">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Wet Lab</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> Through science I discover the unknowns in nature.
                <br>
                <span class="fs-5">Reading lots of books, learning about art history, playing with my doggy 
                </span>

            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member6-->

    <!--Start  member7-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo7"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/lizethflores.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo7">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Education & Bioentrepeneurship </p>
              <p class="card-text">
                <span class="fs-5">About me:</span> Oh, sandunga! Happy to be in a poet life who enjoys the harmony of living with nature and non-reality.
                <br>
                <span class="fs-5">Hobbies:</span> I enjoy going to concerts, they are so frenetic, my being has that magnet spark of the stage.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member7-->

    <!--Start  member8-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo8"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/axelsalinas.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo8">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Protein Modelling</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I am widely interested in the study of rare diseases and cellular processes. A Biologist by birth, a Doctor by training :)
                <br>
                <span class="fs-5">Hobbies:</span>I like to play the guitar, do art challenges, go to the gym and go on trips.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member8-->

    <!--Start  member9-->
    <div class="col-md-3 mt-5" data-aos="fade-down">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo9"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/adrianguerrero.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo9">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Protein Modelling</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> I like running, listen to music and walk around the city
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member9-->

    <div class="col-md-6 mt-5" data-aos="flip-left">
      <img
        src="https://static.igem.wiki/teams/4422/wiki/logoigemuam.png"
        alt="logoigemuam"
        class="img-fluid "
      />
    </div>

    <!--Start  member10-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo10"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/emmanuelrojas.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo10">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Wet Lab</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member10-->
    <!--Start  member11-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo11"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/mauriciotovar.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo11">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Mathematical Model
              </p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I like to write equations and try to predict the future, but I don’t like crystal balls.
                <br>
                <span class="fs-5">Hobbies:</span>I like play video games, I watch anime at 3 am to be happy.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member11-->

    <!--Start  member12-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo12"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/laurareyes.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo12">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Mathematical Model</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I see Mathematics as a puzzle which I have to solve, so it is fascinating for me to learn about it. 
                <br>
                <span class="fs-5">Hobbies:</span> I love to read, play tennis, paint, garden and learn new languages. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member12-->

    <!--Start  member13-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo13"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/jaquiehernandez.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo13">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Mathematical Model 
              </p>
              <p class="card-text">
                <span class="fs-5">About me:</span> The more I learn about science, the less I know but that’s the reason I continue to ask questions and try to contribute something to the world with the knowledge that I am acquiring throughout my education.
                <br>
                <span class="fs-5">Hobbies:</span>I’m interested in travel, nature, baking, drawing and creativity. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member13-->

    <!--Start  member14-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo14"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/mauriciocarrasco.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo14">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Mathematical Model</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> “First microorganisms, then the world!”
                <br>
                <span class="fs-5">Hobbies:</span>Making my own art in soundcloud, drawing and painting, listening to music, learning about biohacking, open-science and trying to start my own start-up.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member14-->

    <!--Start  member15-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo15"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/fernandamarin.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo15">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Biosafety & Biosecurity</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nihil rem illo sunt aut, autem
                nobis at libero neque dolorum voluptate, itaque amet earum ex
                excepturi illum doloribus ad enim? Tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member15-->

    <!--Start  member16-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo16"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/ximenaorozco.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo16">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Biosafety & Biosecurity</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we can fear less.
                <span class="fs-5">Hobbies</span>Doing puzzles, listening to music and roller skating.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member16-->

    <!--Start  member17-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo17"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/edherhernandez.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo17">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Biosafety & Biosecurity</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> I love gaining knowledge about the world through chemical, physical and mathematical processes
                <br>
                <span class="fs-5">Hobbies</span> I like to play video games, listen to music and go to the gym.

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member17-->

    <!--Start  member18-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo18"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/luiscarrasco.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo18">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Protein modelling and Biosafety & Biosecurity
              </p>
              <p class="card-text">
                <span class="fs-5">About me:</span>I’m interested in pharmacology and the interaction of drugs in biological systems.
                <span class="fs-5">Hobbies</span>Listening to music, reading books, and hanging out with friends.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member18-->
    <!--Start  member19-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo19"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/mariananoriega.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo19">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Human Practices</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> What I like most about science is that it is not absolute and allows correction based on evidence.
                <span class="fs-5">Do science outreach.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member19-->

    <!--Start  member20-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo20"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/ederhuerta.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo20">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Communication</p>
              <p class="card-text">
                <span class="fs-5">About me:</span> If motivate to somene you want, work in yourself you must.
                <span class="fs-5">Take trips by myself , go swimming, learn new things, photograph any living organism .</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member20-->

    <!--Start  member20-->
    <div class="col-md-3 mt-5" data-aos="fade-up">
      <div class="tarjeta">
        <div class="cuerpo-card">
          <a
            class="text-decoration-none text-dark"
            data-bs-toggle="collapse"
            href="#colapsainfo20"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://static.igem.wiki/teams/4422/wiki/teammembersimg/danielatonal.jpg"
              alt=""
              class="img-fluid member-img"
            />
          </a>
          <div class="collapse" id="colapsainfo20">
            <div class="card-body">
              <p class="card-text"><span class="fs-5">Rol:</span>Communication</p>
              <p class="card-text">
                <span class="fs-5">About me:</span>i´m interested in web development  and the automatization of processes.  
                <span class="fs-5">Hobbies</span> I love playing all types of video games and learning new code technologies. I also like to swim, run and play soccer.
                

              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fin de tarjeta-->
    </div>
    <!--End of member20-->
  </div>
</div>

{% endblock %}
