{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div >

  <img src="https://static.igem.wiki/teams/4422/wiki/banners/uamb-b.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl shadow-lg">
  <div class="blog-section mt-5">
    <p>For many people, including members of our team, it is hard to understand the difference between biosafety and biosecurity, which is why in this section, you will have access to a brief introduction of the key and main terms that iGEM's competency handles: 
    </p>
    <p>First of all, synthetic biology allows us to design organisms to take metabolic pathways analogous to those in nature but with new functions (López et al., 2006). The main challenge in synthetic biology is to incorporate each part of the designed biological system to make it function as a cellular machine in the wild. Within the biosafety committee at iGEM UAM, we are interested in safeguarding the safety of those involved in the development and future application of Spidicide-CX. Therefore, our main objective was to demonstrate the safety of our biopesticide through trials with convencional and necessary safety measures. 
    </p>

    <p>Now, let's address some key concepts:</p>
    <div class="row justify-content-center" >
        <div class="bg-success p-2 rounded col-md-3 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#what-is-safety" aria-expanded="false" aria-controls="collapseExample"> What is Safety?</button></h2>
            <div class="collapse" id="what-is-safety">
                <div class="card card-body">
                    Safety is a state in which hazards and conditions that lead to physical, psychological, or material harm control to preserve the health and well-being of people and society.
                </div>
            </div>
            
        </div>
        <div class="bg-success p-2 rounded col-md-3 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#design-involve" aria-expanded="false" aria-controls="collapseExample"> What does a Safety Project Design involve? </button></h2>
            <div class="collapse" id="design-involve">
                <div class="card card-body">
                    It arises from an established methodology where technological and biological tools to innovate and create a suitable environment apply.
                </div>
            </div>
            
        </div>
        <div class="bg-success p-2 rounded col-md-6 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#differences" aria-expanded="false" aria-controls="collapseExample"> Differences between Biosecurity and Biosafety</button></h2>
            <div class="collapse" id="differences">
                <div class="card card-body">
                    <p>Biosafety means protecting people and the environment against the unintentional release of pathogenic microorganisms and biological hazards through the use of appropriate protective equipment and working in safety zones, among other actions.</p>
                    <p>Biosecurity, on the other hand, focuses on possible ways to protect people and the environment against the intentional release of biohazards by someone. How do we ensure that no one will intentionally misuse the organisms used? We have to minimize the risks of any kind of accident. We have to rethink the project or anticipate the damage that someone might do to the project.</p>
                </div>
            </div>
            
        </div>
    </div>


  </div>
  <div class="blog-section" id="safe-lab-work">
    <h2 class="blog-subtitle">Safe Lab Work</h2>
    <h2 class="blog-title-line"></h2>
    <p>In the proof of concept, we used different reagents and a pesticide called “MALATHION”. For the correct use of these reagents, each member of the team identified the pictograms since it was necessary to have enough information for any accident that could occur during the tests. We also had the essential safety equipment such as safety goggles, closed gowns, and gloves, as well as for some reagents it was necessary to use the extraction cabinet.
    </p>
    <div class="row justify-content-center align-items-between">
      <div class="col-md-5">
        <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta.jpg" alt="lab" class="img-fluid">
      </div>
      <div class="col-md-5">
        <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta2.jpg" alt="lab" class="img-fluid">

      </div>
    </div>
    <p class="mt-3">
      In the molecular biology commission, the team members work in a research laboratory where safety and security guidance is provided by the graduate students and the principal investigator, following the well-established rules in the laboratory such as the use of lab coats, safety goggles, and laboratory gloves. In addition, they receive training by a graduate student each time we use new equipment.
    </p>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 ">
        <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta3.jpeg" alt="lab" class="img-fluid">
      </div>
      <div class="col-md-5 ">
        <img src="https://static.igem.wiki/teams/4422/wiki/safety/esta4.jpeg" alt="lab" class="img-fluid">

      </div>
    </div>
    <p class="mt-3">On the other hand, the first time we met with farmers in nopal crops, they mentioned that the most commonly used pesticide is Furadan.</p>
    <p>Furadan, commonly known as carbofuran in the poultry industry, is a highly toxic agricultural insecticide, it inhibits acetylcholinesterase and therefore increases acetylcholine, producing symptoms in the insect of hyperexcitation, interruption of the typical transmission of nerve impulses and paralysis, causing death (FARMAGRO, n.d.). It acts by contact or ingestion; the active ingredient is carbofuran which constitutes 33.21%, the rest are inert ingredients. Signs and symptoms of poisoning are headaches, dizziness, weakness, excess saliva, sweat, bronchial mucus, muscle twitching, tremors, nausea, abdominal pains and blurred vision. Respiratory failure, involuntary urination, convulsions and loss of consciousness indicate very severe poisoning (FMC Agroquímica de México, n.d.). 
    </p>
    <p>However, this is a neurotoxic chemical known as one of the deadliest pesticides in history, which is why it has been partially withdrawn from the market in certain countries. Even in some countries, you can still find it on sale illegally.</p>
    <p>Consequently, our commission, responsible for safeguarding our environment and the instruments we use, has decided not to use this chemical in our proof of concept and replace it with Malathion, mentioned above. </p>

    <!--inicia galeria-->
   
    <div class="row justify-content-center align-items-center my-3">
      <div class="col-md-3">
        <img
          src="https://static.igem.wiki/teams/4422/wiki/safety/malathion3.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
        />
      </div> 
      
      <div class="col-md-5">
        <img
          src="https://static.igem.wiki/teams/4422/wiki/safety/malathion4.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
        />
      </div> 
      <div class="col-md-5">
        <img
          src="https://static.igem.wiki/teams/4422/wiki/safety/malathion5.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
        />
      </div> 
      <div class="col-md-5">
        <img
          src="https://static.igem.wiki/teams/4422/wiki/safety/malathion9.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
        />
      </div> 
        
          
    </div>
    <!--fin de galeria-->
    <h4 class="fst-italic mb-3">Pandemic Times</h4>
    <p>Throughout the pandemic, we worked with limited access to the laboratory. We requested permission from our advisors to work only 3 hours a day in the laboratory and with the relevant sanitary measures, such as the correct use of masks at all times inside and outside the facilities, as well as the distance between colleagues.
    </p>

  </div>
  <div class="blog-section" id="safe-project-design">
    <h2 class="blog-subtitle">Safe Project Design    </h2>
    <h2 class="blog-title-line"></h2>
    <p>In our project, we used spider venom peptides as active ingredients in our biopesticide. In papers, it is said that spider venoms are particularly rich in neurotoxins that rapidly modify ion conductance, and to a lesser extent affect neurotransmitter exocytosis. These peptides have insecticidal activity and modulate neuronal excitability, resulting in paralysis and death in insects. 
    </p>
    <p>Some spider toxins are highly selective for the neurotoxin receptor sites on insect ion channels. That is the case of our peptides Omega-Hexatoxin-Hv2a and U1-theraphotoxin-Sp1a. We consulted different papers and found that these peptides have no mammalian activity and are harmless to vertebrates. Thus, these insecticidal spider venom peptides cause no adverse effects when injected into rodents, indicating that they are highly selective for insects. </p>
    <p>However, it is registered that the application of Omega-Hexatoxin-Hv2a in high picomolar doses (IC<sub>50</sub> = 130 pM) results in significant inhibition of calcium channels in bee brain neurons. Therefore, we used smaller amounts so that this effect didn't happen. 
    </p>
    <p>For venom peptides to play a competitive role in the bioinsecticide market, they must have:     </p>
    <ul>
      <li>Broad pest-species specificity</li>
      <li>Low toxicity in non-target organisms</li>
      <li>Remain in the environment long enough to be effective; but not so long as to induce resistance development within pest species</li>
      <li>Be readily accessible to both small farmers as well as large agribusinesses.</li>
    </ul>
    <p>Our selected peptides meet all these characteristics; however, an optimization in the production costs is needed. 
    </p>
    <p>The project aims to develop a biopesticide made of spider venom peptides. We do not pretend to release living organisms into the environment; the project intends to use the product of a genetically modified microorganism to provide beneficial effects for the environment and society. Also, it is important to mention since the peptides degrade in a few days (about a week), there is low environmental risk. 
    </p>
    <p>To determine the level of allergies our peptides may cause, we used the I-TASSER server that uses the Protein Data Bank database, using the format of the proteins contained in our biopesticide. From the results obtained, through homology, those similar peptides were selected, and finally, a bibliographic review was done of the allergies that the peptides may present in humans. To see how we did this, go to the <a href="{{url_for('pages',page="faqs")}}" class="btn btn-outline-success text-decoration-none "> FAQs section</a></p>
    <p>The team member's knowledge of risk management was obtained through autodidactic research and by the guidance of our advisors who have important knowledge in bioethics and biosecurity. Also, we attended iGEM Values & Risks Workshops for the last two years, and in the lab we receive training each time a new equipment is used.</p>
    <p>Finally, our project was approved by the Academic Bioethics Commission, giving us confidence in the project's progress. This point is further explained below. 
    </p>
    <p>In addition, we want to tell you that during all laboratory work, we considered the Biosafety and Biosecurity Manual we designed for the Design League 2021. In that manual, we recollected and proposed the minimum security procedures in the synthetic biology laboratory, as well as all the regulations of synthetic biology in our country and some European rules.

    </p>
    <p>For this season, it was one of the key documents on which we relied to keep following the safety conditions of our project. Here is the manual: 
    </p>
    <iframe src="https://static.igem.wiki/teams/4422/wiki/safety/biosafety-and-biosecurity-manual.pdf" width="100%" height="500px"></iframe>

  </div>
  <div class="blog-section">
    <h2 class="blog-subtitle">Our Support</h2>
    <h2 class="blog-title-line mb-3"></h2>
    <p>The Academic Divisional Ethics Committee of the Division of Biological and Health Sciences of the Universidad Autónoma Metropolitana was born in 2007 to apply the principles of ethics in research conducted at our university. 
    </p>
    <p>It aims to inform the community about the national and international ethical norms applicable to health, biotechnological, and biological research. They seek to generate guidelines on compliance with the ethical aspects of research, teaching, dissemination of culture, and service. 
    </p>
    <p>The guidelines structured by this Commission have been for research on human beings, domestic and laboratory animals, wildlife, biotechnology, and aquatic resources. 
    </p>
    <p>The general principles of the Commission establish that ethics builds a universe of orientations, ideals, and values in which the human condition can live; for this reason, ethics is the enveloping abode of the human condition. Ethics is based on the concept that human action is inseparable from its interpretation by self-consciousness. The ethical sense is the reflection of human activity as it is involved in the key of responsibility and commitment to oneself, to others and the environment.
    </p>
    <p>The Commission is in charge of reviewing, approving, and making recommendations on the ethical aspects of research projects presented within our university. On August 16, 2022, the Ethics Commission issued a judgment indicating that our project comply with the guidelines for the ethical conduct of research, teaching, and dissemination, thus approving Spidicide-CX. After this, the committee provided feedback and raised some questions that we answered in the <a href="{{url_for('pages',page="faqs")}}" class="btn btn-outline-success">FAQs section. </a>
    </p>
    <p>The Ethics Commission watches over the ethical aspects of the diversity of topics carried out within our university. So, the members are from various disciplines taking care of the balance and plurality in the departmental participation. The members of the Commission are: 
    </p>

    
  </div>
</div>

{% endblock %}
