{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div >

  <img src="https://static.igem.wiki/teams/4422/wiki/banners/uamb-b.png" alt="banner" class="img-fluid">
</div>
<div class="container-xl shadow-lg">
  <div class="blog-section">
    <p>For many people, including members of our team, it is hard to understand the difference between biosafety and biosecurity, which is why in this section, you will have access to a brief introduction of the key and main terms that iGEM's competency handles: 
    </p>
    <p>First of all, synthetic biology allows us to design organisms to take metabolic pathways analogous to those in nature but with new functions (López et al., 2006). The main challenge in synthetic biology is to incorporate each part of the designed biological system to make it function as a cellular machine in the wild. Within the biosafety committee at iGEM UAM, we are interested in safeguarding the safety of those involved in the development and future </p>
    <p>Now, let's address some key concepts: </p>
    <p>First of all, synthetic biology allows us to design organisms to take metabolic pathways analogous to those in nature but with new functions (López et al., 2006). The main challenge in synthetic biology is to incorporate each part of the designed biological system to make it function as a cellular machine in the wild. Within the biosafety committee at iGEM UAM, we are interested in safeguarding the safety of those involved in the development and future 
    </p>
    <div class="row justify-content-center">
        <div class="bg-success p-2 rounded col-md-3 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#what-is-safety" aria-expanded="false" aria-controls="collapseExample"> What is Safety?</button></h2>
            <div class="collapse" id="what-is-safety">
                <div class="card card-body">
                    Safety is a state in which hazards and conditions that lead to physical, psychological, or material harm control to preserve the health and well-being of people and society.
                </div>
            </div>
            
        </div>
        <div class="bg-success p-2 rounded col-md-3 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#design-involve" aria-expanded="false" aria-controls="collapseExample"> What does a Safety Project Design involve? </button></h2>
            <div class="collapse" id="design-involve">
                <div class="card card-body">
                    It arises from an established methodology where technological and biological tools to innovate and create a suitable environment apply.
                </div>
            </div>
            
        </div>
        <div class="bg-success p-2 rounded col-md-6 m-3">
            <h2><button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#differences" aria-expanded="false" aria-controls="collapseExample"> Differences between Biosecurity and Biosafety</button></h2>
            <div class="collapse" id="differences">
                <div class="card card-body">
                    <p>Biosafety means protecting people and the environment against the unintentional release of pathogenic microorganisms and biological hazards through the use of appropriate protective equipment and working in safety zones, among other actions.</p>
                    <p>Biosecurity, on the other hand, focuses on possible ways to protect people and the environment against the intentional release of biohazards by someone. How do we ensure that no one will intentionally misuse the organisms used? We have to minimize the risks of any kind of accident. We have to rethink the project or anticipate the damage that someone might do to the project.</p>
                </div>
            </div>
            
        </div>
    </div>


  </div>
  <div class="blog-section">
    <h2 class="blog-subtitle">Safe Lab Work</h2>
    <h2 class="blog-title-line"></h2>
    <p>In the proof of concept, we used different reagents and a pesticide called “MALATHION”. For the correct use of these reagents, each member of the team identified the pictograms since it was necessary to have enough information for any accident that could occur during the tests. We also had the essential safety equipment such as safety goggles, closed gowns, and gloves, as well as for some reagents it was necessary to use the extraction cabinet.</p>

    <!--inicia galeria-->
   
    <div class="row justify-content-center align-items-center my-3">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion1.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
          />
      
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion2.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion3.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
          />
      
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion4.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion5.jpg"
            class="w-100 shadow-1-strong rounded mb-4" />
      
          <img
            src="https://static.igem.wiki/teams/4422/wiki/safety/malathion11.jpg"
            class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion7.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
        
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion8.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div>
        
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion9.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
        
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion10.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
            />
          </div>
        
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://static.igem.wiki/teams/4422/wiki/safety/malathion6.jpg"
              class="w-100 shadow-1-strong rounded mb-4" />
          </div>
    </div>
    <!--fin de galeria-->
    <p>In the molecular biology commission, the team members work in a research laboratory where safety and security guidance is provided by the graduate students and the principal investigator, following the well-established rules in the laboratory such as the use of lab coats, safety goggles, and laboratory gloves. In addition, they receive training by a graduate student each time we use new equipment.    </p>
    <img src="" alt="image of molecular">
    <p>On the other hand, the first time we met with farmers in nopal crops, they mentioned that the most commonly used pesticide is Furadan.    </p>
    <p>Furadan, commonly known as carbofuran in the poultry industry, is a highly toxic agricultural insecticide, it inhibits acetylcholinesterase and therefore increases acetylcholine, producing symptoms in the insect of hyperexcitation, interruption of the typical transmission of nerve impulses and paralysis, causing death (FARMAGRO, n.d.). It acts by contact or ingestion; the active ingredient is carbofuran which constitutes 33.21%, the rest are inert ingredients. Signs and symptoms of poisoning are headaches, dizziness, weakness, excess saliva, sweat, bronchial mucus, muscle twitching, tremors, nausea, abdominal pains and blurred vision. Respiratory failure, involuntary urination, convulsions and loss of consciousness indicate very severe poisoning (FMC Agroquímica de México, n.d.). </p>
    <p>However, this is a neurotoxic chemical known as one of the deadliest pesticides in history, which is why it has been partially withdrawn from the market in certain countries. Even in some countries, you can still find it on sale illegally.</p>
    <p>Consequently, our commission, responsible for safeguarding our environment and the instruments we use, has decided not to use this chemical in our proof of concept and replace it with Malathion, mentioned above.</p>
    <h3 class="fst-italic">Pandemic Times</h3>
    <p>Throughout the pandemic, we worked with limited access to the laboratory. We requested permission from our advisors to work only 3 hours a day in the laboratory and with the relevant sanitary measures, such as the correct use of masks at all times inside and outside the facilities, as well as the distance between colleagues.
    </p>

  </div>
</div>

{% endblock %}
